[2017-01-15 18:25] kyessenov opened #44 "Add support for L4 network filters to the mixer client"
Currently, API manager operates at L7 (http*, grpc). We want L4 visibility into traffic for the mixer. This requires adding a network filter in Envoy and connecting it to the mixer client or extending the existing Envoy stats/tracing framework. Please check whether the provided L4 and L7 filters can operate on the same listener.

[2017-01-19 00:15] ayj commented on #44
This should be doable in Envoy. Network filters can be chained together and the http_connection_manager is one type of network filter that dispatches out to any registered HTTP filters.

See [here](https://github.com/lyft/envoy/blob/master/test/config/integration/server.json) for example envoy configuration with L4 (ratelimit) and L7 filters operating on the same listener.

[2017-01-19 02:27] kyessenov opened #47 "Apply api_manager per route not per listener"
Right now api_manager operates as a standalone filter. We want to have multiple APIs hosted in the same HTTP filter in various virtual_hosts and routes within them. We should be able to attach OpenAPI per route in the http connection manager.

[2017-01-20 21:57] kyessenov commented on #44
@ayj Yes, we will to insert two filters at L4 and L7 for mixer client. I want to make sure that they can cooperate (e.g. do we send one "check" and "quota" call or two?)

[2017-01-21 05:52] ayj commented on #44
Ideally, how do we want "check" and "quota" to behave with L4 and L7? My guess is that we'd want L4-level check/quota to apply for the initial L4 connection and then L7-level check/quota to apply once L7 traffic flows in addition to applying L4 quota.

From envoy perspective this might work if the mixer client's L7 filter appears in the config before the L4 filter. If the L7 filter stops filter pr

[2017-01-21 12:31] mandarjog opened #50 "Add responseTime, orignIp, originHost attributes to mixer client."
Process and Send the following attributes in `contrib/endpoints/src/api_manager/mixer/mixer.cc`
[code]

These attributes will enable an interesting istio demo.

[2017-01-21 16:26] qiwzhang commented on #44
@ayj From L4 and L7 filters, if we can extract some sort of request_id to identify it is the same request, then mixer client can add some logic when calling Check and Quota.

[2017-01-21 16:42] qiwzhang commented on #50
Just want to clarify.
responseTime is the timestamp, not latency.
originHost:   what does "matched vhost" mean?   the vm running ESP?

[2017-01-21 17:27] mandarjog commented on #50
Request time stamp should give us that info.

We want the total time taken by request. I have updated the descriptions

[2017-01-21 17:57] qiwzhang commented on #50
I see.  it is requestLatency: the total latency seen by the proxy including backend.   I think calling it "requestLatency" is clearer.

What about originHost?  what does "matched vhost" mean?

[2017-01-21 23:27] kyessenov commented on #44
L4 operates at connection level, so I'm not sure you can extract request there. L4 and L7 are sequenced as two independent filters in Envoy.

[2017-01-21 23:49] qiwzhang commented on #44
One L4 connection may have many L7 requests (e.g. HTTP2).  For Check() and Quota,  most likely L4 and L7 should have different policy and should be done  independently.

If we want to associate a L7 request to a L4, we could use tcp tuple (src ip/port, dst ip/port).

[2017-01-22 00:37] lizan commented on #44
It should be possible to:
- generate an unique id for each L4 connection (might already exist in envoy)
- add that as an attribute in L7 filter

Getting L4 connection info from L7 filter might need some changes in Envoy, but it is feasible

[2017-01-27 02:24] qiwzhang commented on #50
I started to work on this one.

[2017-01-27 03:33] kyessenov commented on #50
How do you plan to associate source IP to a service in envoy? Based on
reverse lookup to a cluster? Should the mixer perform the lookup? What
about TCP?

On Thu, Jan 26, 2017, 6:24 PM Wayne Zhang <notifications@github.com> wrote:

[2017-01-27 03:41] qiwzhang commented on #50
This could be a config issue.  If envoy is supporting multiple services, there must a way to associate a HTTP request to a service.

[2017-01-27 03:48] kyessenov commented on #50
One solution is to make source envoy insert a header like Mandar suggests.
Envoy should get a list instances in the same pod or node at configuration
time and insert them as source service headers. There could be many
services and versions sharing an instance. We need to add a hook to insert
headers in the routing table in envoy, if that's not implemented.

On Thu, Jan 26, 2017, 7:41 PM Wayne Zhan

[2017-01-27 03:49] kyessenov commented on #50
This of course doesn't work for TCP and HTTPS.

On Thu, Jan 26, 2017, 7:48 PM Kuat Yessenov <kuat@google.com> wrote:

[2017-01-28 17:23] mandarjog commented on #50
@qiwzhang I have added 2 more attributes. targetService, originServiceAccount.

TCP/ HTTPS tbd.

[2017-01-28 22:26] qiwzhang commented on #50
https://github.com/istio/proxy/pull/57

[2017-02-03 00:01] kyessenov opened #63 "Publish Ubuntu Xenial binary tagged by SHA"
We want to use Proxy binaries without recompiling Envoy in docker xenial-based image.

[2017-02-09 00:27] mandarjog opened #76 "publish proxy docker image to gcr"
mixer uses `gcr.io/istio-testing/mixer:experiment`
proxy should do the same.

[2017-02-09 00:32] kyessenov commented on #76
we already discussed this - proxy is a self-contained binary that's not meant to be deployed as-is in k8s. each PR publishes a .tar.gz to GCS bucket.

[2017-02-09 00:39] #63 closed

[2017-02-09 01:04] sebastienvas commented on #63
It does it for PR and I need to set it up for Postsubmit as well. It creates a SHA256 that we should be able to use in other module bazel WORKSPACE.

[2017-02-10 22:37] #76 closed

[2017-02-10 23:07] qiwzhang opened #84 "Read attributes for envoy.conf and pass them to mixer"
Now the mixer filer config in the Envoy config has:

"config": {
                  "mixer_server": "localhost:9091"
          }

We can extend it as:

"config": {
   "mixer_server": "localhost:9091",
   "attributes": {
              "target.service": "foo",
             "source.name": "bar"
         }
 }

Proxy just read all of them and pass them to Mixer.   When deployment manager generating this

[2017-02-10 23:08] qiwzhang commented on #84
@kyessenov Will this work?

[2017-02-10 23:08] qiwzhang commented on #84
@chowchow316 could you help with this one?

[2017-02-13 18:18] chowchow316 commented on #84
I'm starting to work on this one.

[2017-02-13 23:30] qiwzhang opened #88 "Support multiple upstream services when reading mixer attributes from config."
This is a follow up issue from https://github.com/istio/proxy/pull/87

This needs to be extended to include upstream_cluster. @rshriram did something similar for the fault injection filter. Basically, the problem is that if you have two upstream clusters "service_a" and "service_b" in the same http connection manager (say via weighted cluster block), you need to send two different sets of attribut

[2017-02-13 23:33] kyessenov opened #89 "HTTP filter ordering"
Mixer filter needs to be the first one in the chain since it runs a Check call and terminates the request early. There are other filters that claim they need to be first (fault injection). Let's fix the ordering.

[2017-02-14 00:27] chowchow316 commented on #84
#87

[2017-02-14 00:27] #84 closed

[2017-02-14 01:10] rshriram commented on #89
If routing happens before before mixer, and fault injection is part of routing, then fault injection filter needs to be in place before the mixer. Either this, or move the fault injection into the mixer. If you want to test the ability of the application to recover from the impact of rate limiting (e.g., a 503 return code), are you going to write a mixer attribute stuff, just to test this? or are

[2017-02-14 02:04] kyessenov commented on #89
I think both are valid use cases:
- static routing fault filter that uses local HTTP headers/request level information
- dynamic mixer filter that injects failures based on the global picture of the mesh
So it makes sense to support both. So the question is which one wins? I think mixer should win since it can be applied immediately while fault filter requires a new config re-load, which is a heav

[2017-02-14 04:15] rshriram commented on #89
Well, you have to convince @louiscryan and and Sven. :). I tried earlier. I
too think that the fault injection is better served at the mixer and
greatly simplifies routing configuration as well. But if this is going to
move into mixer, then it needs to have some special hacks, as Envoy already
has a fault filter in place that hooks into the routing plane to delay
requests, drop them, etc.

On Mon,

[2017-02-16 17:32] chowchow316 commented on #50
Per discussion with @mandarjog, status_code is also needed here.

[2017-02-16 23:58] kyessenov opened #105 "bazelify c-ares"
envoy added a new dependency on c-ares for DNS.
We need to add a bazel build file for it.

[2017-02-22 02:30] chowchow316 commented on #50
#110 to send status code to Mixer.

[2017-02-22 18:55] #105 closed

[2017-02-22 18:59] qiwzhang opened #118 "use StringMap for attribute request.headers and response.headers"
Mixer API supports StringMap value type now.

https://github.com/istio/api/blob/master/mixer/v1/attributes.proto

Mixer client needs to use it to send request.headers and response.headers.

[2017-02-23 17:19] andraxylia opened #121 "Use an uniform tagging system across all docker istio images (manager, mixer, proxy)"
Build system (jenkins/travis) applies:

1.  "date+build#" , where date is YYYY-MM-DD-HH:SS ; required on all images
      - date is a must giving Bazel build produces incorrect date
      - build# - keep in mind that Mixer is on travis, manager + proxy + app (runtime) are on Jenkins

2.  short SHA - required on all images
      github search repo with short SHA will find the commit directly, no ne

[2017-02-23 17:27] sebastienvas commented on #121
Thanks Andra. Do you know who created the docker hub for istio ?

On Thu, Feb 23, 2017 at 9:19 AM, Andra Cismaru <notifications@github.com>
wrote:

[2017-02-23 23:19] andraxylia commented on #121
I do not know.

On Thu, Feb 23, 2017 at 9:27 AM, Sebastien Vas <notifications@github.com>
wrote:

[2017-02-24 00:22] kyessenov commented on #121
@rshriram I think.

[2017-02-24 01:58] rshriram commented on #121
I did. And I think you guys have admin perms to add Sebastian

[2017-02-24 04:34] andraxylia commented on #121
Sebastien, you are already added:

https://hub.docker.com/u/istio/dashboard/teams/?team=owners

On Thu, Feb 23, 2017 at 5:58 PM, Shriram Rajagopalan <
notifications@github.com> wrote:

[2017-02-24 07:02] sebastienvas commented on #121
Yes thanks! With Jason we've update Manager to push images to docker hub.
Will update other modules later.

On Thu, Feb 23, 2017 at 8:34 PM, Andra Cismaru <notifications@github.com>
wrote:

[2017-02-24 16:49] andraxylia commented on #121
Great, thank you!

Andra

On Thu, Feb 23, 2017 at 11:02 PM, Sebastien Vas <notifications@github.com>
wrote:

[2017-02-25 01:21] qiwzhang commented on #118
https://github.com/istio/proxy/pull/129

[2017-02-25 01:21] #118 closed

[2017-02-25 01:31] qiwzhang commented on #50
Most of these attributes are read from envoy.conf. Deployment manager will write these info into envoy.conf and Mixer-client will read them and pass them to mixer.
For target.* fields,  they will be in the "attributes" field in the "mixer" filter.
For source.* fields, they can be in the "attribute" filed in the "forward_attribute" filter.
Please see src/envoy/mixer/README.md for detail.

[2017-02-25 01:31] #50 closed

[2017-02-27 17:20] wattli opened #131 "Auth: Extract service account out from SAN field in cert"
More detail: https://docs.google.com/document/d/1vNLGLKS6ddYKCL4a5TYGLnNiP-dn_aOa4ukdAe2_oI4/edit?ts=58a6012a#

[2017-03-10 02:07] qiwzhang commented on #121
Jenkins Postsubmit test is already doing this.

[2017-03-10 02:07] #121 closed

[2017-03-10 02:10] qiwzhang commented on #131
https://github.com/istio/proxy/pull/142

[2017-03-10 02:10] #131 closed

[2017-03-14 01:23] jasminejaksic opened #163 "gRPC <-> JSON/REST Transcoding"

[2017-03-14 01:25] jasminejaksic opened #164 "Proxy configuration to produce attributes"
Define config for proxy on what attributes need to be extracted for Check, Report and Quota

[2017-03-14 01:27] jasminejaksic opened #165 "Attribute value extraction"
Extract attributes such as source.name.

[2017-03-14 01:29] jasminejaksic opened #166 "Latency-sensitive autoscaling"
Feed latency signals back to k8s to enable latency-sensitive autoscaling

[2017-03-14 01:35] jasminejaksic opened #167 "Add TCP Filter"
Add TCP filters to call Mixer check, report and Quota

[2017-03-14 01:42] jasminejaksic opened #168 "Tracing Support"
Latency Tracing, Functional Tracing and Trace Propagation

[2017-03-15 20:49] jasminejaksic opened #174 "Deployment into existing K8s clusters using admission controller"
Tracking issue.

[2017-03-15 20:50] jasminejaksic opened #175 "Efficient quota support for Mixer client"
Hook up quota call in proxy with quota cache

[2017-03-15 21:49] rshriram commented on #168
Zipkin integration.

[2017-03-15 23:08] qiwzhang opened #176 "Extract mixer attributes from envoy config per route"
Use opaque data for filter in the Route config

https://github.com/istio/manager/issues/332#issuecomment-286867930

[2017-03-15 23:14] kyessenov commented on #47
duplicate of #176

[2017-03-15 23:14] #47 closed

[2017-03-15 23:18] kyessenov commented on #174
This is a wrong repo. Should be in manager.

[2017-03-15 23:18] #174 closed

[2017-03-15 23:18] kyessenov commented on #167
duplicate of #44. Is this really for alpha?

[2017-03-15 23:18] #167 closed

[2017-03-15 23:23] kyessenov commented on #88
@mandarjog is there any use case that we need to send different sets of attributes from the client side proxy? Do you want an ability to send "mixer config ID" to a subset of upstream clusters?

[2017-03-15 23:23] kyessenov commented on #44
Is this really for alpha?

[2017-03-16 12:05] rshriram commented on #88
I do not understand the issue fully. Where are these mixer attributes
defined and where is this config being read from? Perhaps agreeing on a
common terminology would really help.

So even though there are multiple upstream services, only one is chosen
finally. From any filter, you can identify the upstream cluster that was
chosen from the active stream. The cluster choice is cached.

On Wed, Mar

[2017-03-16 19:58] jasminejaksic commented on #167
That was my understanding based on the feature prioritization we did a few weeks ago. But I agree it's not needed for MVP, more of a nice-to-have for Alpha.

[2017-03-17 22:51] #176 closed

[2017-03-18 01:52] esnible opened #187 "Idea: if proxy is not compatible with manager or mixer it 503s all outbound traffic"
The debuggability of the system might be improved if the proxy and manager/mixer compared versions and if the  versions did not match the proxy would configure Envoy to return HTTP 502 or 503 with body such as "Istio proxy version 0.123 not compatible with Istio mixer version 0.132".

Currently version mismatches between the proxy and other components look like connectivity or HTTP problems to the

[2017-03-20 19:11] qiwzhang commented on #187
gRPC and protobuf are very good at compatibility by design.  That is why a client doesn't need to ask the server version, all versions should work.  It is not a good idea to introduce version checking in order to work around some bugs. (The current in-compatibility is introduced by a bug, ideally, it should be reversed).

[2017-03-20 19:11] #187 closed

[2017-03-20 19:39] kyessenov commented on #187
Manager and proxy are packaged together and guaranteed to work. `istioctl` and manager should utilize versioning. Proxy and mixer are GRPC client/server so as long as mixer stays backwards compatible we're good. I do think we need some tag/label to identify which mixer works with which proxy now that we broke compatibility.

[2017-03-22 18:50] lizan commented on #163
Also tracked here: https://github.com/lyft/envoy/issues/501

[2017-03-29 22:57] qiwzhang commented on #164
For now,  proxy extracts all attributes it can get for Check and Report.  It reads envoy mixer filter config for quota metrics and check_cache_keys.    This should be good for alpha.
We can define proxy config for these in beta.

[2017-03-31 04:28] sebastienvas opened #209 "Rename Proxy image to be envoy"
Due to https://github.com/istio/manager/pull/430, we need to rename proxy to some other name. Ie envoy.

[2017-04-01 14:50] #88 closed

[2017-04-06 18:39] chowchow316 commented on #168
https://github.com/lyft/envoy/issues/430
It seems that Envoy is already in the progress of support Zipkin with Tracing.

[2017-04-06 20:29] rshriram commented on #168
Yes, @fabolive is working on that.

[2017-04-07 01:29] lizan opened #228 "Split transcoding library into another repo"
Split `contrib/endpoints/src/grpc/transcoding` into a separate repo so it can be consumed in lyft/envoy#501.

- Add a README for usage, build, link.
- Clean up BUILD (`transcoder_factory` may need to remain in this repo)

@rkpagadala will work on this.

[2017-04-07 23:08] ZackButcher commented on #165
Istio's canonical attributes are listed [here](https://github.com/istio/istio.github.io/blob/master/docs/reference/attributes.md). There's a few more that the proxy can provide but is not today:

* request.method - the HTTP method of the request, e.g. POST, PUT, GET, etc.
* request.referer - HTTP `Referer` header
* request.scheme - this can be hard coded to HTTP since attributes are produced in an

[2017-04-09 18:18] chowchow316 commented on #168
Is there any ongoing effort on Mixer side? Do we need to make proxy tracing consistent with Mixer tracing? @douglas-reid @geeknoid

[2017-04-10 13:05] geeknoid commented on #168
@ZackButcher

[2017-04-10 15:29] douglas-reid commented on #168
There is an effort. We initially provided OpenTracing support for mixer handling. There is work left to determine how to pass traces from the proxy through the mixer to a tracing backend.

[2017-04-11 20:28] sebastienvas commented on #209
Manager and Proxy produce the same proxy docker images. We need to update this ASAP.

[2017-04-11 20:33] kyessenov commented on #209
Can you just not produce the image? Noone is using it.

[2017-04-11 21:57] #209 closed

[2017-04-17 19:52] smawson opened #249 "Add support for API Specs to Istio Proxy"
Istio should support API specifications, and when present the proxy should produce specification-related attributes. This includes:
- Figuring out what attributes should be produced by the proxy for an API spec.
- Figure out how to configure an API spec (possibly split into separate issue in another repo).

[2017-04-19 00:24] smawson commented on #165
We could ignore origin.ip and origin.port for now if we want to, that's meant to be passed from the ingress proxy. So proxy-specific how it wants to do that, x-forward-for would be reasonable if it is supported by envoy easily.

source.ip/port are just from the connection, yeah.

[2017-04-19 22:09] ZackButcher commented on #165
Per a chat with @smawson we're going to punt on the `origin` attributes till we nail down ingress, but we should still try to get in the others for alpha. @qiwzhang is there anything that you know of in Envoy that'd make getting any of these hard? If not I might try my hand at adding them.

[2017-04-19 22:16] qiwzhang commented on #165
Hi @ZackButcher It will be great if you can help.  I am kind of short handed.

it will be straight forward to get these request.* attributes.
source.ip we could get it from XFF, but not sure about source.port

It will be hard to get target.ip and port in Envoy.  @lizan or @kyessenov  may know how

[2017-04-20 17:27] geeknoid opened #254 "Update copyrights"
Update all copyright messages to say Copyright XXX Istio Authors.

[2017-04-20 18:01] ZackButcher commented on #165
So adding all of the request attributes is easy and I'll be sending out a PR implementing it soon. However, source.ip/port are harder because the mixerclient does not yet support IP_ADDRESS attributes. I'm eyeing up what it'd take to implement that in the mixerclient.

[2017-04-20 22:24] #254 closed

[2017-04-25 00:33] qiwzhang commented on #175
https://github.com/istio/proxy/pull/259

[2017-04-25 00:33] #175 closed

[2017-04-25 17:57] kyessenov opened #263 "Allow fail-open and fail-closed calls in mixerfilter"
Currently, failure to send calls to Mixer causes the proxy to deny all requests. We need to make this behavior configurable and allow fail-open option globally or per service.

@louiscryan @ZackButcher @qiwzhang

[2017-04-25 18:07] qiwzhang commented on #263
We can do a global one first.    How about adding this flag in mixer filter config

network_fail_policy: open or close.

Default is open.

[2017-04-25 18:20] kyessenov commented on #263
Sounds reasonable. We may need fail-close for stronger authz but that is for later.

[2017-04-25 18:21] qiwzhang commented on #263
Do we need this for alpha? Or this can wait?

[2017-04-25 18:23] kyessenov commented on #263
Make it default fail-open for alpha?

On Tue, Apr 25, 2017 at 11:21 AM Wayne Zhang <notifications@github.com>
wrote:

[2017-04-25 21:25] #263 closed

[2017-04-28 23:43] louiscryan opened #278 "Extension mechanism for network"
@mpnally

[2017-04-28 23:47] louiscryan commented on #278
@kyessenov
@rshriram

Standardize a mechanism around the proxy config proto that allows folks to customize the produced topology so that they can layer in specific rules.

For example a system which uses K8S annotations to define routing rules based on paths could receive the proto we generate it and customize it before we emit it to the proxies.

It seems sensible to do this by making an API call

[2017-04-28 23:48] louiscryan commented on #278
@mnally the proto in question is defined here
https://github.com/istio/api/blob/master/proxy/v1/config/cfg.proto

[2017-04-29 00:37] rshriram commented on #278
Actually please take a look at
https://github.com/rshriram/api/ (under proxy/v1/config/ folder.).
I split up the large file into smaller parts and added bunch of examples as
well.
On Fri, Apr 28, 2017 at 7:48 PM Louis Ryan <notifications@github.com> wrote:

--

~shriram

[2017-04-30 23:40] mandarjog opened #279 "mixer filter aborts due to a call to pure_virtual ()"
When proxy is put under load this seems to happen.
How to recreate:
Install bookinfo.

[code]

[code]

[2017-05-02 00:06] kyessenov commented on #278
So there are multiple questions in this issue:
1) hooks to post-process route rules - something like the admission controller can be easily added in unprincipled way
2) multiple sources for distinct route rules - also not a problem as long as we have strict precedence and name collision resolution guarantees. This is what happens with ingress resources right now, they are converted to something li

[2017-05-02 00:38] kyessenov commented on #278
Just spoke to @louiscryan and trying to work out your deployment configuration.
1. The route rules are structured around "destination" fields that are basically "virtual hosts". Right now, the internal routes require that the destination maps to a k8s service (e.g. "a.default.svc.cluster.local") but that can be extended to support arbitrary virtual hosts, if necessary.

2. Each route rule has a na

[2017-05-02 01:09] mpnally commented on #278
We don't define any K8S services in our clusters, and we mostly have a
single virtual host. When one pod wants to access another "service", it
does so by sending a request to an HTTP path on the unique virtualhost.
This request goes back through the ingress (or equivalent). Because we
don't use services, we can easily move the implementation of individual
paths around — if you like we can easily d

[2017-05-02 01:29] rshriram commented on #278
Would it be fair to say that each path can be considered as a service/API,
such that for a given path, there are one or more pods implementing it?

Our route rules allow you to qualify the rule based on the URI. So you
could potentially have one single destination/Virtual host with 100s of
paths.

Each rule would consist of a unique path and the forwarding destination of
that rule would point to t

[2017-05-02 14:21] frankbu commented on #278
Correct me if I'm wrong @rshriram, but I think you are suggesting Istio rules something  like this:
[code]
All the pods are conceptual versions of the same service (virtual host) `mpnally-app.default.svc.cluster.local`. Any pod that implements the /foo path will have a tag (k8s label) like `pathImpl: foo`. The rules basically map paths to the corresponding pods.

If I've got the idea right, I'm no

[2017-05-02 15:26] rshriram commented on #278
It should work, IIRC. Thats how we implemented it (4 months ago) :D.

[2017-05-02 16:00] mpnally commented on #278
I t might work, but it makes me nervous to introduce the concept of a
service/API whose meaning and consequences I don't understand. In our model
we have hosts, paths and pods, that is all. This is the classic L7 model.
We don't require any concept of 'service', or 'API' to describe it.

The way our current system works is like this:

apiVersion: v1
kind: Namespace
metadata:
  annotations:
    git

[2017-05-02 16:19] mpnally commented on #278
This looks more encouraging than I had originally expected from Sriram's
note. No confusing service/API concept here. The match section is a bit
confusing — in HTTP, the URL is not in the headers, it is in the
request-line which is the line before the start of the headers. I'm also
not sure of the meaning of the route and tags sections. Is a route similar
to an nginx upstream or an haproxy backend

[2017-05-02 16:45] rshriram commented on #278
Sorry about the confusion. But the example frank showed was basically what
I was talking about.

We use URI in the http header match because in http2, everything becomes a
header. URI, method, authority/host, etc. my initial version of proto had
these as separate fields but the common consensus was to merge them. We can
unroll these if you perceive this as a usability issue.

With regard to the ro

[2017-05-02 18:18] qiwzhang commented on #279
I believe it is fixed now

[2017-05-02 18:18] #279 closed

[2017-05-02 18:24] andraxylia opened #281 "Traffic should be treated as in-cluster after being accepted by the Ingress."
Traffic should be treated as in-cluster after being accepted by the Ingress.
Ingress-proxy should talk with mixer.

[2017-05-02 18:33] qiwzhang commented on #281
@mandarjog or @kyessenov could you help me to understand the issue?  It seems that we have terminology gaps.

[2017-05-02 18:37] mpnally commented on #278
containing the tags (or labels).

I don't understand how we would use this to support our intent. The only thing that the pods for a path have in common is the fact that they support the same path pattern (a regex). We did explore ways of encoding the path patterns (and the ports that support them) as labels instead of annotations, but came up short, which is why we use annotations in the example

[2017-05-02 18:48] kyessenov commented on #278
Our base proxy (envoy) requires an "upstream" defined for each route ("location" in nginx). So we need some way to enumerate a list of pods for a path. We've been using labels on pods for that, but any metadata on pods can be supported with additional code. You can probably just use the path as the pod selector, and enumerate pods based on the pod annotation. I'm not sure how you deal with orderin

[2017-05-02 18:50] kyessenov commented on #281
This is about ingress proxy not setting source mixer attributes. I think the issue is in the wrong place.

[2017-05-02 18:51] kyessenov commented on #279
Was the issue caused by Mixer not responding fast enough? We need a way to reproduce the error and a regression test.

[2017-05-03 15:57] andraxylia commented on #281
I opened this in proxy repository in case there are changes required in the mixer filter to support this functionality. If you are positive there are no changes needed, feel free to close it.

[2017-05-03 18:33] #281 closed

[2017-05-04 00:44] qiwzhang opened #286 "Proxy segfault"
Happened after testing with ~1000 requests for a long time.

Stack trace on envoy:

(gdb) bt
#0 0x0000000003357c08 in ?? ()
#1 0x0000000000448acf in std::_Function_handler<void (google::protobuf::util::Status const&), Http::Mixer::Instance::decodeHeaders(Http::HeaderMap&, bool)::{lambda(google::protobuf::util::Status const&)#1}>::_M_invoke(std::_Any_data const&, google::protobuf::util::Status cons

[2017-05-04 00:44] qiwzhang commented on #286
copied from https://github.com/istio/manager/issues/656

[2017-05-04 22:54] mandarjog commented on #286
Hit another
docker.io/istio/proxy:2017-05-01-19.24.52

[code]

[2017-05-04 23:00] mandarjog commented on #286
@costinm @qiwzhang I hit this several times.

[2017-05-04 23:32] qiwzhang commented on #286
With the latest proxy? or at least the proxy with last crash fix?

[2017-05-04 23:50] mandarjog commented on #286
good, point. It does not have that fix, but the line number looks different.

https://github.com/istio/istio/pull/198

Sent in an update PR.

[2017-05-04 23:53] qiwzhang commented on #286
Cool,  I have been looking at that code for over a hour. Could not explain it.  Now it made sense.

[2017-05-05 02:24] #286 closed

[2017-05-08 19:15] qiwzhang opened #295 "Use returned attributes from Mixer to set trace span"
Here is the code:

https://github.com/rshriram/proxy/commit/1cf04dc4f3cd72b6c23e4a8b0a99a602b4f356bb

span.setSourceService(); //need source service name.
span.setDestinationService(); //need destination service name.

[2017-05-09 21:56] mandarjog opened #299 "Support HTTP_PROXY / HTTPS_PROXY as alternate means of proxying"
For Cloud Foundry and a few other applications, using HTTP*_PROXY variables is the best way to inject proxy.
For HTTP_PROXY it looks like our proxy will simply work. it will be a snap in replacement for the iptables magic.

For HTTPS_PROXY, envoy needs to support  `http CONNECT` method.

[2017-05-09 21:57] mandarjog commented on #299
@rshriram @louiscryan

[2017-05-09 22:23] costinm opened #300 "Possible deadlock"
gdb bt attached

[2017-05-09 22:23] costinm commented on #300
[gdb.txt](https://github.com/istio/proxy/files/988178/gdb.txt)

[2017-05-09 22:59] qiwzhang commented on #300
From the back trace,  it is dead lock in grpc completion queue.   All 3 streaming Write (Check, Report and Quota) are blocked in following threads.  Here are the back trace

Thread 4 (Thread 0x7f6b77e68700 (LWP 30037)):
#0  0x00007f6b893f4e27 in __GI_epoll_pwait (epfd=142, events=0x7f6b77e66d30, maxevents=100, timeout=-1992339929, set=0x7f6b77e685b0) at ../sysdeps/unix/sysv/linux/epoll_pwait.c:48

[2017-05-09 23:00] qiwzhang commented on #300
@louiscryan Could you ask someone from gRPC to take a look?

[2017-05-09 23:07] qiwzhang commented on #300
The grpc code is here:

High level

https://github.com/istio/mixerclient/blob/master/src/transport.h

and  low level

https://github.com/istio/mixerclient/blob/master/src/grpc_transport.h

[2017-05-09 23:09] costinm commented on #300
I'll leave the process running (with gdb attached) in case anyone needs variables or other info.
I think it can be reproduced by running ~5000 concurrent requests for few minutes.

[2017-05-09 23:12] qiwzhang commented on #300
what is the qps?

[2017-05-09 23:28] costinm commented on #300
QPS was 5000

[2017-05-09 23:28] costinm commented on #300
[gdb.txt](https://github.com/istio/proxy/files/988282/gdb.txt)

[2017-05-09 23:28] costinm commented on #300
Attached the new bt, from same process

[2017-05-09 23:31] a11r commented on #300
Not sure why you think this is a deadlock. It is perfectly normal for multiple threads to b blocked in  __GI_epoll_pwait .. that just means that we are waiting on the kernel to make progress.

[2017-05-09 23:34] costinm commented on #300
The problem is that all threads are blocked waiting for something - and the server can no longer process requests.

[2017-05-09 23:36] qiwzhang commented on #300
let me compare two back traces, if they are not the same, it is possible that process is not deadlocked yet

[2017-05-09 23:37] costinm commented on #300
For example,  the Write()  in thread 34 is stuck there - the kernel should make some progress at some point. Any chance it's waiting for a window update that is not received ?

[2017-05-09 23:42] a11r commented on #300
Is the server synchronous or Async ?

[2017-05-09 23:58] costinm commented on #300
async

[2017-05-10 00:00] costinm commented on #300
Sorry, it seems the client (which is having this issue) is using blocking.

[2017-05-10 00:21] costinm commented on #300
It seems the server is causing the problem, investigating on that side.

 goroutine 81 bt
#0  runtime.gopark (unlockf={void (struct runtime.g *, void *, bool *)} 0xc421871b30, lock=0x21d19a0 <runtime.semtable+8768>, reason="semacquire", traceEv=25 '\031', traceskip=4) at /usr/lib/google-golang/src/runtime/proc.go:275
#1  0x000000000042d18e in runtime.goparkunlock (lock=0x21d19a0 <runtime.semtable+

[2017-05-10 00:54] mandarjog commented on #300
Thanks Costin. This is also a mixer bug now.

Most mixer threads are trying to grab a mutex  on `stream.Write()`, And one of them is blocked trying to perform the `write` call.

We should add timeout to `stream.Write()`

[2017-05-10 01:15] mandarjog commented on #300
On the mixer client side this is the reason for the dead lock -- after discussion with  @qiwzhang @louiscryan

| thread | Call1 | Call2 | Call3 | Call4|
| --- | --- | --- | --- | --- |
| request | Check.BlockingWrite() |
| read1 |  | Check.Read() | Quota.BlockingWrite() |
| read2 |  |  |  |  Quota.Read()|

In the table we can see that `thread read1`  is performing a `blockingWrite` and therefore c

[2017-05-10 20:39] ldemailly commented on #299
side note: https proxying (connect) isn't really like a proxy as you won't have access to anything about the request, it's basically like a socket after connect - we'd have to terminate ssl at the proxy I think

[2017-05-10 23:41] kyessenov commented on #299
I'm not familiar with Cloud Foundry, but that's an important concern. We might require usage of HTTP_PROXY to get features of Istio.

[2017-05-12 09:50] jwfang opened #307 "istio/proxy image doesn't contain transcoding filter ?"
using 0.1.1 istio/proxy from docker hub

got the following error:

and there's no transcoding related symbols in envoy:
[code]

[2017-05-12 11:00] jwfang opened #308 "can't build using bazle"
git_repository(
    name = "envoy",
    remote = "https://github.com/lyft/envoy.git",
    commit = "54d724bcfdd0de27ca5ae9238b258b37a28c978b",
)

for 54d724bcfdd0de27ca5ae9238b258b37a28c978b,

from bazel/repository.sh

build_and_install_deps.sh seems to be in ci directory

[2017-05-12 16:05] qiwzhang commented on #308
There are some special requirements to build Envoy, such as need gcc-4.9 and bazel 4.5
You can try to build git clone envoy and make sure it build first.

If you

[2017-05-12 16:06] #308 closed

[2017-05-12 17:14] qiwzhang commented on #307
You may have looked at wrong file.  I just unpacked docker.io/istio/proxy:0.1.1

nm envoy |grep MixerConfig
0000000000413be0 t _GLOBAL__sub_I__ZN4Http5Mixer11HttpControlC2ERKNS0_11MixerConfigE
0000000000413aa0 t _GLOBAL__sub_I__ZN4Http5Mixer11MixerConfig4LoadERKN4Json6ObjectE
000000000095cde0 u _ZGVZN6Server13Configuration31RegisterHttpFilterConfigFactoryINS0_11MixerConfigEEC4EvE8i

[2017-05-12 17:14] #307 closed

[2017-05-12 17:14] #300 closed

[2017-05-12 17:52] jwfang commented on #307
i have mixer filter, but want to test grpc *transcoding* filter

[2017-05-12 17:57] jwfang commented on #308
when building fron HEAD, i got

and traced down that *build_and_install_deps.sh* not in *bazel* directory but in *ci* directory.

[2017-05-12 17:58] kyessenov commented on #307
Hey, transcoding filter is not complete. @lizan is driving the implementation. You might have been confused by presence of the code in `contrib/` but it hasn't been fully integrated into envoy.

[2017-05-12 17:59] kyessenov commented on #308
Current bazel build in envoy is not hermetic, it requires some unix tools like time to be installed. Please see a list of dependencies here: https://github.com/istio/test-infra/blob/master/scripts/linux-install-software#L23

[2017-05-12 18:01] jwfang commented on #307
tnanks.

looking forward for its launch.

istio project looks really promising.

[2017-05-12 18:06] jwfang commented on #308
kyessenov, you're really helpful.

btw, how do you build manager/mixer/proxy and the related containers in all?
using istio/test-infra you just mentioned?

[2017-05-12 18:09] qiwzhang commented on #307
I see the problem now.  The envoy binary build from //src/envoy/mixer doesn't have transcoding feature
Only the envoy binary build from //src/envoy/transcoding has.  istio/proxy only use the one from //src/envoy/mixer

[2017-05-12 18:30] jwfang commented on #307
what's the status for transcoding filter from istio/proxy ?
i mean at least for development testing.

 do you plan to including both filters in istio/proxy docker images ?  i am a bazel virgin, or else i could help do it.

i see some discussion on github to integrate the transcoding filter into core envoy,  should i wait till then to test-drive the transcoding feature ?

[2017-05-12 18:31] kyessenov commented on #308
I think individual repos have scripts to build docker images. in manager it's in `bin/e2e.sh` and those images include the proxy binary. No need to struggle with running Jenkinsfiles locally.

[2017-05-12 18:32] kyessenov commented on #307
The plan is to make transcoding part of core Envoy so that's the same plan. Istio proxy will just have mixer filter on top of base envoy. The current code is functional and works for nginx.

[2017-05-12 18:36] qiwzhang commented on #307
If you want to try it now,  you just build an envoy binary from //src/envoy/transcoding:envoy.

[2017-05-12 18:36] lizan commented on #307
@jwfang You can build `//src/envoy/transcoding:envoy` to test transcoding filter, or define a target contains both filter. transcoding support is still under development and not fully tested.

cc lyft/envoy#501

[2017-05-12 18:37] #228 closed

[2017-05-12 18:37] lizan commented on #228
Closed via #306

[2017-05-12 18:39] jwfang commented on #307
thank you guys

[2017-05-12 18:46] jwfang commented on #308
thanks.
i think i have to do some greping. :)

[2017-05-15 23:35] costinm opened #316 "Crash with mixer enabled"
Simple test with 'wrk  -c 100 -t 100 -d 30s'

Stack trace (in gdb):

#0  0x0000000000000000 in ?? ()
#1  0x000000000043ff67 in Http::Mixer::Instance::GetThreadJumpFunc(std::function<void (google::protobuf::util::Status const&)>) ()
#2  0x000000000044088f in Http::Mixer::Instance::callQuota(google::protobuf::util::Status const&) ()
#3  0x0000000000440012 in Http::Mixer::Instance::decodeHeaders(Http

[2017-05-15 23:50] costinm commented on #316
Tried a new build at efa886a48a812c534fcad415c1faeaea265d16ec (before envoy rebase), different SIGSEGV:

#0  0x000000000043f9b5 in Http::Mixer::Instance::GetThreadJumpFunc(std::function<void (google::protobuf::util::Status const&)>) ()
#1  0x000000000044030f in Http::Mixer::Instance::callQuota(google::protobuf::util::Status const&) ()
#2  0x000000000043fa92 in Http::Mixer::Instance::decodeHeaders(

[2017-05-15 23:52] kyessenov commented on #316
seems to be related to thread jumping in streaming grpc. is this worth fixing or just document as a limitation and wait until the switch to unary?

[2017-05-16 03:54] #316 closed

[2017-05-16 15:59] qiwzhang opened #318 "Use wrk and real mixer to stress test proxy"
There is a stress unit-test in //src/envoy/mixer/integration,  but it is using fake, dummy mixer server (not latency).  It is using go client.   Need a real stress test with real mixer ( with real latency) and wrk client to drive the traffic.

[2017-05-16 22:10] qiwzhang opened #321 "proxy deadlock under stress"
Use wrk with -c 1000 to test istio/proxy,  proxy hangs at gRPC creating a new streaming call.

wrk -d 60 -c 1000 http://localhost:9090/echo

Thread 16 (Thread 0x7fd42233f700 (LWP 2291)):
#0  0x00007fd4236a0e27 in __GI_epoll_pwait (epfd=78, events=0x7fd42233d1a0, maxevents=100, timeout=594152999, set=0x7fd42233f5b0)
    at ../sysdeps/unix/sysv/linux/epoll_pwait.c:48
#1  0x0000000000532217 in pollse

[2017-05-16 22:17] qiwzhang commented on #321
What could cause gRPC to hang at creating a new streaming call?

[2017-05-16 22:35] kyessenov commented on #321
DNS? try with IP?

[2017-05-16 22:38] qiwzhang commented on #321
It is using an active gRPC channel.  The channel should have been created and have been used for a long time before hanging.  So I don't think it is doing DNS lookup.

[2017-05-16 23:09] lizan commented on #321
A full tcpdump on the mixer port might help. Blocking at `epoll_wait` could be a deadlock on mixer side.

[2017-05-16 23:16] qiwzhang commented on #321
gRPC may have max streams per tcp connection.  If it is reached,  what gRPC will do?  will it wait or just failed the call?

Does a client new stream call need to wait for server to respond?  If so,  mixer server may be dead lock.
@mandarjog, it may be another mixer dead lock or a distributed dead lock between mixer and proxy.

[2017-05-16 23:30] lizan commented on #321
right, I remembered it. gRPC lib will wait until new stream available.

[2017-05-17 03:45] PiotrSikora commented on #321
It's not an issue with new streams, since Mixer client is creating only 3 streams (one for each of the `/istio.mixer.v1.Mixer/` endpoints) and sends all gRPC messages inside a single HTTP request.

[2017-05-17 04:06] qiwzhang commented on #321
If a stream fails; either Write() or Read() fails,   mixer client tries to create a new one.  The back trace attached here hanged at mixer client trying to create a new stream.

[2017-05-17 05:17] gbrail opened #325 "Allow HTTP headers for check_cache_keys"
The proxy config has a "check_cache_keys" attribute that determines which aspects of the request key to items in the "check cache." A common scenario will be a key that is used for authorization, such as the HTTP "Authorization" header. (Sometimes people use a query parameter for this purpose too, although it's not a good practice.)

In this case, we'd need to specify this header in the "check_cac

[2017-05-17 21:52] ldemailly commented on #321
I can't reproduce this - is it reproducible for you 100% ? do you have repro steps ?
[code]

[2017-05-17 21:57] qiwzhang commented on #321
I only tried once.  Not sure if it is re-producible.

[2017-05-17 21:58] qiwzhang commented on #321
I am working Mix Unary api.   Once it is implemented, this may go away.

[2017-05-17 21:59] ldemailly commented on #321
yes but we wanted to know if there is an alpha issue - with the current code
when it happened what was your setup ? also was it the latest mixer ?

[2017-05-17 23:00] PiotrSikora commented on #321
@ldemailly it happened to me yesterday during testing, with latest Proxy & Mixer (well, minus latest commit, but it shouldn't matter).

Mixer was fine (or at least it recovered), since resetting Proxy fixed things, as far as I recall.

ulimit was at 32k.

[2017-05-17 23:06] PiotrSikora commented on #321
@ldemailly ah, one more thing that I just remembered... I was proxying Proxy <> Mixer through nghttpx (to capture HTTP/2 traffic) and at some point Proxy just stopped sending more messages (`DATA` frames), and Mixer responded to all pending messages (`DATA` frames), and then there was silence... until Mixer sent `RST_STREAM` after a minute or so.

Unfortunately, I don't have the capture for it.

[2017-05-17 23:27] qiwzhang commented on #321
I could not reproduce it now.  I run 1m with -c 2000 several times.  and 10m once.  all are good.

wrk -d 600 -c 2000 -t 100 http://localhost:9090/echo
Running 10m test @ http://localhost:9090/echo
  100 threads and 2000 connections

  Thread Stats   Avg      Stdev     Max   +/- Stdev
    Latency   537.96ms  395.61ms   2.00s    83.75%
    Req/Sec    49.97     36.82   250.00     64.17%
  2047211 re

[2017-05-17 23:30] qiwzhang commented on #325
It is supported.  Please look at the file: https://github.com/istio/proxy/tree/master/src/envoy/mixer

The syntax will be:

"check_cache_keys": [
              "request.host",
              "request.path",
              "source.labels",
              "request.headers/Authorization",
         ]

[2017-05-17 23:30] #325 closed

[2017-05-17 23:33] gbrail commented on #325
That did it. Thanks!

[2017-05-18 04:21] qiwzhang commented on #321
https://github.com/istio/proxy/pull/326 is submitted to improve mixer client performance.

Many people could not reproduce this dead lock.   We will do one more round of stress tests with the new code.   It we still could not reproduce it,   will close the issue.

[2017-05-18 16:59] qiwzhang commented on #321
It is pretty easy to reproduce it.

Just run,   after 3 iteration,   all envoy request threads are stuck in Report::Write

for i in {1..10}; do wrk -d 60 -c 2000 -t 100 http://localhost:9090/echo; done
Running 1m test @ http://localhost:9090/echo
  100 threads and 2000 connections
  Thread Stats   Avg      Stdev     Max   +/- Stdev
    Latency   261.59ms   89.99ms   1.03s    70.49%
    Req/Sec

[2017-05-18 17:00] qiwzhang commented on #321
Now the plan is to create a separate Write thread

[2017-05-18 20:27] qiwzhang commented on #321
https://github.com/istio/mixerclient/pull/67

[2017-05-18 22:31] qiwzhang commented on #321
the separate write thread change is promising:

after 20 run of " wrk -d 60 -c 2000 -t 100",  it is still going.

I have to kill it because my GCE run out of disk.   Will clean up the disk and run it again.

[2017-05-18 22:40] mattklein123 commented on #321
Folks is the plan after alpha to move back to the Envoy threading model and built-in gRPC? This whole situation is very messy. @htuch is going to be working on built-in streaming gRPC support via AsyncClient shortly.

[2017-05-18 22:43] kyessenov commented on #321
Yeah, it's that we're stuck with streaming GRPC calls to Mixer at the moment, which we'll deprecate immediately after alpha. For unary calls, @qiwzhang is using Envoy's AsyncClient.

[2017-05-18 22:52] qiwzhang commented on #321
Yes, after alpha,  Mixer api will switch to use Unary and Mixerclient will use Envoy AsyncClient unary grpc call.

[2017-05-19 00:09] qiwzhang commented on #321
No, after I increased my disk size,  I re-run it.   The problem happened again.

It happened after 15 run of " wrk -d 60 -c 2000 -t 100"

All 48 write threads are blocked at grpc_stream->Write().

Note: envoy has 16 worker threads, (each worker thread creates 3 pairs of grpc (READ, WRITE) threads, for CHECK, REPORT and QUOTA.

[2017-05-19 23:58] qiwzhang commented on #321
@costinm verified that he could not re-produce the dead lock. so close the issue.

[2017-05-19 23:58] #321 closed

[2017-05-20 00:00] qiwzhang commented on #318
Here is the manual setup.

1) backend

istio/proxy/test/backend/echo$ go run echo.go > /dev/null

2) run mixer

modify this file

git diff
diff --git a/testdata/configroot/scopes/global/subjects/global/rules.yml b/testdata/configroot/scopes/global/subjects/global/rules.ym\
l
index 4ca8e32..b595a98 100644
--- a/testdata/configroot/scopes/global/subjects/global/rules.yml
+++ b/testdata/configroot/sc

[2017-05-20 00:00] #318 closed

[2017-05-21 14:58] rshriram commented on #278
@louiscryan @kyessenov @mpnally an internal use case has come up in the Watson platform that has very similar requirements. Rather than playing with annotations, to remain cross platform compatible, I suggest we expose apis at the manager to override the route info that it has auto generated (as Louis suggests). Services or external entities should be able to override this info.
Let's discuss post

[2017-05-25 08:33] mwitkow opened #341 "Support for cross-cluster microservice calls"
Hi guys,

First of all, congrats on the launch of the project. It's great to see something like LOAS come to fruition in the open soruce space.

I was wondering what the story for istio was in terms of calling microservices between Kubernetes clusters. I see there's an auth tracking ticket: https://github.com/istio/auth/issues/41

We're actually experimenting with rolling something similar: https:

[2017-05-30 19:02] qiwzhang opened #342 "Not to use forked istio/protobuf"
Once this fix is in protobuf stable release

https://github.com/google/protobuf/pull/3133

Switch to use official protobuf repo

[2017-05-30 23:56] menggugat opened #344 "https://github.com/istio/proxy/issues/new"
Putusan
PN PALEMBANG Nomor 03/Pid.Sus-TPK/2016/PN.PLG Tahun 2016
Drs. MUHAMMAD ISKANDAR DAMIRI MUKTI, MM. Bin DAMIRI MUKTI.

Nomor	 03/Pid.Sus-TPK/2016/PN.PLG

Tingkat Proses	      Pertama
Tanggal Register     20-01-2016
Tahun Register	    2016
Jenis Perkara	     Pidana Khusus
Klasifikasi	Pidana Khusus
Sub Klasifikasi	Korupsi
Jenis Lembaga Peradilan	 PN
Lembaga Peradilan	PN PALEMBANG
Para Pihak	 D

[2017-06-02 06:20] kyessenov commented on #341
@lookuptable @costinm

[2017-06-06 00:40] jasminejaksic opened #353 "Attribute namespace standardization for APIs and Auth"

[2017-06-06 00:41] jasminejaksic opened #354 "Produce API and Auth attributes"

[2017-06-06 00:41] jasminejaksic opened #355 "API Management"

[2017-06-09 21:48] lizan commented on #163
Implemented in https://github.com/istio/proxy/tree/master/src/envoy/transcoding

[2017-06-09 21:48] #163 closed

[2017-06-13 16:13] #295 closed

[2017-06-14 16:53] ldemailly opened #370 "missing symbols in stack traces"
there must be something wrong with our build that we require addr2line/a script to translate stack traces

example: https://github.com/istio/pilot/issues/869

[2017-06-14 17:05] qiwzhang commented on #370
This is required from Envoy issue.  Please file this at Envoy

[2017-06-14 22:06] ldemailly commented on #370
we build from source, I want to take ownership of the setup we distribute

[2017-06-14 22:16] lizan commented on #370
@ldemailly See https://github.com/lyft/envoy/pull/833 for the reason they have script to decode the stack trace, and it might apply to us too.

[2017-06-15 01:35] sebastienvas commented on #370
I unassigned myself.

[2017-06-16 19:16] qiwzhang commented on #370
There is nothing wrong with our build.   To get back trace is an extra feature Envoy added.  Otherwise, you will just get one line in the log "Core Dumpped".

The issue is:  If a binary segment fails,   you only see one line "Core dumped with segment fail".   Not back trace.   Envoy adds a signal_handler to get back_trace and dump to the log.  But in order to not link in many other dependencies,

[2017-06-16 19:17] #370 closed

[2017-07-12 12:19] tommyulfsparre opened #385 "Rollout new version of Envoy container."
Hi!

Its great that we can inject an Envoy container into an application pod, even better if it could be done automatically with PodPreset.

If you have a large mesh, with different services, owned by different people I can see how upgrading Envoy might become problematic. Forcing everybody to redeploy their services to upgrade Envoy, might not fly.

How does the story look for upgrading the runni

[2017-07-12 15:44] qiwzhang commented on #385
@kyessenov @ayj any comment?

Our plan is to use dynamic admission control to inject Envoy container.  I am not sure if PodReset allow injecting container.  If so, it may be simpler than using dynamic admission control.

[2017-07-12 16:30] ayj commented on #385
Auto-injection via PodPreset is tracked with https://github.com/istio/pilot/issues/335 and more detailed design is documented [here](https://docs.google.com/document/d/1-5rLhv6MbB27lL8l2CWD6kR-eMa13_PPwOScVVZq8bo/edit).

Pods are relatively ephemeral so sidecar's could be explicitly upgraded by user using native k8s rolling-updates (or equivalents).

[2017-07-12 16:55] qiwzhang commented on #385
Thanks @ayj  I will close this issue.

[2017-07-12 16:55] #385 closed

[2017-07-12 17:21] tommyulfsparre commented on #385
@ayj @qiwzhang thx for the update, this was more related to the upgrade story than the PodPreset one.

I feel like it might be a tall order to force each service owner/user to manage their proxies and it would also be hard to push out new versions of Envoy. Some might never be upgraded. Pods being ephemeral doesn't change the version of Envoy in said pod unless the user doesn't bump it.

This coul

[2017-07-12 17:25] kyessenov commented on #385
We don't have a proposal for in-place update of Envoy binaries inside the container.
Envoy's management APIs should more or less stabilize in the coming months, when doing something like this can potentially work.

[2017-07-12 17:40] ayj commented on #385
Fully transparent sidecar upgrades w/o restarting user pods would require in-place binary updates. A more explicit upgrade could be triggered by user (or on user's behalf) through existing k8s mechanisms which takes advantage of the fact that pods of ephemeral. As @kyessenov said, we don't have any proposal for either scheme at this time.

[2017-07-14 15:53] qiwzhang opened #387 "Strip out sensitive headers sending to Mixer"
Some headers, such as JWT token,  cookes, are sensitive.   Mixer filter should support a flag to strip out these headers before sending to mixer.

[2017-07-27 22:48] myidpt opened #391 "Use source.user instead of origin.user as the authentication result"
Envoy can only get the immediate caller's identity through the SSL certificate, so the identity to Mixer should be source.user instead of origin.user. We need to change this to source.user:
https://github.com/istio/proxy/blob/71b204349729e368213fb5ad6fb3834d8acfdd76/src/envoy/mixer/mixer_control.cc#L42

Reference:
https://istio.io/docs/reference/config/mixer/attribute-vocabulary.html

[2017-08-02 06:33] ldemailly opened #394 "Mac build"
envoy is now buildable on macOS but when I build I get
[code]

[2017-08-02 06:37] lizan commented on #394
we haven't rebased to latest envoy contains the build fix.

[2017-08-03 18:38] #391 closed

[2017-08-05 01:07] #342 closed

[2017-08-05 01:27] ldemailly commented on #394
it's close but still not there (for me, am I missing something ?)
[code]

[2017-08-07 19:19] cmluciano commented on #168
@lizan Have you had any success with this?

[2017-08-07 20:14] ZackButcher commented on #168
This should _probably_ be closed: Envoy generates trace data and propagates it around, including to Mixer via gRPC metadata. I think the one last thing we want is a span around the mixerfilter in Envoy, but AFAIK there's no other remaining work.

[2017-08-07 23:32] rshriram commented on #168
Does it work with zipkin and e2e+mixer tracing ?
On Mon, Aug 7, 2017 at 4:14 PM Zack <notifications@github.com> wrote:

--

~shriram

[2017-08-07 23:34] ZackButcher commented on #168
Since mjog took some work off my plate I finally have time to dig in to tracing. I'm tracking down why traces look funny e2e as I type this.

[2017-08-14 17:26] ldemailly opened #405 "confusing tagging: pick one/consistent with other projects"
right now the docker image tag and the binary tgz tag are different

https://github.com/istio/proxy/blob/master/script/release-docker#L27
uses shortsha-date
while https://github.com/istio/proxy/blob/master/script/release-binary#L29
uses longsha

(see https://github.com/istio/pilot/pull/1025 for an example)

[2017-08-14 19:40] ZackButcher opened #406 "Populate {target, source}.{ip, port} on the HTTP path"
Today we populate target.{source, ip} on the Report path for TCP:
https://github.com/istio/proxy/blob/6acef3806fa52cfe6cf2c2a2d37176320a7db460/src/envoy/mixer/mixer_control.cc#L355-L363

and source.{source, ip} on the Check path for TCP:
https://github.com/istio/proxy/blob/6acef3806fa52cfe6cf2c2a2d37176320a7db460/src/envoy/mixer/mixer_control.cc#L319-L324

We should be populating those attributes

[2017-08-15 00:33] qiwzhang commented on #406
It is not easy to get target.ip and port.  At HTTP OnHeader() calls,  upstream connection is not created yet.

Here is the PR to get source.ip and port.

https://github.com/istio/proxy/pull/408

[2017-08-15 06:46] kyessenov opened #409 "Treat Mixer internal error same way as network failure"
Currently, an internal mixer errors (specifically, misconfiguration) results in total negative checks. I think we should treat any Mixer internal error the same way as a network error, that is it should be controlled by the same fail open/close parameter. Mixer filter should fail open if the setting is to fail open for any negative check due to an internal mixer error.

Follow up from the email cc

[2017-08-15 17:28] #406 closed

[2017-08-15 18:47] kyessenov opened #411 "Allow simultaneous check and forward attributes"
Needed for ingress.

[2017-08-16 13:12] objectiser opened #413 "Latest Envoy provides more useful server span tracing data"
The current version of Envoy used in the engineering release of 0.2 only provides the `span.kind` tag for server spans. This has been changed in the last 5 days (haven't investigated the exact change or release) so that now the server spans also include all the relevant tags as in the client spans.

The previous approach is fine when a shared span model is being used (as in zipkin) but other traci

[2017-08-16 13:52] objectiser commented on #413
Here are some example images showing the issue. The first shows the trace with the individual client and server spans:

![istio-trace1](https://user-images.githubusercontent.com/164562/29366596-5d7833c6-8292-11e7-8f56-19720936736f.png)

The following shows an expanded server span, with just the 'span.kind = server' tag, and the following client span which shows many more tags.

![istio-trace2](htt

[2017-08-16 20:48] qiwzhang commented on #413
https://github.com/istio/proxy/pull/414

should fix this.

[2017-08-16 20:49] #413 closed

[2017-08-16 23:49] qiwzhang commented on #409
https://github.com/istio/mixerclient/pull/96

[2017-08-17 18:42] qiwzhang commented on #411
With #417 , #412 is reverted,  need to re-open

[2017-08-17 18:53] mandarjog commented on #409
Moving the work to pilot https://github.com/istio/pilot/issues/1053.

[2017-08-17 18:59] mandarjog opened #418 "Collect stats re Proxy:Mixer communication."
Mixer filter should collect stats on Proxy-Mixer communication beyond what envoy already collects.
Number of check calls, Report calls, durations, return status, error returns should be collected.

@douglas-reid

[2017-08-17 20:32] kyessenov commented on #409
before closing, I'd hope for some tests at last. it's already very hard to debug error scenarios.

[2017-08-17 20:33] kyessenov commented on #411
It appears #412 is not the cause of seg faults. @rshriram is investigating.

[2017-08-17 21:48] ldemailly commented on #394
the current (master) error seems not mac specific:

ERROR: /Users/ldemailly/go/src/istio.io/proxy/src/envoy/mixer/BUILD:44:1: C++ compilation of rule '//src/envoy/mixer:filter_lib' failed (Exit 1).
src/envoy/mixer/tcp_filter.cc:193:26: error: 'createFilterFactory' overrides a member function but is not marked 'override' [-Werror,-Winconsistent-missing-override]
  NetworkFilterFactoryCb createFilte

[2017-08-17 23:13] ldemailly commented on #394
works now except linking, how do I get uuid-dev equivalent on mac os ?

[2017-08-18 00:26] lizan commented on #394
what is the error you're seeing? mac os has uuid by default so it shouldn't fail

[2017-08-18 00:30] ldemailly commented on #394
[code]

[2017-08-18 01:08] lizan commented on #394
Hmm, short term solution:
comment out https://github.com/istio/proxy/blob/master/src/envoy/mixer/BUILD#L63 then it should build. (this break Linux build so don't make a PR)

Long term, https://github.com/istio/mixerclient/pull/94

[2017-08-18 01:15] ldemailly commented on #394
thx ! there should be some magic way to tell bazel to use system's uuid when present
(and/or make a rule with an if for os x - but I don't know bazel at all so no idea)

[2017-08-18 01:29] lizan commented on #394
Yes, we can conditionally link it using `select`, but once istio/mixerclient#94 is done there is no longer need of that, so I'd rather wait on that.

[2017-08-18 21:24] sebastienvas opened #422 "Migrate Proxy to Prow"
There are 3 jobs to create:
proxy-presubmit
proxy-postsubmit
proxy-pilot-regression

[2017-08-18 21:33] wenchenglu commented on #355
API management features are planned for Istio 0.3
goo.gl/fLFDJ3

[2017-08-22 17:49] ldemailly opened #423 "cleanup proxy_debug image"
debug is good, kitchen sink is bad
now that we have `sudo apt-get install` working we don't need to install everyone's random editor and other huge footprint packages

[2017-08-22 18:10] costinm commented on #423
busybox is pretty low footprint, it's designed from embedded systems - we
can remove emacs and several other packages in separate PR
if footprint is the concern.

On Tue, Aug 22, 2017 at 10:49 AM, Laurent Demailly <notifications@github.com

[2017-08-22 19:12] ldemailly commented on #423
yes I meant for the other - though busybox itself is supposed to replace a full distro
we can use fortio instead of wrk etc

[2017-08-22 21:27] ldemailly opened #424 "proxy now requires external go to build"
it's new, it used to just be fine with
https://github.com/istio/istio/blob/master/devel/README.md#collection-of-scripts-and-notes-for-developing-for-istio

aka bazel + apt-get install make openjdk-8-jdk libtool m4 autoconf uuid-dev cmake

it probably needs to do a "use_bazel_go" equivalent like the other repos

CMake Error at CMakeLists.txt:32 (message):
  Could not find Go

[code]

[2017-08-23 22:37] qiwzhang opened #429 "new grpc async client crash"
[code]

[2017-08-23 22:38] lizan opened #430 "Remove our own thread local storage"

[2017-08-23 22:46] lizan commented on #424
@ldemailly It is only required on Mac. see https://github.com/lyft/envoy/blob/master/bazel/README.md . Also the README of mixer filter links to there to follow envoy's build requirement.

[2017-08-24 07:32] ldemailly commented on #424
the error happened on linux too

[2017-08-24 07:50] lizan commented on #424
Hm, the BoringSSL requires Go in cmake build... Can you file an issue or PR on lyft/envoy too?

[2017-08-24 13:04] #430 closed

[2017-08-24 17:41] lizan commented on #429
#433 fixed this.

[2017-08-24 17:41] #429 closed

[2017-08-25 00:24] qiwzhang opened #438 "proxy crash at race condition with LDS update"
The back trace log is here:  https://pastebin.com/PUm4G5sC

The theory is  that Mixer Config is deleted by Mixer filter instance since the latter holds a ref count to the former (https://github.com/istio/proxy/blob/master/src/envoy/mixer/http_filter.cc#L132).  A filter instance deletion will be delayed if there is a gRPC call in the progress (https://github.com/istio/proxy/blob/master/src/envoy/mi

[2017-08-25 03:44] ldemailly commented on #424
if you're sure it's not our doing / it happens with lyft/envoy out of the box?

[2017-08-25 04:06] lizan commented on #424
Yes, they install golang at https://github.com/lyft/envoy/blob/master/ci/build_container/build_container.sh#L8

[2017-08-25 18:44] #438 closed

[2017-08-25 22:01] lizan opened #441 "unit / functional test for mixer filter"
the current mixer filter only has integration test implemented in go, it doesn't provide enough coverage for cases such as cancelling a request in the middle, upstream / downstream unexpected behaviors.

[2017-08-29 06:09] nimakaviani opened #445 "building envoy complains about protobuf_bzl"
I am trying to build envoy proxy by running the following command as you have instructed in your docs:
[code]
However the build fails with the follow error message:
[code]

From what I have found on the web, the failure is either because of using older versions of bazel or because there is some missing submodule etc. In this case neither seems to be the case.

I am trying to build envoy on Mac wit

[2017-08-29 22:47] rshriram commented on #89
not relevant anymore..

[2017-08-29 22:47] #89 closed

[2017-08-29 23:52] lizan commented on #445
@nimakaviani can you paste the full output of bazel? The ERROR complains about `protobuf_bzl` is usually caused by lack of build dependencies which listed [here](https://github.com/lyft/envoy/tree/master/bazel#quick-start-bazel-build-for-developers)

[2017-08-30 14:17] rshriram opened #448 "Need to separate check/quota and Report"
The mixer filter currently enables or disables both Check and Report via single switch. This is not flexible because in many instances, one would just want to enable mixer for gathering metrics, but cannot tolerate performance overhead of a mixer check call for every service in the chain (or perhaps, they don't want to deal with the fail open/close scenarios).

We need to add a separate mixer_repo

[2017-08-30 15:24] sakshigoel12 commented on #448
rshriram@ are you working on this? We are trying to bring code freeze by EOW, max by 9/8.

Lets try not to open new features now. Please add labels and epics

[2017-08-30 15:59] qiwzhang commented on #448
I will work on this

[2017-08-30 17:16] rshriram commented on #448
Its not even a feature. More like a fix. It's actually very important from
optics point of view. See the google group discussion on incremental
adoption of istio..
On Wed, Aug 30, 2017 at 11:59 AM Wayne Zhang <notifications@github.com>
wrote:

--

~shriram

[2017-08-31 18:46] #448 closed

[2017-09-01 09:20] ramaraochavali commented on #445
I am also running in to the same issue but in Ubuntu. I have all the dependencies.
@nimakaviani were you able to solve this issue? If yes, can you please share the solution?

[2017-09-08 03:27] mtakigiku opened #468 "jwt-auth: updating public key regularly"
- to implement the feature to fetch and update public key regularly
- to handle the case that second request comes before fetching public key completed

These two would be resolved simultaneously.

[2017-09-08 05:42] #423 closed

[2017-09-12 07:24] nimakaviani commented on #445
sorry for the delayed reply. I got passed the initial problem but then got stuck at another place and got distracted by some other issues. In order to solve the protobuf issue, I had to add the following to the `WORKSPACE` file:

[code]

then doing `bazel build ...:all` will get protobuf stuff into the external library. but then I got stuck at a new place where it was complaining about the `@envoy

[2017-09-12 09:05] ramaraochavali commented on #445
@nimakaviani I was able to build it successfully. Couple of this I had to do is to set the GO related env vars correctly and point the TMPDIR to ~/tmp. If you still run in to issues, please share the command.log that is generated in ~/.cache/bazel/_bazel_<uname>/uniquenumber/command.log. I can see if I can help

[2017-09-12 15:58] lizan commented on #445
@nimakaviani Adding that wouldn't help at all, please paste your full output of bazel.

[2017-09-13 04:44] nimakaviani commented on #445
The output is pretty exhaustive so I tried to minimize it. Here is the full gist: https://gist.github.com/nimakaviani/978b39761bd1e39810bc6ac13e479309

[2017-09-13 08:35] nimakaviani commented on #445
fyi, built it on xenial successfully.

The OSx issue seemd to be with the version of clang linker and the fact that it was not able to resolve symbols: `symbol(s) not found for architecture x86_64 `

It might be that the XCode clib linker is outdated, even though I used brew to upgrade the linker and that did not fix the issue.

[2017-09-13 14:31] lizan commented on #445
What is your Xcode version? Envoy requires > 8.3.3

[2017-09-13 14:32] lizan commented on #445
Also, we don't have official support for building on Mac and it is best effort, we have no CI for that.

[2017-09-13 16:24] nimakaviani commented on #445
yes that's the problem. I think I am on an older version of XCode `7.3.1`. Closing the issue and thanks for the help

[2017-09-13 16:24] #445 closed

[2017-09-13 21:01] hzariv opened #474 "jwt-auth: "x5u" (X.509 URL) header parameter support"
Please add support for "x5u" (X.509 URL) Header Parameter in JWS.

https://tools.ietf.org/html/rfc7515#page-11

[2017-09-21 15:48] qiwzhang opened #483 "Allow Pilot to pass any type of mesh attributes to Mixer"
Pilot generates Mesh attributes in Envoy Mixer filter config and Route Opaque data.  Now it only supports string type.   Other attribute types should be supported, such as BYTES for IP,  int for port.

Please see https://github.com/istio/mixerclient/issues/112

[2017-09-24 04:30] douglas-reid commented on #483
@qiwzhang is there any way we can fix just the `destination.ip` attribute to use BYTES for 0.2.x?

cc: @geeknoid

having `source.ip` sent as BYTES and `destination.ip` sent as STRING while both being IP_ADDRESS is not good. It makes writing config that refers to IP_ADDRESS attributes a near-impossibility and/or incredibly ugly (example: `match: destination.ip == "10.1.1.9" && source.ip == ip("10.1

[2017-09-25 17:13] qiwzhang commented on #483
For 0.2, it has to be a hack:  any attribute names from Pilot with suffix as ".ip",  proxy needs to convert to bytes.   Then, we need similar hack for "port" which should be integer, but now it is string.

I think we like to do it properly.  To define a protobuf for Pilot to pass any type of attributes to Proxy and to Mixer

[2017-09-25 17:33] douglas-reid commented on #483
Without the hack, we are going to end up either:
- saying no Mixer policy can be written using IP_ADDRESS (and `port`s)
- or, having policies written in an inconsistent fashion -- which will break as soon as we fix the issue.

[2017-09-25 17:41] mandarjog commented on #483
I think the hack is necessary for 0.2, without the hack `match: destination.ip == "10.1.1.9" && source.ip == ip("10.10.10.1")` this inconsistent expression is used in our configuration.
It is a low risk hack with just a few lines of code, we should go for it.

The alternative is for Proxy to consume the `attribute-manifest` proto that is already defined in Mixer. That is the authoritative mapping

[2017-09-25 17:49] geeknoid commented on #483
We definitely should do the hack for 0.2.

In the long run, the proxy should rely on the manifest data for attribute
typing contraints.

On Mon, Sep 25, 2017 at 10:41 AM, mandarjog <notifications@github.com>
wrote:

[2017-09-25 17:50] kyessenov commented on #483
This isn't just a proxy issue. Pilot sets the value. The problem is that we can't communicate the right type from pilot to proxy.

[2017-09-25 18:00] qiwzhang commented on #483
For 0.2,  Proxy will only convert suffix ".ip" to bytes as a hack.  Hi @kyessenov , could you check if there are other types Proxy should convert, such as  ".port"?
After 0.2, we are going to to it properly.

[2017-09-25 18:02] qiwzhang commented on #483
BTW,  do we have ipv6 address?    Since it is a hack,   if we don't use ipv6,  I will not support it.

[2017-09-25 18:04] kyessenov commented on #483
Sure, let's add more hacks :) There's a list of strings set to `destination.service` that might need some type conversion too, and the corresponding attributes `destination.name` and `destination.namespace`. There's no support for ipv6 yet.  These are the only attributes used by Pilot (plus matching `source.*`)

[2017-09-25 18:07] qiwzhang commented on #483
Cool,  these attributes are string,  you don't use port yet,  so not port. not ipv6.

[2017-09-26 19:26] kyessenov opened #498 "Segmentation fault in the proxy"
https://gist.github.com/redhotpenguin/20fb4e994b1295198952f3d39b712c57
(occurs at ingress, from 9/25 release)

[2017-09-26 21:00] qiwzhang opened #501 "Add new dependency on Mixer"
Now Mixerclient is automatically getting the latest global dictionary from mixer/API.
Proxy integration test is using both Mixerclient and Mixer.   If Mixer is not updated to use the latest global dictionary, integration test will fail.

Mixer SHA in defined in WORKSPACE.

[2017-09-26 21:01] qiwzhang commented on #501
Please see https://github.com/istio/proxy/pull/500

[2017-09-26 21:23] sebastienvas commented on #501
There is currently no way to force them to be in synced, however if an update is done to API, the first PR generated automatically might fail, but the remaining one will eventually success assuming that we don't have too many updates on API.

This will be fixed properly once we have flat builds.

[2017-09-27 00:49] qiwzhang commented on #498
I managed to run stack_decode.py with proxy_debug binary from 0.2.4 fetched from

https://storage.googleapis.com/istio-build/proxy/envoy-debug-94241cdb8e933cb94526d3f190af5bd3eb2f4b6a.tar.gz

Here is the back trace:

I0925 20:13:22.088854       1 watcher.go:154] Envoy command: [-c /etc/envoy/envoy-rev0.json --restart-epoch 0 --drain-time-s 2 --parent-shutdown-time-s 3 --service-cluster istio-proxy

[2017-09-27 00:52] qiwzhang commented on #498
It seems it crashed at Envoy.
@lizan Could you help to take a look?

[2017-09-27 00:53] qiwzhang commented on #498
BTW,  I need to make following change to stack_decode.py in order to make it work

git diff
diff --git a/tools/stack_decode.py b/tools/stack_decode.py
index 50ea001..45c9595 100755
--- a/tools/stack_decode.py
+++ b/tools/stack_decode.py
@@ -27,7 +27,7 @@ def decode_stacktrace_log(input_source):
   traces = {}
   # Match something like [backtrace]
   # bazel-out/local-dbg/bin/source/server/_virtual

[2017-09-27 01:01] lizan commented on #498
The stacktrace doesn't look correct. I think its against wrong binary.

[2017-09-29 00:17] kyessenov commented on #501
Seems like this has also issues with circular dependencies istio-wide. Seems like this is a testing issue, can be addressed in 0.3.

[2017-09-29 01:08] kyessenov commented on #498
irreproducible, moving to 0.3

[2017-09-29 05:54] ldemailly commented on #498
can we ask the original reporter if they can reproduce it (with 0.2.6) ? and some details about their setup and when does it happen etc

[2017-09-29 05:56] ldemailly commented on #501
can you say what is the circular dependency ?

[2017-09-29 16:01] qiwzhang commented on #498
@RoeyMaor  I believe you fired the issue.   Could you try to reproduce it, (ideally with latest 0.2.6).  If you could,  please try to run Envoy tools/stack_decoder.py to get back trace with the correct envoy binary?

Thanks

[2017-09-29 17:20] sebastienvas commented on #501
I am thinking of reverting my PR as each update to mixer is going to trigger a new update to proxy and therefore an update to pilot and then istio. After talking to kuat this deps only exist for testing.

[2017-09-29 17:52] #44 closed

[2017-09-29 17:53] #164 closed

[2017-09-29 17:54] #165 closed

[2017-09-29 17:56] qiwzhang commented on #165
Proxy is extracting as much request attributes as possible.  Mesh attributes should come from Pilot

[2017-09-29 17:57] qiwzhang commented on #166
The requirement is not clear.

[2017-09-29 17:57] #166 closed

[2017-09-29 17:58] #394 closed

[2017-09-29 18:00] qiwzhang commented on #168
@ZackButcher can we close this one?

[2017-09-29 18:03] qiwzhang commented on #278
@kyessenov can we close this one?

[2017-09-29 18:04] douglas-reid commented on #168
I think this can be closed now.  We have zipkin support and added the bits to the mixer.yaml.tmpl

[2017-09-29 18:04] ZackButcher commented on #168
We'd really like a span for the mixerclient, or the mixer filters in Envoy, to capture the client side latency and stats about the call to Mixer. If in mixerclient it could even do things like record that the call to Mixer was a cache hit and the actual call itself was omitted. Mixer itself is generating the server side spans.

This shouldn't block 0.2 but we should ship this for 0.3.

[2017-09-29 18:07] qiwzhang commented on #353
This is part of api-mgmt for Istio.   It is covered by that.

[2017-09-29 18:07] #353 closed

[2017-09-29 18:08] #405 closed

[2017-09-29 18:11] #411 closed

[2017-09-29 18:18] qiwzhang commented on #168
Ok,  will keep it to add trace span for mixer client.

[2017-09-30 01:06] ldemailly commented on #405
we picked long sha, thanks!

[2017-09-30 01:07] ldemailly commented on #299
I think we do have some support for this actually ?

[2017-09-30 01:09] ldemailly commented on #501
let's create istio/core or similar to move common code/dependencies between mixer and pilot there ?

[2017-09-30 01:10] kyessenov commented on #299
It's just wrong repo. Yes, there's some issue in pilot about this.

[2017-09-30 01:11] ldemailly commented on #299
k follow up in https://github.com/istio/pilot/issues/1129

[2017-09-30 01:11] #299 closed

[2017-10-02 21:54] #409 closed

[2017-10-03 01:33] qiwzhang opened #539 "Send periodical Report for TCP filter"
Based on time interval or based on number bytes send.

[2017-10-03 14:58] douglas-reid commented on #539
Does this mean that currently Report() is only happening on close() ?

[2017-10-03 15:30] qiwzhang commented on #539
Yes.

[2017-10-03 18:10] ldemailly commented on #498
@redhotpenguin ^

[2017-10-03 18:13] redhotpenguin commented on #498
Am hacking istio today - will see if this shows up again.

[2017-10-03 18:17] ldemailly commented on #498
can you give some details about what you recall when it did happen ?

[2017-10-03 18:24] redhotpenguin commented on #498
@ldemailly I was going through the Istio testing day tasks.

https://istio.io/docs/setup/kubernetes/quick-start.html
https://istio.io/docs/setup/kubernetes/sidecar-injection.html
https://istio.io/docs/tasks/policy-enforcement/rate-limiting.html
https://istio.io/docs/tasks/security/basic-access-control.html
https://istio.io/docs/tasks/telemetry/metrics-logs.html

At a certain point I noticed the fa

[2017-10-04 15:16] cmeury commented on #483
I encountered this issue, `0.2.7` fixed it for me.

[2017-10-09 22:15] kyessenov opened #558 "Incomplete tests: mixer filter stability/performance"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_mixer filter stability/performance_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Re

[2017-10-17 06:12] #278 closed

[2017-10-17 22:58] kaizen2017 opened #587 "Building Istio Proxy on Centos 7"
Has anyone being able to build istio proxy [https://github.com/istio/proxy/] on Centos ?

I am continuously running into this error ? Has anyone seen this before

External dependency build failed, check above log for
errors and ensure all prerequisites at https://github.com/envoyproxy/envoy/blob/master/bazel/README.md#quick-start-bazel-build-for-developers are met.

ERROR: error loading package 's

[2017-10-17 23:10] ldemailly opened #588 "envoy on VM/debian missing read event or buffering the first packet from service"
tcp service on 3306 (mysql, but we'll use nc as simulator/highlighting the issue)
server side :
(echo THIS_IS_ME; sleep 20; echo PACKET_2) |nc -v -l -p 3306

client side:
nc -v mysqldb.vm.svc.cluster.local 3306

Expected:
THIS_IS_ME
followed several seconds later by
PACKET_2

Actual:
nothing for several seconds then
[code]

Server side:
[code]

this is with TLS and Mixer (both work; just maybe par

[2017-10-17 23:13] ldemailly commented on #588
this was with
https://storage.googleapis.com/istio-artifacts/proxy/67851b9648346112987cb1ccf79a30b912724475/artifacts/debs/istio-proxy.deb

[code]

[2017-10-17 23:19] ldemailly commented on #588
this is on
Linux mysqldb-vm-1 4.9.0-3-amd64 #1 SMP Debian 4.9.30-2+deb9u3 (2017-08-06) x86_64 GNU/Linux

[2017-10-18 00:11] ldemailly commented on #588
@costinm any chance our VM iptables cause this (some difference compared to what happens in pod)

[2017-10-18 00:30] qiwzhang commented on #588
I don't think the problem is in Envoy tcp_proxy filter.  I connected two Envoy tcp-proxy,  could not re-produce the problem.

  port:6060  is a Envoy tcp-proxy  ==>  port:16060  is another Envoy tcp-proxy  ==>  port 8080

(echo THIS_IS_ME; sleep 20; echo PACKET_2) |nc -v -l -p  8080

nc -v localhost 6060
Connection to localhost 6060 port [tcp/*] succeeded!
THIS_IS_ME

Paused for 20s, then got

PAC

[2017-10-18 01:16] ldemailly commented on #588
Thanks for trying to repro, can you add mixer and TLS to your setup?

[2017-10-18 03:01] lizan commented on #588
@ldemailly I'm suspecting that is possible with TLS buffer left in server side, do you have trace level log from each side envoys?

[2017-10-18 05:25] ldemailly commented on #588
I don't have traces because it becomes a flood with pilot calls

note: after reboot and using the same debug binary as in k8s I got 1 time without delay

so if you are reproducing try more than once

[2017-10-18 16:28] ldemailly commented on #588
same on
[code]
fresh new instance

cc @PiotrSikora - I would really love some help here, I'm flying in 4h and kinda have nothing working because of thi

[2017-10-18 16:57] ldemailly commented on #588
without auth, the nc example works as expected (but mysql still doesn't)

full tcp dump (eth and lo) of working case with socat instead of envoy:
[code]

Not working case:
[code]

ps output of the 2 tcp dump can be interleaved
[code]

[2017-10-18 17:01] ldemailly commented on #588
client side dump (not same time but exact same results) https://gist.github.com/ldemailly/6c8b06d10ff2d5329597a7b20e5de913

[2017-10-18 18:29] ldemailly commented on #588
in case it matters, iptables setup (this is from https://istio.io/docs/setup/kubernetes/mesh-expansion.html and install/tools/setupMeshEx.sh machineSetup VM_NAME
[code]

[2017-10-18 18:33] ldemailly commented on #588
without tls:

registration:
[code]
clusters:
[code]
listeners:
[code]

[2017-10-18 20:17] PiotrSikora commented on #588
FWIW, I cannot replicate this locally, with:

    client --TCP--> envoy #1 --mTLS--> envoy #2 --TCP--> backend
                            \         /
                             \       /
                               mixer

where:
- client is `nc -v 127.0.0.1 <port>`
- backend is `(echo THIS_IS_ME; sleep 20; echo PACKET_2) | nc -v -l <port>`

but it's possible that my mixer is misconfigured.

[2017-10-18 20:43] ldemailly commented on #588
thanks a lot for having tried. strange. can you try using iptables and clusterip instead of 127.0.0.1 for the client
(so it goes client-> clusterip:3306 -> localhost:15001 -> server:3306 -> envoy:15001 -> localhost:3306 )
(with mixer and tls; also do it more than once)

[2017-10-19 07:43] wallacewy opened #593 "Caught Segmentation fault when download a file (5Mb) from istio-proxy"
Envionment: Kubernetes v1.7.2, istio v0.2.4

We provide a service which is hosted in the nginx and expose this service by ingress.
We can download a file from some url, but it failed after injecting istio proxy (Failed - Server problem).

The log of nginx is below:
127.0.0.1 - - [19/Oct/2017:02:41:59 +0000] "GET /test.log HTTP/1.1" 206 2028586 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWe

[2017-10-19 07:47] wallacewy commented on #498
It seems that this issue is similiar with my submitted issue [https://github.com/istio/proxy/issues/593](https://github.com/istio/proxy/issues/593)

[2017-10-19 16:30] qiwzhang commented on #593
Could you run this tool to get back trace?

tools/stack_decode.py

The tool can be downloaded from github envoyproxy code.

[2017-10-23 14:40] glerchundi opened #599 "[question] optionally use nginx instead of envoy"
Hi guys,

I would like to know if there is any plan, ongoing work or something similar about giving the possibility to use nginx instead of envoy. nginx is battle-tested and although envoy looks very promising, the reality is that these kind of changes to the infrastructure changes could impact on the istio-adoption rate (IMHO!).

It seems that people like @PiotrSikora is already working on the ba

[2017-10-23 18:15] qiwzhang commented on #599
@louiscryan ?

[2017-10-24 00:45] douglas-reid opened #602 "`request.size` value is always 0"
Testing with bookinfo. All Mixer received values of `request.size` are 0. Is there an issue with calculating request size info ?

[2017-10-24 01:07] qiwzhang commented on #602
request.size is only counting request body size. same as response.size which is only for response body size.

We are using this "bytesReceived" field from Envoy:  https://github.com/envoyproxy/envoy/blob/master/include/envoy/http/access_log.h#L97

Not sure how easy to count HTTP headers.

[2017-10-24 01:09] qiwzhang commented on #602
I can use this field:

https://github.com/envoyproxy/envoy/blob/master/include/envoy/http/header_map.h#L353

[2017-10-24 01:23] qiwzhang commented on #602
According the Istio attribute definition:  https://istio.io/docs/reference/config/mixer/attribute-vocabulary.html

request.size only counts body, not HTTP headers.

So the current implementation is correct.

[2017-10-24 01:23] #602 closed

[2017-10-24 03:09] wallacewy commented on #593
This is the decoded_logs, thanks!

[libprotobuf INFO external/mixerclient_git/src/check_cache.cc:153] Add a new Referenced for check cache: Absence-keys: destination.service, source.uid, target.service, Exact-keys: destination.uid, source.ip, destination.ip, context.protocol,
[2017-10-23 06:33:32.689][28][critical][backtrace] bazel-out/local-dbg/bin/external/envoy/source/server/_virtual_includes/b

[2017-10-24 03:11] wallacewy commented on #593
I couldn't install Python on the proxy container to run the script. This is how I ran it:
# Get the logs
kubectl -n wy logs nginx-istio-deployment-2829050677-15xdp --container istio-proxy > proxy_logs.txt
# Get the tool
curl https://raw.githubusercontent.com/lyft/envoy/master/tools/stack_decode.py > stack_decode.py
# Get the binary
kubectl -n wy cp nginx-istio-deployment-2829050677-15xdp:/usr/loca

[2017-10-24 16:51] qiwzhang commented on #593
@lizan @PiotrSikora @mattklein123  It seems it is crashed inside Envoy tcp_proxy or connectionImpl.  Could you help to take a look?

[2017-10-24 17:40] PiotrSikora commented on #599
@glerchundi I _was_ working on HTTP/2 and gRPC proxying in NGINX, not Istio integration, but that's now in the hands of NGINX maintainers.

Regarding your question, Istio as a whole is pretty pluggable, and in theory you can replace each component, as long as the APIs between components stay the same.

This applies also to proxies, and there are already efforts from various companies to do exactly

[2017-10-25 00:53] lizan commented on #593
Looks like an issue in Envoy: https://github.com/envoyproxy/envoy/issues/1933

[2017-10-25 02:14] louiscryan commented on #599
As Piotr said, Istio is very pluggable. Take a look at nginmesh and give them a prod.

I think it's fair to point out that Envoy is pretty battle-tested at this point given it's production usage at scale at Lyft. We've been very happy with Envoy in Istio so far and I haven't heard too many complaints from users either.

[2017-10-25 11:40] glerchundi commented on #599
@PiotrSikora thanks for the update and pointers. Seems like `nginmesh` was merely a marketinian move because there's no activity in there.

@louiscryan don't take my words as some criticism about Envoy, we are already using it in our internal continuous deployment environment and btw, as a proof of concept. It's behaving incredible well! It was just a note about how people that's not in touch with

[2017-10-25 11:40] #599 closed

[2017-10-26 21:28] lizan commented on #588
Fixed.
https://github.com/istio/proxy/pull/604
https://github.com/istio/proxy/pull/597

[2017-10-26 21:28] #588 closed

[2017-10-26 22:11] #593 closed

[2017-10-27 00:36] lizan commented on #587
Can you paste your full log of bazel output?

[2017-10-30 21:48] ijsnellf opened #614 "Latest SHA of istio/proxy crashes in pilot e2e tests when auth is enabled"
The latest SHA of istio/proxy crashes in pilot e2e tests when auth is enabled. When the istio/proxy sha is updated from f8b4de9a80f1d6b500b3148e0e3364daffbb9dfc to 212a8e48188b38870717b2704c593ed3ae0d60f2, the istio-pilot istio-proxy container crashes with following logs:
[code]

Decoded:
[code]

The issue appears to be the assert here:
https://github.com/envoyproxy/envoy/blob/master/source/common

[2017-10-30 21:52] rkpagadala commented on #614
The corresponding pilot cert is
$ openssl x509  -noout -text -in cert-chain.pem
Certificate:
    Data:
        Version: 3 (0x2)
        Serial Number:
            4f:fc:c3:04:fc:14:4e:33:d4:9c:ab:40:d2:b4:51:fa
    Signature Algorithm: sha256WithRSAEncryption
        Issuer: O=k8s.cluster.local
        Validity
            Not Before: Oct 30 20:59:40 2017 GMT
            Not After : Oct 30 21:59:4

[2017-10-30 23:19] lizan commented on #614
No, (See https://github.com/istio/proxy/pull/604) we should improve pilot-regression test for this...

[2017-10-30 23:29] PiotrSikora commented on #614
Fixed in https://github.com/envoyproxy/envoy/pull/1970 (once it's merged).

[2017-11-01 00:26] #614 closed

[2017-11-03 20:35] rbtcollins commented on #168
Also the docs around this - specifically https://istio.io/docs/tasks/telemetry/distributed-tracing.html - could be improved: right now it suggests manually interacting with http headers, *and* merely being a pass-through. But one of the key benefits of distributed tracing systems is the ability to create spans representing work - e.g. if there's a local disk cache in a microservice, a span around

[2017-11-16 19:31] sebastienvas commented on #422
Bumping to P0 as Jenkins is in unfixable state.

[2017-11-20 13:38] sebastienblanc opened #651 "JWT-AUTH and OPTIONS requests"
Hi,

I started to play with the `jwt-auth` and it works well, I could even integrate it with my Keycloak IDP. But now I'm trying to do a request from the browser and it fails on the `OPTIONS` preflight because the authorization header is not present (the browser remove it automatically). Is there an easy way to tell the filter to skip 'OPTIONS' requests (even if it's a bit hacky, it's for demo pur

[2017-11-20 14:11] sebastienblanc commented on #651
So I just found a way to fix it, tbh, no idea if it's an hack or a valid fix ;) , if you think it's valid I can do a PR,
in `FilterHeadersStatus JwtVerificationFilter::decodeHeaders` I added this :
[code]

[2017-11-20 17:39] qiwzhang commented on #651
Should OPTIONS by-pass auth check by default?  @lizan  what do you think?

[2017-11-20 20:07] sebastienblanc commented on #651
We could add a flag in the config like `byPassOptions` that is `true` by default ?

[2017-11-20 20:10] qiwzhang commented on #651
That will do.  Please create a PR then.

[2017-11-20 21:30] lizan commented on #651
or let's make an option to let it fail-open. that will be helpful for API management to let authz to do the decision.

[2017-11-20 22:53] lizan commented on #651
@sebastienblanc actually, if you use [CORS filter](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/cors_filter.html) before the JWT auth, I think the OPTIONS request will not processed by this auth filter, no?

[2017-11-21 06:21] sebastienblanc commented on #651
@lizan That was actually the first thing I tried but it didn't seems to work but it could be that I configured `cors` wrongly in the `envoy.conf` , could you maybe share a snippet of conf with me and will try again ?

[2017-11-21 22:49] lizan commented on #651
Hmm, I don't have a working envoy.conf right now. Can you share the conf you tried, I can take a look on it.

[2017-11-24 02:20] kidiyoor opened #668 "proxy build failure"
I am building this repo using ubuntu:14.04 docker image. Dockerfile bellow
[code]

I see the following error  -
[code]

find the complete error log here - https://gist.github.com/kidiyoor/f1b03f384d8b45c56552b5adb2a0c1bd

[2017-11-28 06:07] ldemailly opened #670 "Use Alpine as base image for the proxy"
@sakibulhasan-wsib commented on [Mon Nov 27 2017](https://github.com/istio/issues/issues/129)

**Is this a BUG or FEATURE REQUEST?:**
Feature

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):
Yes

**Bug:**
N

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation deta

[2017-11-29 22:37] lizan commented on #668
Don't set `GOROOT` but only `GOPATH` (optional), that is what the complete error log complaining about.

Also, building in Ubuntu 14.04 is not supported as it doesn't have a C++ toolchain fully support C++14 (which now envoy uses).

[2017-11-30 00:31] #501 closed

[2017-11-30 00:31] #422 closed

[2017-11-30 00:32] #249 closed

[2017-11-30 00:36] qiwzhang commented on #483
New client config https://github.com/istio/api/blob/master/mixer/v1/config/client/client_config.proto should support it now.

[2017-11-30 00:36] #483 closed

[2017-11-30 01:35] kyessenov commented on #424
go is a dependency of envoy build since validators are synthesized with go.

On Wed, Nov 29, 2017 at 4:34 PM Wayne Zhang <notifications@github.com>
wrote:

[2017-11-30 01:59] ldemailly commented on #424
why is this closed?

[2017-11-30 02:03] qiwzhang commented on #424
This is an Envoy issue.  You should open one for Envoy

[2017-11-30 03:56] ldemailly commented on #424
there is one linked above but still want to track it here (so our additional Basel setup doesn't add to the issue)

[2017-11-30 18:14] qiwzhang opened #687 "Update integration_test to use moved mixer mock test"
It is moved from mixer/test/server.go → mixer/pkg/mockapi/server.go

By this PR

https://github.com/istio/istio/pull/1843

[2017-12-01 01:12] #687 closed

[2017-12-01 05:56] qiwzhang opened #693 "Envoy crashes"
Run into Envoy assertion here  at

https://github.com/envoyproxy/envoy/blob/master/source/common/http/conn_manager_impl.cc#L1030

The log is

https://storage.googleapis.com/istio-prow/pull/istio_proxy/691/proxy-presubmit/34/build-log.txt

[2017-12-01 09:55] preetiRK opened #695 "Proxy build fails"
I am building the latest stable version of istio/proxy - **0.3.0** on **Ubuntu 16.04 x86_64 architecture**
Following dependencies have been installed
   Bazel version : 0.8.0
   Go : go version go1.6.2 linux/amd64
   apt-get install pkg-config zip g++ zlib1g-dev unzip python wget openjdk-8-jdk libtool automake cmake git m4 golang-any

I see the following error when running the command `make build`

[2017-12-01 17:00] qiwzhang commented on #695
@ayj It seems:  istio/api:mixer/v1/config/client BUILD file has trouble with gogo stuff.    Could you help?

[2017-12-01 21:15] qiwzhang commented on #693
The bug was introduced by https://github.com/istio/proxy/pull/680  at 76ed00adea006e25878f20daa58c456848243999

And fixed by
Fix Envoy crash with v2 config and post. #697

[2017-12-01 21:15] #693 closed

[2017-12-01 22:19] qiwzhang opened #699 "enable asan, and tsan tests"
Now,  asan and tsan is not enabled.

[2017-12-02 00:44] PiotrSikora commented on #670
It's worth noting that Envoy is using Alpine with glibc, not the official Alpine with musl.

See:
- https://github.com/envoyproxy/envoy/pull/659
- https://github.com/envoyproxy/envoy/blob/master/ci/Dockerfile-envoy-alpine
- https://hub.docker.com/r/frolvlad/alpine-glibc/
- https://github.com/frol/docker-alpine-glibc/blob/master/Dockerfile
- https://github.com/sgerrand/alpine-pkg-glibc

[2017-12-07 17:37] clintberry opened #708 "Istio route rules that apply to istio ingress controller are being ignored"
Adding route rules that apply to the istio ingress controller don't seem to work. I see this warning before it routes to the service, ignoring my rule for blocking all traffic with a 403:

`[2017-12-07 17:29:12.679][708][warning][http] src/envoy/mixer/mixer_control.cc:419] Could not convert to ip: destination.ip:`

Steps to reproduce:
1) setup brand new GKE cluster on google cloud
2) Install istio

[2017-12-07 19:15] clintberry commented on #708
Also, I am here at KubeCon, if you want me to come show you first hand so you don't have to set it up I would be happy to.

[2017-12-07 19:58] ayj commented on #695
This seems to be already fixed in master. Looks like the mixerclient dependency SHA is bad in the 0.3.0 istio/proxy branch.

[2017-12-07 20:44] rkpagadala commented on #695
@preetiRK We recently fixed master branch to build with 0.8.0 but that has not been back ported. Please use master branch with bazel 0.8.0 or 0.3.0 branch with bazel 0.7.0.

[2017-12-08 10:34] preetiRK commented on #695
I tried building the 0.3.0 branch with bazel 0.7.0
It threw the following error

ERROR: Analysis of target '//src/envoy/auth:jwt_test_lib' failed; build aborted: Loading failed.
INFO: Elapsed time: 663.112s
Makefile:25: recipe for target 'build' failed
make: *** [build] Error 1
The complete build log : https://gist.github.com/preetiRK/9121c61b9ff5f1bcb18e8ab0ca3ac068

I reran the `make build` comm

[2017-12-08 16:58] abbi-gaurav commented on #168
It would also be nice to access the Zipkin UI via istio ingress. That will help to provide uniform security semantics and one does not need to reinvent the wheel here tracing access.

There is the referenced ticket, but I guess it was open in the wrong place.
https://github.com/istio/istio.github.io/issues/658

[2017-12-08 17:14] qiwzhang commented on #695
since your HOME is /root,  you may have to compile it as root user.

[2017-12-09 00:01] rshriram commented on #168
On Fri, Nov 3, 2017 at 4:36 PM Robert Collins <notifications@github.com>
wrote:

It’s describing the simplest thing to do. I am not opposed to idiomatic
way. Someone has to volunteer to update bookinfo apps to use opentracing
libs. And then we can confidently talk about idiomatic way, so that people
have a reference.

[2017-12-10 23:20] kidiyoor commented on #695
I see the same  Permission denied error while building with
- bazel 0.7 and release-0.3.0 branch (root user)
- bazel 0.8.1 and master branch (root user)

[code]

[2017-12-10 23:23] kidiyoor commented on #695
I use https://hub.docker.com/r/lyft/envoy-build-centos/ this docker image to build istio/proxy

[2017-12-10 23:26] kidiyoor commented on #668
closing this issue - facing another issue as mentioned here -
 https://github.com/istio/proxy/issues/695

[2017-12-10 23:26] #668 closed

[2017-12-11 00:15] lizan commented on #695
Can you try to build with non-root user (even in a container)? That permission denied is due to https://github.com/bazelbuild/bazel/issues/3786.

[2017-12-11 01:08] kidiyoor commented on #695
with non root user I see the following error

**master branch |  0.8.1 bazel**
[code]

**release-0.3.0 branch | 0.7 bazel**
[code]

[2017-12-11 07:29] glerchundi commented on #599
FYI, I don't know if this is for the front or the back side but it seems like there is ongoing work on there: https://github.com/nginmesh/nginmesh/issues/1#issuecomment-350177522.

[2017-12-11 08:02] lizan commented on #695
`/home/bazeltest/.cache/bazel/_bazel_bazeltest/10430a57ac9debe95c2fe678d9bdb7b6/bazel-sandbox/7150962479503858874/execroot/__main__/external/com_github_lightstep_lightstep_tracer_cpp/configure: line 5961: /usr/bin/file: No such file or directory`

It is unusual that `/usr/bin/file` doesn't exist, does it exist in your container?

What is the base image do you use?

[2017-12-11 09:46] preetiRK commented on #695
@qiwzhang  I did compile it as a root user.

@lizan I ran the commands as a non root. Here are my findings:

**0.3.0 branch with bazel 0.7.0**

ERROR: Analysis of target '//src/envoy:envoy' failed; build aborted: Loading failed.
INFO: Elapsed time: 1179.778s
Makefile:25: recipe for target 'build' failed
make: *** [build] Error 1

Ran the make build command again and the logs were :

[2017-12-11 10:02] preetiRK commented on #695
@qiwzhang I did compile it as a root user.

@lizan Today I tried the commands as a non root inside a ubuntu 16.04 container created using official ubuntu image. Here are the logs:

## 0.3.0 Branch with Bazel 0.7.0

ERROR: Analysis of target '//src/envoy:envoy' failed; build aborted: Loading failed.
INFO: Elapsed time: 1179.778s
Makefile:25: recipe for target 'build' failed
make: *** [build] Error

[2017-12-11 17:33] qiwzhang opened #716 "Send report for Auth fitler failed requests"
Now,  authn filter is in front of mixer filter.  If the request did not pass verification,  it is rejected by the Authn filter.  It will not go to Mixer filter.
But it is better, mixer report is called for these auth failed requests.

[2017-12-11 18:11] qiwzhang commented on #695
Could you try install docker?  @JimmyCYJ run into similar problems.  The problem is gone after he installed docker.   @JimmyCYJ could you list the VM type and steps on your recent experience of building proxy?

[2017-12-11 18:28] JimmyCYJ commented on #695
Here is the environment of the VM I use.
$ uname -a
Linux instance-2 4.10.0-42-generic #46~16.04.1-Ubuntu SMP Mon Dec 4 15:57:59 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
$ go version
go version go1.9.2 linux/amd64
$ docker version
Client:
 Version:      17.09.1-ce
 API version:  1.32
 Go version:   go1.8.3
 Git commit:   19e2cf6
 Built:        Thu Dec  7 22:24:23 2017
 OS/Arch:      linux/amd64
$ b

[2017-12-12 01:18] qiwzhang commented on #708
It is better to move this issue to istio/istio repo.

[2017-12-12 01:19] qiwzhang commented on #699
@JimmyCYJ could you also check if mixerclient has tsan and asan enabled?  If no,  we should do that too.

[2017-12-12 01:24] qiwzhang commented on #587
@kaizen2017 could you try the setup at the end of https://github.com/istio/proxy/issues/695?
I will close this one, will use that one for proxying building issue.

[2017-12-12 01:24] #587 closed

[2017-12-12 01:27] #498 closed

[2017-12-12 02:33] linsun commented on #708
seems same as https://github.com/istio/istio.github.io/issues/702

[2017-12-12 11:01] preetiRK commented on #695
@JimmyCYJ  which branch of istio/proxy did you build? Did you use a non root user?

@qiwzhang I installed docker and buildifier tool. Also upgraded my go version to 1.9.2.
I tried building both the branches of proxy : master and 0.3.0.
The same error as earlier is seen.

[2017-12-12 17:12] qiwzhang commented on #695
@preetiRK could you try to use GCE VM(Google Compute Engine) with base image Ubuntu 16.04 LTS to build proxy?

[2017-12-12 19:33] qiwzhang opened #720 "auth: refactory public key cache"
The current cache has following issues
1) it is stored in config object.  It is better to store in a separate object that can be created per thread.   config object is global per process
2) First request is trying to fetch all public keys.   If an issuer is not used,  it should not be fetched.

[2017-12-12 20:16] JimmyCYJ commented on #695
@preetiRK I am not using root user, and I use a GCE VM to build. I fork istio/proxy and build, following the instructions here. https://github.com/istio/istio/blob/master/DEV-GUIDE.md#git-workflow.

[2017-12-13 11:01] preetiRK commented on #695
@qiwzhang  I will try building on the GCE VM.
Do you think that the issue I am facing are because of the image?

[2017-12-13 16:57] qiwzhang commented on #695
My suspicious is some development packages, such as gcc, stdlib from the image.  I am pretty sure GCE VM works since many of us are using GCE vm to build proxy.   You can try to see the different between your image and GCE vm image.

[2017-12-15 23:59] kryzthov opened #728 "Request with invalid Sec-Istio-Auth-Userinfo header cause Envoy crash"
When sending a request with a dummy `Sec-Istio-Auth-Userinfo:Foo` header, Envoy crashes:
[code]

[2017-12-16 00:05] kryzthov commented on #728
Also, I would imagine the `Sec-Istio-Auth-Userinfo` header should probably not be forwarded.

[2017-12-18 22:32] ldemailly opened #731 "move docker, deb and (vm) scripts out of this repo into istio/istio"
I think this repo should only produce the envoy+mixerc binary

everything else should be in istio/istio

that would make it much easier and faster to update and keep in sync stuff like
https://github.com/istio/proxy/blob/master/tools/deb/istio-start.sh
https://github.com/istio/proxy/blob/master/tools/deb/istio-iptables.sh
etc
with the k8s ones

cc @costinm @rkpagadala

[2017-12-21 19:08] qiwzhang commented on #699
https://github.com/istio/proxy/pull/736

[2017-12-21 19:08] #699 closed

[2017-12-22 00:16] qiwzhang opened #749 "Base64 encode binary HTTP/2 headers"
request.headers will store HTTP/2 headers for gRPC metadata.  Some HTTP/2 headers are binary.  But request.headers is a string map.   Need to base64 encode the binary header.

Also update the istio attribute doc. https://istio.io/docs/reference/config/mixer/attribute-vocabulary.html

[2017-12-29 08:22] preetiRK commented on #695
Hi Folks.. Thanks for your response.

The timeout issue seen seems to be due to our docker container environment and is seen intermittently.
I still see the issue sometimes. However on re-running the build command, the build completes and the test suite passes. So we have decided to ignore the timeout issue for now.
(note : I could build without installing docker and buildifier tool)

Closing the

[2017-12-29 08:22] #695 closed

[2018-01-02 18:48] qiwzhang opened #886 "make prow presubmit to run asan and tsan test paralleled"
Now, "make test" is running regular test, asan, and tsan sequentially.     prow/presubmit test failed as timeout since each test is about 30 minutes. (https://storage.googleapis.com/istio-prow/pull/istio_proxy/771/proxy-presubmit/287/build-log.txt)

It is better to run these tests paralleled.

[2018-01-03 01:14] #728 closed

[2018-01-03 01:14] #886 closed

[2018-01-03 19:19] JimmyCYJ opened #893 "Provide statistics for check and report latencies as histograms"
Add Check/Report latency stats as histograms.

[2018-01-03 19:22] JimmyCYJ commented on #893
We can use a timer to wrap around the check/report call, as commented in https://github.com/istio/mixerclient/issues/324.

[2018-01-04 02:36] lixiaobing1 opened #895 "what difference between this proxy and envoy proxy？thx."
what difference between this proxy and envoy proxy(https://github.com/envoyproxy/envoy)？
should we use this proxy or envoy proxy?

[2018-01-04 03:10] qiwzhang commented on #895
This proxy add following two fitlers:
mixer_filter:  call Istio Mixer
auth_filter:   JWT auth token verification.

[2018-01-04 10:17] lixiaobing1 commented on #895
ok，THX

[2018-01-04 17:59] #895 closed

[2018-01-10 20:23] nixgadget commented on #468
Any ETA on this ?

[2018-01-10 22:01] qiwzhang commented on #468
I am working on this now.  ETA is a couple weeks.

[2018-01-10 22:03] qiwzhang commented on #468
Will be tracked by https://github.com/istio/proxy/issues/720

[2018-01-10 22:03] #468 closed

[2018-01-11 01:29] nixgadget opened #914 "Build error on Mac OS Sierra with XCode 9.2"
I seem to be getting build failures when running `bazel build`.

[code]

Can someone shed some light on this for me ?

[2018-01-11 07:41] nixgadget commented on #914
Digging into it further looks this has been fixed in https://github.com/envoyproxy/envoy/pull/2231.

Can someone please comment on this ?

To me it looks like envoy SHA is out of date https://github.com/istio/proxy/blob/master/WORKSPACE#L37 which hopefully should address these issues with the build on OS X.

[2018-01-12 19:33] danehans opened #918 "Document Proxy Upgrade Process"
The proxy is based on an Envoy SHA from 10/31/17:

https://github.com/istio/proxy/blob/master/WORKSPACE#L37

Proxy should be updated to support SNI and other Envoy features that have been added since 10/31. What is the process for updating Envoy? This should be documented and well understood.

[2018-01-12 20:26] kyessenov commented on #918
Changing the SHA in the WORKSPACE is usually sufficient.
Sometimes our dependencies conflict, and that requires manual supervision
on a case-by-case basis, but that doesn't happen often.

On Fri, Jan 12, 2018 at 12:20 PM Daneyon Hansen <notifications@github.com>
wrote:

[2018-01-16 19:28] rkpagadala commented on #918
We are also planning on having bots automatically update the SHA in workspace file, so that we will always follow envoy master.

[2018-01-19 17:55] qiwzhang opened #926 "Send attributes from mixer to upstream"
Mixer Check response may return some attributes: defined here[https://github.com/istio/api/blob/master/mixer/v1/check.proto#L78]

Proxy should send them as HTTP request headers to upstream.

[2018-01-22 20:42] qiwzhang opened #929 "JWT-auth: JWT token is required by default"
If not present, the requests should be rejected.

[2018-01-22 23:33] jlewi opened #930 "Support excluding some paths from JWT validation"
It would be great if there was a way to configure the proxy such that all requests without a valid JWT would be rejected, unless the path matched a specific path like "/healthz".

The motivation is that the [GCP ingress controller](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/examples/health_checks/README.md#limitations) relies on the readiness probe of the container t

[2018-01-23 01:52] jlewi commented on #930
I think another use case would be using kube-lego to automatically manage ssl certs.

[2018-01-24 05:23] jlewi opened #939 "Support other headers for providing the JWT"
It would be nice if the JWT could be obtained from headers other than Authorization.

Google's identity aware proxy uses the header [x-goog-iap-jwt-assertion](https://cloud.google.com/iap/docs/signed-headers-howto)

[2018-01-24 05:40] qiwzhang commented on #939
It will be supported according to this config.  https://github.com/istio/api/blob/master/mixer/v1/config/client/auth.proto#L118

[2018-01-24 06:17] jlewi opened #940 "More validation; Segmantation fault when Cluster name not correct"
My config was incorrect; the name of the cluster didn't match the name I had specified as the issuer. This resulted in a segmentation fault which was hard to debug.

It would be nice if the code handled this gracefully and provided a helpful error message.

[2018-01-24 06:45] jlewi opened #941 "Support ES256 algorithm"
Google IAP uses ES256;
https://cloud.google.com/iap/docs/signed-headers-howto

Looks like currently only RS256 support is provided.

[2018-01-24 07:09] jlewi commented on #941
I think this is the only issue blocking google/kubeflow from using Envoy for JWT validation (as opposed to using NGINX). (The other issues I've been able to work around just by forking the code and making trivial changes).

[2018-01-25 03:28] jlewi commented on #941
Digging into the code, I think the only thing that needs to change is how we load the key.

ec.h
* Use [EC_KEY_new](https://github.com/openssl/openssl/blob/master/include/openssl/ec.h#L737) to create a new key
* Use [EC_KEY_set_public_key_affine_coordinates](https://github.com/openssl/openssl/blob/master/include/openssl/ec.h#L870) to set x and y based on the values obtained in the JWKs from IAP
*

[2018-01-25 04:26] qiwzhang commented on #941
If we want to get it done earlier,  we welcome any contribution.  Otherwise, we will fix this.  ETA is next month.

[2018-01-31 00:51] kyessenov commented on #708
I think this could be due to one of two causes:
- faults do not apply at ingress proxy (a known and documented limitation)
- mixer unable to derive some attributes for the requests to ingress (also known bug in older releases)

thanks for the bug report!

[2018-01-31 00:51] #708 closed

[2018-01-31 01:57] borancar opened #964 "Issues with cloning envoy_api dependency when building using bazel"
Hey guys,

I'm getting issues cloning envoy_api when trying to use bazel to build istio proxy. I'm on commit 958606073fbfb8afc480946d4fc8339f191271ca. This issue looks like something envoy had a while back:
https://groups.google.com/forum/#!topic/envoy-dev/4WQqlxl0GiU
https://github.com/envoyproxy/envoy/pull/1041

[code]

The same happens on our internal CI which is using docker container with ima

[2018-01-31 02:15] qiwzhang commented on #964
@lizan could you help?

[2018-01-31 02:30] lizan commented on #964
@borancar If you build without `--output_user_root=build` does the issue still reproduce? I don't think you can put the output user root inside the checked out source.

[2018-01-31 02:30] #964 closed

[2018-01-31 02:31] lizan commented on #964
I can reproduce same output when with `--output_user_root=build`, but build works fine without it. Closing, feel free to reopen if you still see this.

[2018-01-31 04:07] lei-tang opened #966 "Extract the subject field of a JWT"
Extract the subject field (i.e., sub) of a JWT, which is used during the authentication.

[2018-02-01 00:00] #966 closed

[2018-02-01 01:40] theganyo opened #973 "Build fails on MacOS"
I'm unable to build proxy master (59ee751a68f26d5218adf2a12df0ccee9f1fa404) on MacOS High Sierra (10.10.13). Output:

[code]

[2018-02-01 02:55] qiwzhang commented on #926
@geeknoid @mandarjog

The question is: how should we use this field.  Should we send these attributes as HTTP headers to the backend  as; key is the header name, value as header value?

[2018-02-01 03:15] #539 closed

[2018-02-01 03:16] theganyo commented on #973
Working on a PR.

[2018-02-01 03:35] geeknoid commented on #926
We don't have a specific use for this feature yet, so let's just leave this unused until there's a need.

[2018-02-01 04:53] lei-tang opened #976 "Add an option in Envoy filter to output JWT sub for authentication"
Add an option in the Envoy filter config to output the JWT sub attribute for the authentication purpose.

[2018-02-01 16:41] theganyo opened #978 "script/check-style is linux-specific"
The clang-format binary downloaded by script/check-style is always linux. It should be able to support MacOS.

This is the download in the script:

"http://releases.llvm.org/${CLANG_VERSION_REQUIRED}/clang+llvm-${CLANG_VERSION_REQUIRED}-x86_64-linux-gnu-ubuntu-14.04.tar.xz" \

The corresponding MacOS version should be:

"http://releases.llvm.org/${CLANG_VERSION_REQUIRED}/clang+llvm-${CLANG_VERSION

[2018-02-01 16:54] theganyo commented on #978
Working on a PR for this.

[2018-02-01 17:04] emaildanwilson commented on #973
FYI - I followed a similar process described here (with updated images) to get pilot to build on osx. https://github.com/nmnellis/istio/tree/access-logging/ci

It would be nice if it just properly built without this extra step though.

[2018-02-01 17:56] #973 closed

[2018-02-01 22:02] #716 closed

[2018-02-01 23:08] #978 closed

[2018-02-01 23:12] JimmyCYJ commented on #749
Binary headers are already base64 encoded.
In https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md:
"Note that HTTP2 does not allow arbitrary octet sequences for header values so binary header values must be encoded using Base64 as per https://tools.ietf.org/html/rfc4648#section-4. Implementations MUST accept padded and un-padded values and should emit un-padded values. Applications defi

[2018-02-01 23:12] #749 closed

[2018-02-01 23:57] qiwzhang commented on #720
https://github.com/istio/proxy/pull/958

[2018-02-01 23:57] #720 closed

[2018-02-02 01:37] qiwzhang commented on #940
https://github.com/istio/proxy/pull/983

[2018-02-02 01:51] lizan commented on #940
I believe it is not segmentation fault and it is logged in error log, no?
ClusterManager throw an exception with message `unknown cluster '<cluster_name>'`

https://github.com/envoyproxy/envoy/blob/eaa6696b1cbe992e3d190f0e7dfefd6de09537fa/source/common/upstream/cluster_manager_impl.cc#L537

[2018-02-02 02:50] qiwzhang commented on #940
It is a core dump.  That exception is not catched.

Here is the log

src/envoy/auth/http_filter.cc:42] Called JwtVerificationFilter : decodeHeaders
[2018-02-02 00:40:21.936][31441][debug][http] src/envoy/auth/jwt_authenticator.cc:65] Jwt authentication starts
terminate called after throwing an instance of 'Envoy::EnvoyException'
  what():  unknown cluster 'example_issuer11'
[2018-02-02 00:40:21.93

[2018-02-02 05:55] sreetummidi opened #985 "JWT Auth Filter doesn't support array type audience"
Hello,

I have set CloudFoundry UAA (https://github.com/cloudfoundry/uaa) as the JWT  Issuer  using the policy type of kind: EndUserAuthenticationPolicySpec

I am seeing the following error in the istio proxy logs

2018-02-01T09:15:08.109839Z     info    Envoy command: [-c /etc/istio/proxy/envoy-rev0.json --restart-epoch 0 --drain-time-s 2 --parent-shutdown-time-s 3 --service-cluster productpage -

[2018-02-02 14:31] murphye opened #986 "forward_jwt doesn't seem to forward Authorization header"
I am experimenting with JWT auth filter and am not getting expected results with `forward_jwt: true`. I have a web service that attempts to capture the Authentication header after it passes through the filter as it may be needed for subsequent service calls.

However, this doesn't seem to be happening as the Authorization header is missing after passing through.

Here is my spec:

[code]

This wha

[2018-02-02 14:54] murphye commented on #986
Upon further inspection, after dumping out the headers that are actually coming through, this is what I see:

[code]

So with `sec-istio-auth-userinfo  Header Value' I am getting the payload part of the JWT token, but no the entire JWT, which is:

[code]

[2018-02-02 17:44] qiwzhang commented on #986
It is not hook up now.   It will be fixed soon.

[2018-02-02 19:24] #940 closed

[2018-02-02 22:18] sreetummidi commented on #985
Spec Below

apiVersion: config.istio.io/v1alpha2
kind: EndUserAuthenticationPolicySpec
metadata:
  name: productpage
  namespace: default
spec:
  jwts:
  - issuer: https://uaa.run.pivotal.io/oauth/token
    audiences:
    - apps_manager_js
    jwks_uri: https://login.run.pivotal.io/token_key
---
apiVersion: config.istio.io/v1alpha2
kind: EndUserAuthenticationPolicySpecBinding
metadata:
  name: pro

[2018-02-02 22:51] qiwzhang commented on #985
I see.  The problem is not in the config.   but in your JWT token.   We only expect one.

The code is here  https://github.com/istio/proxy/blob/master/src/envoy/auth/jwt.cc#L280

We will fix it

[2018-02-05 18:34] qiwzhang opened #991 "JWT_auth: when checking audience, not to check protocol scheme"
Following audiences should be considered as matched

http://audience/
https://audience
audience

Basically, remove https://, and http:// and trailing slash /

when comparing audience.

[2018-02-06 01:03] qiwzhang opened #995 "Clean the legacy config codes"
Legacy is referring to mixer filter config that NOT using "v2" field.  Which should be generated by older version of Pilot (< 0.4) before Dec. 2017.   If these code is removed,  the code should be much cleaner

It should be done in the following order
1) change istio repo:  mixer/test/client.   to remove all legacy config. only use v2 config.
2) fix mixerclient repo:  remove legacy config code
3)

[2018-02-08 16:49] rshriram opened #1010 "Disable check/report call options not being honored"
From a review of the code, disable_tcp_check_calls, disable_policy_checks etc. are being read but they are not being used before issuing a check or report call. This is from a review of code and not from testing. If this is incorrect, lets close this issue.

[2018-02-08 16:51] rshriram opened #1011 "Auto disable check/report if respective cluster is unspecified"
Since pilot is guaranteed to generate mixer_check_Cluster, mixer_report_cluster, we should auto disable checks/reports if any of these options are missing. This is especially important when user specifies mixer_report_cluster in global config, but does not specify mixer_check_cluster (indicating that she wants to disable check calls). The current way of doing this is a bit too clunky: user has to

[2018-02-08 17:22] qiwzhang commented on #1010
I am not clear which config are you referring to.  Pilot or Envy filter config.

Tcp Envoy filter config doesn't have "disable_policy_checks", but it has "disable_tcp_check_calls".   But it is for legacy config.   After 0.3, Pilot generates "v2" config defined here https://github.com/istio/api/blob/master/mixer/v1/config/client/client_config.proto#L131
for Tcp filter config.

It has both disable_c

[2018-02-08 17:32] qiwzhang commented on #1011
Does that mean:  if "check_cluster" in the Transport proto points to a non-existing cluster in the cluster manager,  we should silently disable mixer check.

I think at least we should log an error message for easy debug of such invalid config problem.  But this is per-request error log.  it could flood the log.

[2018-02-08 17:44] #985 closed

[2018-02-08 18:04] rshriram commented on #1011
No.. if check_cluster is missing or set to empty, we should disable mixer_check and probably log once every 5 minutes or something.

[2018-02-08 18:16] qiwzhang commented on #1011
Current logic is if check_cluster is empty or not set,  mixer client will set it to default "mixer_server" cluster.

If we go with your suggestion,  it will be a break change.   The new Pilot should always set "check_cluster" if check_call is needed.    If newer proxy talks to older Pilot,  it will break,  check will not be called.

[2018-02-08 18:22] rshriram commented on #1011
I have already updated Pilot to always provide check_cluster if its set. Also, we don't have to worry about breaking change now, since global config and such is in alpha mode.

[2018-02-08 19:04] ayj commented on #1010
It looks this is handled in istio/mixerclient repo
[here](https://github.com/istio/mixerclient/blob/4877a418d70ddcc27aca19e8c319d428e152b0df/control/src/http/request_handler_impl.cc#L60)?

[2018-02-09 19:43] qiwzhang opened #1032 "remove mtls attribute for Tcp mixer filter"
TLS is application layer protocol.  Tcp mixer filter only deal with Tcp connection.  At connection creation time, there is not mTLS yet.  So it will be always false for tcp filer.

So please remove it.

[2018-02-09 19:44] qiwzhang commented on #1032
@lei-tang Thanks for bringing this up

[2018-02-09 20:15] lei-tang opened #1033 "Update the Mixer README.md"
Update the Mixer README.md
-- Update the outdated instruction for building the Mixer server
-- Update the outdated instruction for building the Envoy proxy

[2018-02-09 22:30] #1033 closed

[2018-02-10 00:12] #929 closed

[2018-02-11 04:22] ldemailly commented on #731
this is mostly (?) done but there are leftover / stale files here

[2018-02-11 05:01] ldemailly commented on #558
have a test now in
https://github.com/istio/istio/blob/master/tools/README.md
but not integrated in the build/automated yet

[2018-02-11 05:05] ldemailly commented on #558
will close this one

[2018-02-11 05:05] #558 closed

[2018-02-11 07:25] JimmyCYJ commented on #1032
Mixer needs connection.mtls attribute in Check() call to decide whether a connection should be rejected.
I think only TCP filter can close a connection per Check() call.

+@mandarjog

[2018-02-14 02:40] qiwzhang opened #1121 "jwt-auth: "kid" and "alg" should be optional for pubkey"
According to https://tools.ietf.org/html/rfc7517#page-8.  "kid" and "alg" should be optional.  But they are required in the current code  at  https://github.com/istio/proxy/blob/master/src/envoy/auth/jwt.cc#L429

Need to fix it

[2018-02-14 15:33] lizan opened #1124 "Use clang or newer GCC for TSAN"

[2018-02-14 23:23] qiwzhang opened #1126 "response.code attribute may use un-initialized value"
response.code sometime seen as very big value.

It is possible that it is not initialized.

The code is here

https://github.com/istio/mixerclient/blob/master/control/src/http/attributes_builder.cc#L140

[2018-02-14 23:52] mandarjog commented on #1126
https://github.com/istio/proxy/blob/master/src/envoy/mixer/http_filter.cc#L332

Here is where value is conditionally set.

[2018-02-15 07:26] ldemailly opened #1129 "delete docker, deb, iptables related files and scripts which have moved to istio/istio"
it's quite confusing that it's been copied and not moved

ditto for iptables stuff, deb stuff etc

[2018-02-16 02:02] #1126 closed

[2018-02-21 00:52] JimmyCYJ commented on #893
@mandarjog  Question: Do you want Mixerclient to send check and report latencies to Mixer and display at Prometheus as histograms? I ask this because envoy has /stats admin endpoint which does not show histograms. The /stats admin endpoint only shows counters and gauges. For example, http_mixer_filter.total_blocking_remote_check_calls and tcp_mixer_filter.total_blocking_remote_check_calls are coun

[2018-02-21 00:55] mandarjog commented on #893
We now support mixer_check_server and mixer_report_server as two separate upstreams.
If we configure both of those clusters to point to the same endpoints, envoy will track their usage separately.

We can make these stats available (and configure them by default). I don't think we need to track this inside mixer client any more.

[2018-02-21 20:40] #893 closed

[2018-02-22 00:30] jlewi commented on #941
@qiwzhang Any update on the ETA for this?

[2018-02-22 00:32] jlewi commented on #939
@qiwzhang Does this mean we will have to use Envoy as part of ISTIO to do JWT validation?

[2018-02-22 00:47] qiwzhang commented on #941
I am distracted by Istio/proxy code re-organization. This re-org is not done yet.  The feature could be delayed for a couple of months.  If you need this urgently,  could you contribute?

Or I will rise the priority and try to find someone in my team to help.

[2018-02-22 00:51] qiwzhang commented on #939
No,  JWT_auth can be used standalone.  Please see this example [https://github.com/istio/proxy/blob/master/src/envoy/http/jwt_auth/sample/envoy.conf]

[2018-02-22 02:03] jlewi commented on #939
Thank you.

[2018-02-22 02:06] jlewi commented on #941
We need this urgently. This is critical for us having a secure ingress story.

Does the [comment above](https://github.com/istio/proxy/issues/941#issuecomment-360350132) seem approximately correct in terms of what's needed?

Would you mind trying to find someone on your team and if that doesn't work we will try to carve out cycles to work on this.

[2018-02-22 02:59] qiwzhang commented on #941
OK,  I will see if I can find someone with spare circle.

[2018-02-22 17:46] qiwzhang opened #1165 "Support per service network failure policy"
Now, the config is global per mixerclient.  Need to support per-service.

https://github.com/istio/api/blob/master/mixer/v1/config/client/client_config.proto#L76

[2018-02-27 21:59] #1032 closed

[2018-03-01 22:20] #1129 closed

[2018-03-01 23:08] mandarjog opened #1181 "Mixer client should Report check.cache_hit, quota.cache_hit attributes"
Mixer client has access to this information but does not include it in the report call.

If included it can be added as dimension to metrics.

Also rename
`check.error_code`  to `mixer.check_status`

That way all present and future mixer info is in the `mixer.*` namespace.

[2018-03-02 17:53] #995 closed

[2018-03-02 17:54] #731 closed

[2018-03-02 17:55] #418 closed

[2018-03-06 01:54] qiwzhang commented on #1181
as discussed,  error_code and error_message remains under "check" namespace.  We may have authz check and other types of check in addition to mixer check.  They are called "check".

two more bool attributes will be added in the report:

check.cache_hit
quota.cache_hit.

[2018-03-06 02:20] qiwzhang commented on #1181
@mandarjog  how about we create a new name space "cache_hit".  It will have format as

cache_hit.COMPONENT.CALL.

COMPONENT could be mixer_client,  mixer_adaptor,  and etc.
CALL could be check,  quota.

So mixer client will add

cache_hit.mixer_client.check
cache_hit.mixer_client.quota

Or we can call it

cache_hit.CALL.COMPONENT

cache_hit.check.mixer_client
cache_hit.quota.mixer_client

[2018-03-07 19:47] #941 closed

[2018-03-07 23:13] #930 closed

[2018-03-07 23:14] qiwzhang commented on #939
https://github.com/istio/proxy/pull/1186

[2018-03-07 23:14] #939 closed

[2018-03-07 23:15] qiwzhang commented on #651
https://github.com/istio/proxy/pull/1183

With this change, you an bypass JWT verification for CORS traffic.

[2018-03-08 08:15] ldemailly opened #1190 "istio/istio proxy's sha is 13 days old"
we are soon going to enter 0.7 stabilization, we need the latest fixes in sooner than later

any idea why the sha is stuck in the past ?

istio/istio.Version:

80ec4f6c2a672b00e55d34ef9b5d26a42a98da42

(which btw costin wants to roll back to 54077a0c8486b6db7b2fc5d10619b6813bb40767 )

also why is your build broken for so long ?

[2018-03-08 17:53] JimmyCYJ commented on #1190
I think the auto update is disabled. I will manually update proxy's sha and re-enable the auto update bot.

[2018-03-08 22:26] geeknoid opened #1192 "Mixer client needs retry behavior"
@geeknoid commented on [Thu Mar 08 2018](https://github.com/istio/mixerclient/issues/439)

Mixer client needs retry semantics around all calls to Mixer.

---

@ldemailly commented on [Thu Mar 08 2018](https://github.com/istio/mixerclient/issues/439#issuecomment-371605967)

reminder: this repo is dead (you reviewed the diff that moved the code to proxy)

[2018-03-08 22:26] geeknoid opened #1193 "Add trace spans for client"
@douglas-reid commented on [Mon Jan 29 2018](https://github.com/istio/mixerclient/issues/405)

For the distributed tracing features of Istio, we want to have mixerclient spans in the generated trace data. This would help with a number of debug-ability related items:

- better understanding caching
- better understanding perf of client library
- better understanding impact of network

cc: @rshriram

[2018-03-08 22:27] geeknoid opened #1194 "Make the set of request headers sent to Mixer configurable"
@geeknoid commented on [Fri Oct 13 2017](https://github.com/istio/mixerclient/issues/178)

We should make the set of request headers sent by the proxy to Mixer to be configurable such as to reduce the payload size of proxy RPCs to Mixer.

For now, the specific set will need to be configured by hand. But in the future, this can be handled automatically by observing what Mixer actually consumes and

[2018-03-08 22:27] geeknoid opened #1195 "Make the set of attributes sent to the Mixer to be configurable"
@geeknoid commented on [Fri Oct 13 2017](https://github.com/istio/mixerclient/issues/176)

Add configuration control over which attributes should be sent to Mixer for both Check and Report. This will optimize the RPC exchanges between proxy and Mixer.

Although this configuration will set initially set by hand, eventually we can generate this config state automatically based on what the Mixer is c

[2018-03-08 22:27] geeknoid opened #1196 "Add support for AttributeMatch.condition == REGEX"
@geeknoid commented on [Fri Oct 13 2017](https://github.com/istio/mixerclient/issues/175)

In order to improve caching efficiency, we need to add support for regex attribute value matching. This will enable increase cache lookup matches.

[2018-03-08 22:28] geeknoid opened #1197 "Use timer to flush out expired cache items"
@qiwzhang commented on [Tue Sep 19 2017](https://github.com/istio/mixerclient/issues/111)

For all cached items, check and quota.

For quota,  it is tricky,  Some callback functions attached to on-progress requests may use the expired items. Have to be careful when removing them.

[2018-03-08 22:28] geeknoid opened #1198 "Hook up platform logging"
@qiwzhang commented on [Tue Sep 19 2017](https://github.com/istio/mixerclient/issues/110)

Now the library is using GOOGLE_LOG.  It is better to use the callers (Envoy) to provide logging function.

[2018-03-08 22:29] geeknoid opened #1199 "Introduce an attribute specialization framework"
@geeknoid commented on [Thu Jun 08 2017](https://github.com/istio/mixerclient/issues/78)

We want to express caching in the proxy in terms of attributes. If a specific set of attributes remains constant for a given time and given # of uses, we can use a cached result for Check.

The attributes we have today often do not play well with the above goal because they aren't specific enough, leading to

[2018-03-08 22:29] geeknoid opened #1200 "Add code coverage tracking"
@geeknoid commented on [Wed Mar 22 2017](https://github.com/istio/mixerclient/issues/46)

Need to put in place a framework to track unit test coverage for this repo.

[2018-03-10 01:45] qiwzhang opened #1201 "presubmit tsan and asan failed"
With error:

==15==ERROR: AddressSanitizer: stack-buffer-overflow on address 0x7fff2ddc7220 at pc 0x7f2284ab2904 bp 0x7fff2ddc6a80 sp 0x7fff2ddc6228

[2018-03-10 03:29] lizan commented on #1201
it is weird that prow did merge #1176 with adan failure, is it asan
enforced?

On Fri, Mar 9, 2018 at 5:45 PM Wayne Zhang <notifications@github.com> wrote:

[2018-03-12 01:09] #991 closed

[2018-03-12 16:29] #1201 closed

[2018-03-12 17:40] #1121 closed

[2018-03-14 20:16] qiwzhang opened #1206 "use latest clang-format 7.0.0 to format the code"
Current version is 3.8.0.

[2018-03-14 23:51] #1124 closed

[2018-03-16 04:40] andraxylia opened #1210 "envoy.conf.template cannot be parsed by the latest Envoy"
This file cannot be parsed by the latest envoy:
https://github.com/istio/proxy/blob/master/src/envoy/http/mixer/envoy.conf.template

As a result, start_envoy script does not work.

start_envoy should be part of istio/proxy pre-submit, it should not fail in istio/istio.

See more in istio/istio#4292

[envoy.conf.txt](https://github.com/istio/proxy/files/1817940/envoy.conf.txt)
[start_envoy_output.t

[2018-03-16 04:46] ldemailly commented on #1210
inlining the error to not have to download files and open them:
[code]

[2018-03-16 20:29] diemtvu opened #1212 "Add params to Jwt filter to pass even when some Jwt rules failed to validate"
When chaining with AuthN filter, we want to make request reject decision by the AuthN filter, instead of Jwt filter, as it need access to the policy logic.

The param could be in the AuthFilterConfig, assuming each Jwt rules, when running validation doesn't reject request by itself (i.e Jwt filter will run each Jwt rules in sequence).

Parent issue: https://github.com/istio/istio/issues/1948

[2018-03-16 20:33] diemtvu opened #1213 "Add param to specify jwt output location"
Need a way to specify where payload output for each Jwt rule.

Keep it in sync with upstream PR https://github.com/envoyproxy/data-plane-api/pull/530

Parent issue: https://github.com/istio/istio/issues/1948

[2018-03-16 20:33] diemtvu commented on #1212
Keep it in sync with upstream PR https://github.com/envoyproxy/data-plane-api/pull/530

[2018-03-16 20:48] diemtvu opened #1214 "Create AuthN filter to perform authentication."
The filter config should contain the peer/origin/principal logic as described by the policy (in the early version, it could be the original policy itself).

The filter will be put behind 'validation' filters (e.g Jwt), which are responsible to verify certificate and extract claims. It will simply consume the output from those filters (which are stored in request header), and follow credential logi

[2018-03-16 20:53] diemtvu commented on #1214
https://github.com/istio/proxy/pull/1170
https://github.com/istio/proxy/pull/1171
https://github.com/istio/proxy/pull/1204
https://github.com/istio/proxy/pull/1209

[2018-03-16 21:01] lei-tang commented on #1212
I think jwt-auth filter should not reject a request. jwt-auth verifies JWTs and produces the JWT verification results. Based on the verification results and other attributes produced after the verification, other filters (e.g., authn/authz) decide what to do with the request. @diemtvu, @qiwzhang , do you think such parameters are needed if jwt-auth fitler does not reject a request?

[2018-03-16 21:07] diemtvu commented on #1212
Jwt filter by itself can be used independently. Especially true with the upstream version.

I'm not sure how much the Istio EUC policy was used by community, but it may required JWT reject request. We should not change that behavior, even though the feature is supposed to be POC only.

I think adding a flag is aligned with upstream effort. Some code need to be written for that anyway. @qiwzhang ca

[2018-03-16 21:12] lei-tang commented on #1214
/assign @lei-tang

[2018-03-16 23:29] #1210 closed

[2018-03-17 01:12] lei-tang commented on #1214
PR https://github.com/istio/proxy/pull/1216 is created for this issue.

[2018-03-19 17:23] #1190 closed

[2018-03-20 01:10] JimmyCYJ commented on #474
Hi @hzariv, could you please provide some context about this feature request? What is the use case for "x5u" support? Thanks!

[2018-03-20 01:24] qiwzhang opened #1217 "Migrate "v2" config to "v1" in Mixer fitler config"
Currently,  it is using "v2" which is confusing.   Decided to migrate it back to "v1" with following steps

1) change proxy to support both "v1" and "v2" fields.  if this is version x
2) After that is widely deployed,  change Pilot to "s/v2/v1", also release node that side-car proxy has to be at lease version x.  Please fiile an issue in istio.
3) after a while, remove "v2" in the proxy.

[2018-03-20 17:56] #1206 closed

[2018-03-21 21:20] JimmyCYJ commented on #1217
When this change is in Proxy release, I will file an issue for Pilot to update Mixer filter config.

[2018-03-22 23:14] PiotrSikora opened #1238 "Add macOS build & tests to CI."
Add macOS build & tests to CI.

[2018-03-23 17:53] lei-tang commented on #1212
@diemtvu @qiwzhang Had a discussion with Wayne, I will implement the "allow_missing_or_failed" option in istio/proxy/src/envoy/http/jwt_auth.

[2018-03-23 21:50] #1181 closed

[2018-03-23 23:06] #1214 closed

[2018-03-25 04:13] #1217 closed

[2018-03-26 22:59] #1212 closed

[2018-03-27 20:38] JimmyCYJ opened #1295 "jwt_auth filter does not have full support of x509 public key"
By reading code, two issues are observed which block jwt_auth filter from fully support of public key in x509 .

1. We have Pubkeys::CreateFrom(const std::string &pkey, Type type) which takes public key in string and create Pubkeys object ([link](https://github.com/istio/proxy/blob/71f918875f883c07e6c2258e472de7fee1fb305d/src/envoy/http/jwt_auth/jwt.cc#L575)), but we only call this function when w

[2018-03-27 20:39] JimmyCYJ commented on #1295
cc @diemtvu @liminw

[2018-03-28 00:02] diemtvu commented on #1295
FYI, I spent sometime to change CreateFromPemCore to parse pkey_pem (into json object) and create key (EvpPkeyFromStr) for each element. It doesn't work, with PEM_PUBKEY_BAD_BASE64 error (can be fixed by removing cert header and footer, and all newline charactor), then PEM_PUBKEY_PARSE_ERROR, which I stopped from debugging further. It all appears to me that implementation for x509 is not completed

[2018-03-28 00:03] diemtvu commented on #1295
+ @lizan, @qiwzhang do you have any insight on this?

[2018-03-28 00:25] lizan commented on #1295
Yes, we do not "fully" support x509 because we didn't need it, feel free to fix them.

More specifically 1. is for public key cache, we didn't intend to support loading PEM from remote URL, but only JWKS at the moment.

[2018-03-28 17:08] liminw commented on #1295
I think we need to prioritize this work. x509 is a very commonly used public key format. If we do not support x509 key format, we cannot claim that JWT authentication support is done.

[2018-03-28 18:34] qiwzhang commented on #1295
OK,  we will fix it then.  But not at istio/proxy repo.  I am in the middle of porting code to Envoy.  We should wait  for this PR https://github.com/envoyproxy/envoy/pull/2866
and fix it over there.

[2018-03-28 18:36] liminw commented on #1295
That plan sounds good to me.

[2018-03-28 18:39] lizan commented on #1295
Full X.509 spec is huge, we just need to support what is expected and demanded by JWT authentication and clarify it. With most of public authorization servers (Auth0, Google ID token, Firebase, Fb, etc), they only need JWKS.

[2018-03-28 18:44] liminw commented on #1295
All Google service account signed JWT tokens are using x509 key format.

[2018-03-28 18:48] lizan commented on #1295
You can always use JWK as well:
https://cloud.google.com/iam/docs/creating-managing-service-account-keys

`https://www.googleapis.com/service_accounts/v1/jwk/[SERVICE_ACCOUNT]@[PROJECT_ID].iam.gserviceaccount.com `

[2018-03-28 18:56] lizan commented on #1295
I'm not against adding support for more X.509 specs and PEM format, we might need X.509 certificate chain in JWT/JWK in its `x5c` or `x5u` claims in not far future. Though it will be substantial work to support them. Let's prioritize when we have a concrete use case for them.

[2018-03-28 19:09] lizan opened #1315 "Use StopIterationAndWatermark instead of StopIterationAndBuffer"
https://github.com/envoyproxy/envoy/issues/2919
https://github.com/istio/istio/issues/4271

[2018-03-28 19:09] lizan commented on #1315
@JimmyCYJ can you take a look?

[2018-03-28 19:13] lizan commented on #1315
The difference between them: https://github.com/envoyproxy/envoy/pull/1417/files#diff-e86e2fdda1803a5dc62b6a9bd3ba6cee

[2018-03-28 19:47] linsun commented on #1315
Yes, it certainly buffers too much today.  We should only buffer when it is really needed imho... in my case (see scenario in https://github.com/envoyproxy/envoy/issues/2919), I'm not even using mixer policy enforcement so I would not expect this to impact me.  Also, @matt Klein suggested to "buffer level to some amount that is mostly safe to account for service latency." -- I think we should look

[2018-03-28 20:40] lizan commented on #1315
Envoy introduced `StopIterationAndWatermark` in September, which applies back pressure to downstream, `StopIterationAndBuffer` is the only choice before then. Once we migrated to `StopIterationAndWatermark` the buffer should be adjusted accordingly, none of istio filters need buffer data since we do not investigate each data frames.

[2018-03-28 20:42] JimmyCYJ commented on #1315
Thanks for the investigation, Lizan! I will work on the migration.

[2018-03-28 20:47] linsun commented on #1315
Cool, is StopIterationAndWatermark avail in envoy v1 or we need to move to v2?

[2018-03-28 20:49] lizan commented on #1315
It is filter internal thing and has nothing to do with v1 vs v2.

[2018-03-29 01:16] #1315 closed

[2018-03-29 03:02] JimmyCYJ opened #1319 "proxy-postsubmit fails due to errors in //src/envoy/alts:tsi_frame_protector"
[https://k8s-gubernator.appspot.com/build/istio-prow/proxy-postsubmit/220/](https://k8s-gubernator.appspot.com/build/istio-prow/proxy-postsubmit/220/) shows a build failure which is from istio/proxy/src/envoy/alts/BUILD:53. Assign to @lizan who is the author of that library.

[2018-03-29 15:00] #1319 closed

[2018-03-29 17:17] lei-tang opened #1321 "Sanitize JWT verification result in HTTP headers"
To defend the attack of injecting forged JWT verification results in HTTP headers, sanitize the JWT verification result when jwt_auth filter starts.

[2018-03-29 17:41] JimmyCYJ opened #1323 "proxy-postsubmit occasionally fails due to server crash"
https://prow.istio.io/?repo=istio%2Fproxy&job=proxy-postsubmit occasionally fails with this error log
"Server crashed during startup". When it happens, we need to manually restart proxy-postsubmit.

We need to figure out why server crashes during startup, and fix this issue.

[2018-03-29 17:45] JimmyCYJ commented on #1323
cc @sebastienvas

[2018-03-29 19:03] #1321 closed

[2018-03-30 18:26] diemtvu commented on #1213
Also, change authN filter to consume jwt output payload from those. In https://github.com/istio/proxy/pull/1329, we switch authn config proto to have location information (as map from issuer to header location). This map will be populated by pilot when sending down config.

Please change authN filter impl to get jwt data from that, instead of the harcoded value from jwt filter.

[2018-03-30 20:55] sebastienvas commented on #1323
I also update the build pool with nodes with higher mem and cpu

[2018-03-30 20:55] #1323 closed

[2018-04-03 17:16] #986 closed

[2018-04-03 22:14] qiwzhang opened #1363 "Remove internal headers used to pass data between filters"
From  jwt_authn:  we use "forward_payload_header" for each JWT token to forward Jwt Payload to istio_authn filter.

istio_authn should remove these headers.

from istio_authn filter, we use "sec-istio-authn-payload" to pass results to mixer filter.

mixer fitler should remove this header.

[2018-04-04 00:36] lei-tang commented on #1363
I am implementing a PR for this issue.

[2018-04-04 23:34] #1213 closed

[2018-04-05 02:30] diemtvu commented on #1363
#1364 might not cover all cases.

[2018-04-05 16:22] diemtvu opened #1365 "mTLS authentication to consider allowTls flag"
MutualTls params for authn policy now have `allowTls`, which is used to setup server to accept both mTLS and TLS connection. For TLS connection, there will be no x509, hence it cannot extract principal. However, it should accept request in that case.

[2018-04-05 19:31] diemtvu opened #1366 "More informative authentication rejection message"
It may be nice to have more information in the reject request message (e.g what is invalid). Currently, we only say 'Peer authentication failed', (or 'Origin authentication failed'). Is there any standard messages that we should follow?

On the other hand, I'm not sure how much we should expose to avoid revealing internal implementation.

[2018-04-05 19:38] lei-tang commented on #1366
My two cents: the internal authentication failure messages should not be exposed to the client (the client may not understand what internal failure messages mean). Instead, a generic authentication failure is returned to the client and the developers read the debugging log to find out the details of why the authentication fails.

[2018-04-05 19:45] diemtvu commented on #1366
Probably. Either way, I think we should have better message(s). The current ones are a bit arbitrary, and falls somewhere in between.

[2018-04-05 19:47] lei-tang commented on #1366
Agree. I will create a PR to address this issue.

[2018-04-05 20:36] diemtvu commented on #1363
Reject requests still being logged (mixer). We don't want the log contains internal data between filters. + @qiwzhang

[2018-04-08 00:39] JimmyCYJ opened #1369 "Support Mixer to monitor rate of new TCP connections"
1. Add a 'connection.event` attribute which is sent by TCP mixer filter
Set 'connection.event' to 'open', and send it within the first Check() call.
Set 'connection.event' to 'continue', and send it within periodic Report() call.
Set ''connection.event' to 'close', and send it within the final Report() call.

Mixer could introduces a TCP connection counter that increments when "match: connection.e

[2018-04-08 00:39] JimmyCYJ commented on #1369
cc @douglas-reid @qiwzhang

[2018-04-08 00:51] JimmyCYJ opened #1370 "Support Mixer HTTP filter to send attributes 'sent_bytes' and 'received_bytes'."
Support Mixer HTTP filter to send attributes 'sent_bytes' and 'received_bytes' for *total* network traffic for HTTP. These would be distinct from request.size and response.size because they would include headers, etc., in the calculation.

cc @douglas-reid @qiwzhang

[2018-04-09 16:04] #1369 closed

[2018-04-09 17:08] diemtvu opened #1373 "Support to use public key that is set directly in jwt config."
Current implementation, public key is fetched from the jwksURI. We may want to make pilot responsible for this task, and send the public key in the jwt filter config (will need a proper design for pilot about caching and key rotation). Anyway, we will need proxy to be able to use the key.

[2018-04-11 00:12] diemtvu opened #1384 "Refactor authn filter"
With the plan to use JWT validation output for authn filter, we don't need all fancy callbacks. Let's change it to simple for loops.

[2018-04-11 00:36] #1365 closed

[2018-04-11 00:36] diemtvu opened #1386 "Jwt/Authn filter need to send jwt payload to backend"
In [PR#4711(https://github.com/istio/istio/pull/4711), we set JWT filter to remove the (original) token. (i.e set Forward to false in [here](https://github.com/istio/istio/blob/master/pilot/pkg/networking/plugin/authn/authentication.go#L152))

As backend may require to use the claims from token, we need to pass it back. There are several options:

1. Do not remove JWT.  Same backend can work with

[2018-04-11 17:48] liminw commented on #1386
I prefer option 1. It is the simplest solution. JWT is intended to be sent to the backend service. Proxy just helps validating the JWT. I do not see any security concern here.

[2018-04-16 17:29] #1370 closed

[2018-04-16 20:13] rshriram opened #1436 "migrate to envoy route-local filter config"
https://github.com/envoyproxy/envoy/pull/3045 has merged.. WE need to migrate mixer filters to use the route-local config, irrespective of the optimization issue (struct vs any). Currently we are sticking the mixer filter config in route.metadata, which is very awkward.

[2018-04-19 01:41] lei-tang opened #1460 "when peer is empty in Istio authn policy, do not setPeerResult()"
when peer is empty in Istio authn policy, do not setPeerResult()

[2018-04-19 02:32] #1460 closed

[2018-04-19 06:47] lei-tang opened #1464 "Fix a bug that Istio authn filter blocks downstream filters"
Fix a bug that the Istio authn filter blocks downstream filters. With this bug, the processing of a HTTP request will not proceed to the filters after the Istio authn filter.

[2018-04-19 07:35] #1464 closed

[2018-04-24 00:31] #1373 closed

[2018-04-24 00:33] qiwzhang commented on #1436
https://github.com/istio/proxy/pull/1480

[2018-04-24 00:33] #1436 closed

[2018-04-24 01:11] #1238 closed

[2018-04-25 10:52] skyao opened #1531 "Performance issue in mixer Check cache"
hi, I found some performance issue in the code of mixer cache.

In check_cache.cc, about line 100, method Check():

[code]
Here we compute the signature in the for loop? So, if we have many entries in referenced_map, we have to go through and call the signature many times, and almost all of these call return false except last one.

Then in this Signature() method, in referenced.cc, we do two thing

[2018-04-26 14:50] diemtvu opened #1558 "Do not reject request if peer_is_optional and/or origin_is_optional is set"
This 2 flags added to the policy so that rejection can be done in the next layer (authZ). Basically, if `peer_is_optional` is set, then authN should not reject request even when peer authentication fail. Similarly for origin.

[2018-04-27 08:55] skyao commented on #1531
@qiwzhang

I'm sorry that I'm NOT a c++ developer and I don't have development env to complete this PR, especially for the code format. I have check every line by my eyes but it still reports "no formatted"

Can you help to check if this fix is OK and do left code format or more code refactory? You can consider my code as "fake code" and do your fix.

[2018-05-01 21:32] #1558 closed

[2018-05-03 13:51] tcolgate opened #1705 "Support configuring listeners with proxy protocol"
Ideally we'd be able to use proxy protocol on the http and https listeners of proxies acting as ingresses. This allows original client IP to be passed in from a suitable front end load balancer (e.g. via a suitably configured AWS ELB). Envoy supports it, and it appears to be configurable via the config file or the v2 API (heptio contour have already [added this](https://github.com/heptio/contour/p

[2018-05-03 16:02] qiwzhang commented on #1705
Could you move this issue to istio/istio repo?  Pilot generates Envoy config.

[2018-05-03 16:44] tcolgate commented on #1705
opened https://github.com/istio/istio/issues/5384

[2018-05-03 16:44] #1705 closed

[2018-05-10 19:30] mandarjog opened #1743 "request.auth.claims should send all claims to Mixer"
Proxy at present `request.auth.claims` sends a string map of simple `<string, string>` claims to mixer. Complex claims are discarded.

For advanced use cases we cannot discard any claims.
complex claims should be serialized strings of their json representation.

This is required for adapters doing claims based authorization.

[2018-05-10 19:32] mandarjog commented on #1743
How involved is this fix? Can it be contained by 0.8 release?

[2018-05-10 19:39] diemtvu commented on #1743
It's all in proxy. I don't think it needs lot of code change, I can give it
a try. However, after that, we will need to update proxy SHA, which may
include few other changes. Not sure if it is advisable at this time.

On Thu, May 10, 2018 at 12:32 PM mandarjog <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-05-10 21:59] diemtvu commented on #1743
As Envoy implementation for json object throw exception for every asXXX function if the type is not the same. For now, we will send another attribute contains the original claims json string so user can parse and use it if desired.

[2018-05-24 01:52] kyessenov commented on #1192
This is done since mixer upstream is just a regular service.

[2018-05-24 01:52] #1192 closed

[2018-05-29 23:05] mattatcha opened #1789 "Frequent segmentation faults"
Seems that segfaults only happen while proxy is handling http traffic.

Running istio/istio@d91d44ead27d9b4018ab5997ef7ec0f0a4621d9d on kubernetes.

Raw backtrace
[code]

Decoded
[code]

[2018-05-29 23:13] mattatcha commented on #1789
It also seems like multiple istio-proxys segfault at the same time causing bursts of 503s identical to https://groups.google.com/forum/#!topic/istio-users/WWZf9ehaBdI.

[2018-05-30 00:42] JimmyCYJ commented on #1789
This is a duplicated issue of https://github.com/istio/istio/issues/5694#issuecomment-392955092
We are going to fix it soon. Thanks for reporting this issue.

[2018-05-30 00:42] #1789 closed

[2018-05-30 01:43] qiwzhang opened #1792 "Not to loss batched reports if work threads going away"
In order to fix Envoy crash:  https://github.com/istio/proxy/pull/1790
not to send batched report when a worker thread going away.

Some report will be lost.   Need to come up away to send these report.

[2018-05-31 22:11] qiwzhang opened #1798 "add some metrics to measure mixer client latency"
Need to add some metrics to better understand how mixer client behave:
1) some latency metrics: such as backend_latency,  attribute_collecting, cache_checking, remote_check, check_response_processing.
2) some counters, such as check cache reset times (due to listener config change), number of referened attribute sets, (means number of signature need to calculate for each request). etc.

[2018-05-31 22:13] qiwzhang opened #1799 "Add more trace spans inside mixer client fitler"
Add trace space to meansure latency for
* attributte collecting
* checking check_cache
* making remote_check call
* processing check_response.

[2018-06-01 16:51] quanjielin opened #1800 "PeerAuthenticator/OriginAuthenticator should handle size==0 case in a consistent way"
See current implementation below, if peer_size==0, PeerAuthenticator success; while OriginAuthenticator has more logic to deal with origins_size==0. The two authenticators should be consistent, most likely PeerAuthenticator should be align with OriginAuthenticator.

PeerAuthenticator
[code]

OriginAuthenticator
[code]

[2018-06-01 16:51] quanjielin commented on #1800
/cc @qiwzhang @diemtvu

[2018-06-01 17:11] diemtvu commented on #1800
This is expected behavior, due to the logic for 'principal binding'. I agree that it is a bit cumbersome to remember set it properly, but we need to improve API specs for that instead.

[2018-06-05 02:15] skyao commented on #1531
#1751 has merged into master.

Let's close this issue.

[2018-06-05 02:15] #1531 closed

[2018-06-06 21:26] qiwzhang opened #1802 "add mixer client e2e test to test route_directive feature"
Added by https://github.com/istio/proxy/pull/1797

Need e2e test in istio:  mixer/test/client.

[2018-06-06 21:51] kyessenov commented on #1802
/assign @kyessenov

[2018-06-06 23:08] #1800 closed

[2018-06-07 01:39] PiotrSikora opened #1803 "Envoy misses embedded version information"
Envoy embeds version information in the binary:
[code]

However, our build of Istio Proxy doesn't:
[code]

[2018-06-07 21:54] qiwzhang opened #1805 "Extract grpc protocol, status, message"
This is from https://github.com/istio/istio/issues/5429

proxy should set attribute context.protocol  as grpc  if request.headers["content-type"] == "application/grpc"

add two new attributes to extract grpc status
response.grpc-status
response.grpc-message

[2018-06-07 21:56] kyessenov commented on #1805
Make sure to cover `application/grpc+json`

[2018-06-08 14:55] jsenon opened #1807 "Istio-Proxy Log JSON"
Istio: 0.7.1
mTLS: Disable

Because we need to parse log with Kibana, is it possible to have a json formatted output for `istio-proxy` instead output as follow:

[code]

[2018-06-08 16:49] qiwzhang commented on #1807
https://github.com/istio/proxy/pull/1808

[2018-06-08 16:57] jsenon commented on #1807
Thx

[2018-06-08 18:37] #1807 closed

[2018-06-09 09:37] x15zhang opened #1811 "config_dump interface cannot work for envoy1.7.0 in istio-proxyv2"
When debug in istio-proxyv2, config_dump interface get nothing info.
[code]
It is not convenient to look into the config of proxy.

[2018-06-11 22:31] qiwzhang commented on #1811
It should work.   @JimmyCYJ used it.  It worked for him

[2018-06-11 22:47] JimmyCYJ commented on #1811
I can dump envoy config when I was debugging this issue https://github.com/istio/proxy/issues/1789 a few weeks ago. It is also using envoy v2 config. The config_dump interface should work. If it does not reply, then there might be other issue.

[2018-06-11 23:29] qiwzhang commented on #1811
@x15zhang could you post your static envoy config specified in "-c config" here?

[2018-06-12 00:52] x15zhang commented on #1811
envoy config as below:
[code]

[2018-06-12 01:28] qiwzhang commented on #1811
Could you check Envoy log to see if any obvious errors after you issue /config_dump call?

[2018-06-12 01:37] x15zhang commented on #1811
Yes.Segmentation fault:
[code]

[2018-06-12 04:52] qiwzhang commented on #1811
Could you use this script:  https://github.com/envoyproxy/envoy/blob/master/tools/stack_decode.py

to decode the back trace?

Here are steps:
1) copy the envoy binary out of istio-proxy container.
2) dump the log to a file,  and modify this line to the envoy binary you just copied.

"Backtrace obj</usr/local/bin/envoy>"

3) cat the log_file |stack_decoder.py

[2018-06-12 07:29] x15zhang commented on #1811
The problem occured with proxyv2:release-0.8-20180520-18-17.
It worked with proxyv2:0.8.0.
@qiwzhang @JimmyCYJ  Thanks a lot for helping me to investigate the issue.

[2018-06-12 07:29] #1811 closed

[2018-06-14 00:48] kyessenov opened #1815 "ci: very slow builds"
circleci takes > 40 minutes to run pre-submit, while prow takes about 15-20 minutes.
Can something be done to make circle faster or not make it required?

[2018-06-14 00:52] mandarjog commented on #1815
I just complained about prow pre-submits ...
https://k8s-gubernator.appspot.com/builds/istio-prow/directory/istio-presubmit

Almost 30 mins each...

[2018-06-14 00:53] kyessenov commented on #1815
This is for proxy. Example https://circleci.com/gh/istio/proxy/2281?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

Note that prow on istio takes long mostly because of the dependency on a real cluster.

[2018-06-14 02:50] hklai commented on #1815
@mandarjog that job builds images and push to GCR. They are time consuming.

@kyessenov circle builds deb (make deb BAZEL_BUILD_ARGS="-j 4") but it does not look like prow is doing the same thing.
https://storage.googleapis.com/istio-prow/pull/istio_proxy/1814/proxy-presubmit/1869/build-log.txt

[2018-06-14 02:53] kyessenov commented on #1815
Is anyone actually using that deb rule? Can't that be done in istio/istio? It looks like a thin wrapper over bazel, which means prow could easily do it as well.

[2018-06-14 03:00] hklai commented on #1815
No idea. Perhaps @costinm or @rshriram set that up some time ago?

[2018-06-14 03:58] kyessenov commented on #926
This has actually been done with route directive.

[2018-06-14 03:58] #926 closed

[2018-06-14 04:21] #1743 closed

[2018-06-14 16:17] #1363 closed

[2018-06-14 21:42] #1805 closed

[2018-06-21 03:23] yangminzhu opened #1827 "authn:http_filter_integration_test segfault after updating envoy sha"
I updated the envoy sha in #1826 and find the following test is failing in my local environment:
$ bazel test //src/envoy/http/authn:http_filter_integration_test

See [http_filter_integration_test/test.log](https://gist.github.com/yangminzhu/ebc8c1d05403be68e18385dba8723a98) for more information

[2018-06-21 05:20] bianpengyuan opened #1828 "Add report of http streaming in mixer filter"
Right now there is http streaming is treated the same as unary http, which means there is only one report at stream closing. With envoy v2 starting to use grpc streaming, it's imperative to add telemetry report for http streaming. Suggest we start with something like tcp, which periodically reports inbound outbound bytes.

cc @qiwzhang

[2018-06-21 05:46] kyessenov commented on #1828
Do we collect TCP measurements (bytes) at the moment for HTTP? If so,
perhaps we should just share the bits that send them on timer between the
two mixer filters.

On Wed, Jun 20, 2018, 10:20 PM Pengyuan Bian <notifications@github.com>
wrote:

[2018-06-21 06:29] qiwzhang commented on #1828
I don't think we add tcp mixer filter for HTTP listeners.   Even so,  it is still different.  A tcp mixer-filter only for the tcp connection.  But a grpc-stream is different with a tcp connection.   A tcp connection can have multiple long-live grpc streams.

[2018-06-21 07:08] zainul-ma commented on #1805
@qiwzhang and @kyessenov for implement two things above , should i waiting for version 1.0 or change some other code in v.0.8 ?

[2018-06-21 14:56] qiwzhang commented on #1805
It will be in 1.0

[2018-06-21 15:16] douglas-reid commented on #1828
We explicitly chose not to enable TCP filters and HTTP filters at the same time. It helped eliminate having to avoid multiple Check() calls (and other issues).

I feel like for the streaming case, we are going to need a bit of design work involving some new attributes (and values for things like `context.protocol`).

[2018-06-26 03:05] rokii opened #1830 "Need Document of what enhancement Istio proxy provided comparing to pure envoy"
We have adopted Lyft Envoy as proxy for TLS. And we have agent to manage the Envoy process.
When migrating to Istio service mesh for VM expansion case, we want to know the gaps if we are keeping original Envoy as the sidecar .

[2018-06-26 18:31] yangminzhu commented on #1827
Fixed in #1829

[2018-06-26 18:31] #1827 closed

[2018-06-27 19:37] kyessenov commented on #1815
Can something be done about this? What's the purpose of circle CI when it is twice as slow as prow and not adding anything extra?

[2018-06-27 20:55] hklai commented on #1815
I can't speak for circle, but we have a plan to experiment using local docker registry in these tests (instead of relying on GCR) to speed up prow E2E tests (and eliminate the need for pushing to GCR which takes a substantial amount of time ).

[2018-06-27 20:56] kyessenov commented on #1815
This is istio/proxy :) It's an opposite problem here, circle is twice as slow with no clear benefit.

[2018-06-27 20:59] kyessenov commented on #1830
Envoy is by design fairly modular. Istio proxy just adds several filters on top of vanilla envoy:
https://github.com/istio/proxy/tree/master/src/envoy

If you don't need features enabled by these filters (ALTS, mixer, JWT), then feel free to use vanilla envoy.

[2018-06-28 01:08] rokii commented on #1830
thx!

[2018-06-28 01:08] #1830 closed

[2018-06-28 04:33] #1802 closed

[2018-06-28 23:58] kyessenov opened #1833 "TCP attributes are not populated by HTTP filter"
I wonder why we don't populate `connection.*` attributes in HTTP mixerfilter. Byte throughput is handy for long streaming gRPC requests.

/cc @lizan @qiwzhang

[2018-07-02 06:21] bianpengyuan opened #1835 "Open connection.event will not be reported"
Though three connection events are added by https://github.com/istio/proxy/pull/1371, connection `open` event will never be reported.

With current logic `open` is recorded when check is called for a TCP connection. However report won't be called until either periodic report triggered or connection closing, which rewrites connection event to either `continue` or `close`.

Should we make a report c

[2018-07-02 15:32] qiwzhang commented on #1835
I am OK to send a report when tcp connection is open.  It should not be a blocking call (the connection should not wait for its response), and it will be batched anyway.

[2018-07-03 00:01] kyessenov opened #1836 "attribute derivation: add an option to use upstream connection as opposed to downstream connection"
Currently, mixerfilter uses downstream connection attributes for check and report. It would be useful to check/report on upstream connection as well. This applies to `connection.*` group of attributes.

[2018-07-03 00:18] qiwzhang commented on #1836
There are two options:
1) create two set of connection.*. one for downstream and the other for upstream, something like
connection.downstream.*   and connection.upstream.*

2) By the mixer-client filter type:  if this is client side proxy (out bound),  use upstream connection, otherwise, use downstream connection.

The difficulty for 2) is: not easy to tell if this is client side or server side.

[2018-07-03 00:30] kyessenov commented on #1836
I think option 2 is better in terms of usability (it's too intricate to understand all the ways connections are managed). I'd like to add a config option once we solve the backwards compatibility issue for filter configs.

[2018-07-03 00:30] kyessenov commented on #1836
/cc @douglas-reid @mandarjog for input.

[2018-07-03 00:30] #1833 closed

[2018-07-09 13:46] wangyf2010 opened #1840 "could envoy load JWT token(like k8s secret for example) and inject JWT token into request if it hasn't?"
envoy could do authn & auth, that's good.
While as for client, could envoy load & inject JWT token into request? It might could load JWT token from k8s secret for example.

I asking this question: because currently, our app get JWT token and inject JWT into request header by itself. And server side, app verify JWT token. While that could be done by envoy totally I think.
Any comments?

[2018-07-09 14:33] namrata-ibm opened #1841 "JWT test failures in Istio Proxy"
I have built Proxy from source on a big endian system. While running tests I am facing below failures:
[code]
This seems to be happening because of failure in 'EVP_PKEY_verify' function from BoringSSL.
Unfortunately BoringSSL is not supported on big endian systems yet.
Is there a way to bypass BoringSSL and use system OpenSSL instead, in Proxy?
Any pointers would be really helpful.

[2018-07-09 15:17] qiwzhang commented on #1841
Hi @PiotrSikora I think the right approach is to fix BorringSSL to support big endian system.  How easy is it?  Otherwise we may need a compiler flag to switch SSL.

[2018-07-09 15:23] qiwzhang commented on #1840
It is not clear if this is a question for Envoy or for Istio.  If it is for Envoy, it is better asked in Envoy official repo.
I think neither Envoy nor Istio supports the requested feature (injecting JWT token into a request).  You may have to write your own HTTP filter to do that.

[2018-07-09 19:40] PiotrSikora commented on #1841
BoringSSL is little-endian only, and I don't believe there are any plans to add support for big-endian systems. cc @davidben @agl

[2018-07-09 22:43] agl commented on #1841
BoringSSL is little-endian only.

Additionally, I don't believe that, for the vast majority of projects, supporting the s390 (which is probably the context here?) is positive on a cost/benefit basis. I can understand why IBM wish to make their hardware as useful as possible by porting things, but it's far less clear that that the costs for the projects being ported are worthwhile.

[2018-07-10 15:35] qiwzhang commented on #1841
Actually, you can ignore these test failures provided that
1) you don't use JWT for istio end-user authentication.
2) you don't make code change in Jwtauthn folder.

[2018-07-10 17:48] namrata-ibm commented on #1841
Thank you @qiwzhang.
These 2 are among the 7 failures we are facing. It would be really helpful if you could comment on below 5 tests which are failing too:
[code]

[2018-07-10 18:38] qiwzhang commented on #1841
For Istio,  5) test is important.  It is testing mixer check cache.  If it fails,  it means check cache may mis-behave.  Unless you disable check cache.

For other 4 tests, as long as you don't use JWT in your requests, it is fine.

[2018-07-10 19:52] PiotrSikora commented on #1841
I'm pretty sure that more things than `EVP_PKEY_verify()` will fail and/or misbehave on big-endian systems, even if some of the tests are passing, so I'd recommend against using Istio Proxy or even Envoy itself on such systems.

[2018-07-12 10:54] namrata-ibm commented on #1841
Thank you for inputs.
Just wanted to know whether there is any alternative for authentication? other than JWT?

[2018-07-12 15:20] qiwzhang commented on #1841
You can use mutual TLS for authentication.   Please check out the Istio security document for details.

[2018-07-13 05:57] namrata-ibm commented on #1841
Sure, Thanks a lot Wayne for all the help :)
Closing this issue for now.

[2018-07-13 05:57] #1841 closed

[2018-07-13 18:07] #1835 closed

[2018-07-16 20:57] texzone opened #1853 "Security issues granting istio l7 load balancer admin privileges"
Hello,

It is my understanding that istio needs root access to my (kubernetes) containers to work in order to modify iptables (and perhaps other things). Is there a workaround for this? I would love to have istio as my load balancer implementation, but there are security issues attached with granting it root access. It would be great if either my understanding is incorrect.

I see there was an [is

[2018-07-18 23:01] PiotrSikora commented on #1815
@kyessenov it's slow, because `circleci/build` is running all 3 tests in 1 target (`make test`, `make test_asan` and `make test_tsan`), whereas prow tests are running them in separate targets.

I don't know the reasoning behind that... perhaps it was originally running on free quota?

[2018-07-18 23:03] kyessenov commented on #1815
I'm sure this is fixable, I just want whoever installed circle, made it mandatory, and left, to take care of it.

[2018-07-21 00:25] qiwzhang commented on #1853
Could you move this issue to istio/istio repo?   This repo is specific for istio/proxy.

[2018-07-24 00:53] mandarjog opened #1876 "Fix envoy backtrace"
Backtrace for Envoy in 1.0 RC build some times puts out the following stack trace
This was observed in https://github.com/istio/istio/issues/7297

Need to
1. Verify that backtrace from a core dump is identical to one printed by backtrace_lib
2. Why do we not print correct stack trace from time to time.

[code]

However when used with SIGABRT is produces different stack traces.

[code]

[2018-07-24 00:53] mandarjog commented on #1876
@htuch

[2018-07-24 01:01] htuch commented on #1876
Yeah, I think a backtrace from a core dump would be more useful; need to see line numbers..

[2018-07-24 23:32] mandarjog opened #1877 "Proxy Segfault: with 1.0-20180723-09-15"
Proxy seg faults with the following backtrace.
`proxy: gcr.io/istio-release/proxyv2:release-1.0-20180723-09-15`
[code]

[code]

The in logs backtrace for this error was not very useful.
[code]

[2018-07-24 23:32] mandarjog commented on #1877
@rshriram @costinm

[2018-07-24 23:45] kyessenov commented on #1877
https://github.com/envoyproxy/envoy/blob/2a68458119ffcd97498fcbe13fc14c8b8d043cb0/source/common/router/rds_impl.cc#L98

Hard to find without line numbers or RDS response. Looks like something that pilot sent triggered it.

[2018-07-25 00:11] qiwzhang commented on #1877
We need core file.   Can we turn on core dump?

[2018-07-25 00:39] mandarjog commented on #1877
[corefile.zip](https://github.com/istio/proxy/files/2225926/corefile.zip)

[2018-07-25 00:54] mandarjog commented on #1877
FYI @htuch

[2018-07-25 00:59] PiotrSikora commented on #1877
I'm getting an incomplete backtrace on Linux (most likely due to `/lib64/ld-linux-x86-64.so.2` mismatch between my system and the one that created the coredump):

[code]

macOS seems to be a bit more helpful:

[code]

but the line numbers seem to be quite a bit off.

[2018-07-25 01:06] mandarjog commented on #1877
That is interesting, I am getting
[code]
as the last envoy function at the top of the stack when I run gdb in the same container.

[2018-07-25 01:07] kyessenov commented on #1877
The stuff before that is backtrace trapping code. I saw it malfunction before, but the rest is legit. We just need the line number I think.

[2018-07-25 01:44] rshriram commented on #1877
I don’t want line numbers. Give me the sequence of events. Or the test setup where this failure is happening. Seems like this is happening for the gateway.

[2018-07-25 02:03] kyessenov commented on #1877
ref https://github.com/istio/istio/issues/7297

[2018-07-25 06:30] mandarjog commented on #1877
@rshriram this happend at `istio-ingressgateway`. I was configuring fortio service for performance testing, so I was adding and removing deployments. I also removed and re-added virtual services attached to this gateway.

All these steps were done manually so I don;t think there is a recreation scenario.

[2018-07-25 17:06] #1815 closed

[2018-07-25 18:42] qiwzhang commented on #1877
Here is updated back trace with line number:

gdb) bt
#0  0x0000000000d71379 in uw_frame_state_for () at src/base/logging.h:229
#1  0x0000000000d72fb8 in _Unwind_Backtrace () at src/base/logging.h:229
#2  0x0000000000ce46ac in backward::details::Unwinder<backward::StackTraceImpl<backward::system_tag::linux_tag>::callback>::operator() (depth=72,
    f=..., this=0x7fa881f95a00) at external/com_githu

[2018-07-25 19:21] diemtvu opened #1880 "Remove hard-coded payload key sec-istio-auth-userinfo"
This was used in the early implementation for JWT filter, and is already ignored by authn filter.

- [x] Remove populating (and sanitize) this header in JWT filter.
- [ ] Remove fallback code when building attribute for mixer. It should get data from output of authN filter only.

[2018-07-25 19:32] diemtvu opened #1881 "Use Envoy dynamic metadata to pass data between filters"
- [x] From JWT filter to istio_authn filter (to send authenticated JWT payload)
- [x] From istio_authn filter to mixer (to send final authenticated identities)

Note: from authn filter to RBAC filter already use dynamic metadata.

[2018-07-30 23:56] yangminzhu opened #1892 "originIsOptional flag is not implemented correctly in authn filter"
When it is true, the JWT validation is skipped completely which means the result could never be used in later layer, like the RBAC filter.

https://github.com/istio/proxy/blob/82e079030da46a4e83301890b8b398e422ac951d/src/envoy/http/authn/http_filter.cc#L62-L64

/cc @diemtvu

[2018-07-30 23:57] yangminzhu commented on #1892
Note: we're thinking to add a more generic solution, like per-path JWT authentication support. And might actually just remove the `originIsOptional` flag as it brings more confusion than solving the problem

[2018-08-07 00:36] mandarjog opened #1895 "Send envoy `RESPONSE_FLAGS` as mixer attributes in Report"
`%RESPONSE_FLAGS%` contain additional details about the response or connection, if any. For TCP connections, the response codes mentioned in the descriptions do not apply. Possible values are:
[code]
This is a string attribute to avoid defining all these as ENUMs.

[2018-08-07 00:49] mandarjog commented on #1895
Define a new attribute called `context.routing_error_reason`

[2018-08-07 18:00] danehans opened #1898 "Cross Referencing Makes Support Difficult"
I am performing a security assessment of Istio 1.0. As part of the assessment, I need to understand details such as the versions of TLS supported by the proxy. This leads me to the Envoy documentation which is based off a released version. Istio Proxy is based off an Envoy commit sha [1] instead of a released version of Envoy. This is increasing the complexity of supporting Istio.

https://github.

[2018-08-08 23:10] diemtvu commented on #1881
Step 1 done by https://github.com/istio/proxy/pull/1893

[2018-08-09 00:05] diemtvu opened #1902 "Add RBAC filter to istio_http_integration_test"
Minimum, verify the flow when RBAC reject and accept.

https://github.com/istio/proxy/blob/master/test/integration/istio_http_integration_test.cc

[2018-08-09 02:38] x15zhang opened #1903 "TCP weighted routing is not support in Envoy"
Currently, only one destination is allowed for TCP services for Istio 1.0. When TCP weighted routing support is introduced in Envoy, multiple destinations with weights can be specified.
Is there any plan for TCP weighted routing support in Envoy?

[2018-08-09 15:44] qiwzhang commented on #1903
You mean supporting tcp weighted route in Istio?  is that right?
For Istio routing issue,  could you open it in istio/istio repo?  Thanks.

[2018-08-09 15:44] #1903 closed

[2018-08-09 17:02] liminw opened #1905 "Do not pass "Authorization" header to Mixer"
Proxy today passes all request headers to Mixer. Since "authorization" header contains JWT credential, for security reason, we should remove it from the list of headers passed to Mixer.

[2018-08-09 17:03] liminw commented on #1905
@qiwzhang

[2018-08-09 17:04] kyessenov commented on #1905
Shouldn't JWT filter scrub it instead? This should not depend on whether or not mixer filter is present.

[2018-08-09 17:07] liminw commented on #1905
My understanding is, JWT filter has the option of whether or not to send JWT to the application, but Mixer filter always has the full set of headers. @qiwzhang, can you confirm?

[2018-08-09 17:10] liminw commented on #1905
@kyessenov but you made a good point. I agree that JWT filter should be responsible for removing the authorization header.

[2018-08-09 17:12] qiwzhang commented on #1905
Since JWT filter is in front of mixer filter,  if JWT filter remove it,  mixer filter will not see it.  So @kyessenov suggestion is valid,  users can config JWT config to remove it.

Here is the flag <https://github.com/istio/api/blob/master/envoy/config/filter/http/jwt_auth/v2alpha1/config.proto#L157>
the default is not to forward it.

So we are good.

[2018-08-09 17:26] qiwzhang commented on #1905
It is difficult for mixer filter to  remove token too.  token can be other places than Authorization header. Mixer client needs to parse JWT config to remove them.

[2018-08-09 18:04] liminw commented on #1905
My understanding is, the JWT is targeted for the application, so it is ok for the application to consume it. But Mixer is Mesh level control panel. If, say, an admin wants to log http headers for all services in the mesh, he can do that. Then JWT will appear on Stackdriver UI. That's not desired.

@qiwzhang Authorization header is the most common use case. We can just address that.

[2018-08-09 18:06] kyessenov commented on #1905
cc @mandarjog @geeknoid

[2018-08-09 20:48] #1881 closed

[2018-08-10 01:03] venilnoronha commented on #1895
@mandarjog I was interested in working on this. Is it still available?

[2018-08-10 01:05] venilnoronha commented on #1895
Oops, seems like it's already done in 3f528b41a7a6311b4f49baf8c05c1330c2267803.

[2018-08-10 05:07] jboeuf commented on #1905
+1 for what Limin said. From a security perspective, it is fine to have the application consume the JWT (that's kind of what it was targeted for in the first place). On the other hand, having externally usable credentials in logs is a big problem. Everyone who has access to the logs is able to replay these tokens to impersonate the customers of all services.

[2018-08-10 05:27] kyessenov commented on #1905
OK. If the requirement is not to expose `request.headers['Authorization']` to any upstream logging system ever, then it makes sense to erase it either in the proxy or in Mixer as a first pass. It seems that this should be unconditional even if Mixer requires k8s RBAC-level permissions to select which attributes are exposed to the logging system.

[2018-08-10 15:47] qiwzhang commented on #1905
OK, the action item is to remove Authorization header when sending to Mixer.

[2018-08-10 16:38] qiwzhang commented on #1905
https://github.com/istio/proxy/pull/1908

[2018-08-10 17:19] kyessenov commented on #1905
We have authorization adapters (Apigee) that need access to authentication tokens (API keys, for example). I think we should not remove them from Check calls but only scrape them in Report calls.

@jboeuf Is your concern mostly about logging (telemetry), or does it also apply to Check calls?
Is it OK to remove the header on Mixer side instead?

[2018-08-10 17:29] jboeuf commented on #1905
My concern is mainly for telemetry / logging (a potentially big number of humans having access to auth tokens in logs).

For authorization adapters, I would much prefer for the authentication to be done on the proxy and that information being sent out (without the original auth token) to the mixer's authorization checks but I understand that this may be a disruptive change in the short term so I'm

[2018-08-10 23:02] kyessenov opened #1910 "source.principal missing"
While trying the new proxy I noticed that source.principal is no longer available.
Mixer reports the following:
                connection.mtls               : true
                context.protocol              : http
                context.reporter.kind         : inbound
                context.reporter.uid          : kubernetes://pod1.ns2
                destination.ip                : [0 0 0 0

[2018-08-10 23:03] kyessenov commented on #1910
@qiwzhang -- can we please run istio tests on proxy PRs? This is not the first time a regression sneaks in due to limited coverage in the proxy itself.

[2018-08-10 23:09] kyessenov commented on #1910
Also, jwt tests in istio are failing (and timing out):
[code]

Please fix the tests soon, we cannot update proxy until the offending PRs update the tests.

[2018-08-10 23:58] kyessenov commented on #1910
/cc @yangminzhu

[2018-08-11 22:49] diemtvu commented on #1910
How do you set up your test? I've just tried to modified my app pod with the new proxy image and have different issue. In my case, CDS was not retrieved, hence have 503 because missing (mixer) backend cluster. Not sure if this is the same problem you have, or smt else. I'm don't know what cause of that neither. Need to debug more.

Btw, I've added some integration test to proxy repo recently (http

[2018-08-12 00:01] kyessenov commented on #1910
The test is in PR https://github.com/istio/istio/pull/7791.
I have trouble merging it since the proxy keeps changing what attributes it sends :)
I think this is probably related to what we discussed before: mixer filter should set `source.principal` without authentication filter to be mTLS SPIFFE identity. We need less dependencies to be able to test components in isolation. I have not tried using

[2018-08-12 23:13] diemtvu commented on #1910
I am a bit confused now. Are you saying your new test fails (source.principal was not set) Also, which JWT test do you refer to? I can't see it in the testgrid https://k8s-testgrid.appspot.com/istio-postsubmits#circleci-e2e-pilot-auth-v1alpha3-v2. Can you fire another issue for that for tracking purpose.

We didn't change any attributes recently. We do change the way filter passing data to each ot

[2018-08-13 00:50] diemtvu opened #1911 "Proxy fails to receive CDS"
Using the new proxy build in Istio, I get 503 errors for all request. After a little debug, looks like it was not able to get the CDS from pilot, hence getting error like this:

[code]

I think it starts breaking after  https://github.com/istio/proxy/pull/1894

[2018-08-13 04:25] kyessenov commented on #1910
@diemtvu

The tests fail if you try to update proxy SHA in istio/istio. There are multiple causes for failures -- I've updated my PR to fix as many as I can, but I cannot help with JWT tests. These are tests under `mixer/test/client`.

The test set-up is not wrong. These tests used to pass until the more recent changes to the proxy. Please try to update proxy SHA locally and see the test failures

[2018-08-13 04:36] diemtvu commented on #1910
I fired this issue https://github.com/istio/proxy/issues/1911 few hours ago. I think it's the root cause of your problem.

[2018-08-13 04:40] kyessenov commented on #1910
There is no CDS in my test. I think that's probably another issue. Which makes my point in #7841 even stronger :)

[2018-08-14 11:30] PiotrSikora commented on #1877
This was fixed in #1886 and shipped in 1.0.0.

[2018-08-14 11:30] #1877 closed

[2018-08-14 15:45] #1803 closed

[2018-08-15 00:10] lei-tang opened #1920 "Store JWT claims to a protobuf struct in the authn filter"
Currently, the JWT claims are stored as a map<string, string> (https://github.com/istio/proxy/blob/master/src/istio/authn/context.proto#L37) .
This issue is created to store JWT claims to a google.protobuf.Struct in the authn filter.  It will change the "claims" to proto struct, not individual entry under claims. For example, the 'group' entry can be a Value of type StringList, "iss" is value of t

[2018-08-15 00:10] lei-tang commented on #1920
/assign @lei-tang

[2018-08-16 21:31] kyessenov commented on #1910
@diemtvu Any insight on this?
It's easy to reproduce using `go test ./mixer/test/client/pilotplugin_mtls/` in istio repo against the fresh envoy binary.

[2018-08-16 23:15] yangminzhu commented on #1910
I think I found the culprit for this. https://github.com/istio/proxy/pull/1887 removed the attributes generation in attributes_builder.cc which means the `source.principal` is only generated when authn filter is enabled. This is not true in the `pilotplugin_mtls_test` that doesn't have Authn filter.

@kyessenov @diemtvu Should we revert that change?

[2018-08-16 23:17] diemtvu commented on #1910
But the current SHA is already past that point?

On Fri, Aug 17, 2018 at 6:15 AM Yangmin <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-08-16 23:28] yangminzhu commented on #1910
Right, `pilotplugin_mtls_test` is added 3 days ago in https://github.com/istio/istio/pull/7791, and I think Kuat commented out the `source.principal` when adding the test as it failed with the latest proxy.

[2018-08-16 23:49] diemtvu commented on #1910
Oh I see. Then it makes sense. @kyessenov is that possible to setup the full filter chain for the test?

[2018-08-16 23:54] kyessenov commented on #1910
Diem, unless authn becomes a core part of pilot, we should degrade
gracefully, and still provide the attribute in mixer filter in isolation.
Pilot allows turning authn and mixer separately and independently, so the
dependency between them is not ideal. Can we revert the change in
mixerfilter? All we need is use mTLS solely if there is no authn.

On Thu, Aug 16, 2018, 4:49 PM Diem Vu <notifications

[2018-08-17 00:05] diemtvu commented on #1910
We can, but then you are going to test the scenario that not happen in real
world. At the moment, authn filter must be on when mTLS (or JWT) is used,
and we plan to make it always there.

The reason we want to enforce this dependency to make sure mixer use the
right value authentication attributes. Having mixer extract them directly
from sources might cause different kinds of problems.

On Fri, Au

[2018-08-17 00:08] kyessenov commented on #1910
Well, I have no objection to making authn always be there.
This is not my understanding from how pilot is currently structured.
@rshriram are you fine with authn always be on? How do we declare dependencies between filters in pilot?

[2018-08-17 00:15] diemtvu commented on #1910
To be clear, not just always on, but on with the right configuration (i.e
according to authn policy). For the case of authn is not used (i.e no mTLS
nor JWT), the config would be empty, and filter will do nothing. In other
words, mTLS should be used only with authn filter.

On Fri, Aug 17, 2018 at 7:08 AM Kuat <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com |

[2018-08-17 04:47] kyessenov commented on #1910
So, how is this working for TCP then? We used to get source.principal for TCP connections. I don't see TCP authn filter.

[2018-08-17 18:11] kyessenov commented on #1910
/ref #1926

[2018-08-21 14:26] barnettZQG opened #1929 "proxy build failed"
[code]

[2018-08-21 14:31] domwong opened #1930 "Unexpected caching behaviour in policy checking"
Istio Proxy Version: gcr.io/istio-release/proxyv2:1.0.0

## Summary
The caching behaviour for policy checks is unexpected (or perhaps not well documented). Responses to policy checks are cached by the mixer client but it seems like the key on which responses are cached is based only off certain attributes of the request.

I have a k8s cluster with Istio and an [OPA](https://istio.io/docs/reference

[2018-08-21 16:00] qiwzhang commented on #1929
Could you build the latest Envoy by using Bazel?  I believe if you can build Envoy,  you should be able to build istio/proxy.

[2018-08-21 17:14] qiwzhang commented on #1930
Thanks for your test.  I created a PR to check it in.

The problem with your test is:  request.headers is a string map type,  you have to specify map_key <https://github.com/istio/api/blob/master/mixer/v1/check.proto#L141> to indicate which map keys are used for cache.   If you are not specified,  the default value is index 0 which is "source.ip" from the global dictionary <https://github.com/isti

[2018-08-21 18:05] domwong commented on #1930
Thanks for the info @qiwzhang

So if I understand correctly there is no support for request headers which aren't in the global dictionary? e.g. given these two curl requests

[code]

They will look the same to the proxy's `CheckCache` because the request header `foo` is not in the global dictionary and thus both requests resolve to the same cache key? Or in other words, the only request headers th

[2018-08-21 18:14] domwong commented on #1930
BTW I should add, if I change my test to well known request headers found in the global dictionary and set the `map_key` then it passes the test. So my main issue now is how to make this work for request headers not found in the global dictionary.

[2018-08-21 19:26] qiwzhang commented on #1930
If your header is not in the global dictionary,  it will be add as per-request dictionary in this field <https://github.com/istio/api/blob/master/mixer/v1/attributes.proto#L114>.  The index will be negative.  Please look at the comment of the top of "CompressedAttributes" on how to set the index.
This is all part of compression scheme for CompressedAttributes.

[2018-08-23 08:45] domwong commented on #1930
Thanks @qiwzhang . I've managed to track down the issue as a bug in istio mixer which I'll fix and PR on that repo. Will close this.

[2018-08-23 08:45] #1930 closed

[2018-08-27 19:36] kyessenov commented on #1911
Pilot had a race condition that removed clusters from envoy.

[2018-08-27 19:36] #1911 closed

[2018-08-29 12:44] RonaldV commented on #1892
@yangminzhu if understand it correctly, this isn't going to be fixed but it will be replaced with another feature using paths. That would definitely be better but is there a solution for this at the moment? Because this is not usable.
It is set JWT for the whole service or not at all. How would you handle allowing public access to parts of the API?
Thanks.

[2018-08-29 20:43] #1880 closed

[2018-08-30 02:34] yangminzhu commented on #1892
I'm not sure if there are any workaround for now, @diemtvu do you have any ideas?

[2018-08-30 23:35] gupash opened #1955 "Istio Pilot can't find the certs"
Hi,
I am deploying minimal installation of Istio with Pilot and Citadel in Minikube.

The installation is successful, but when the proxy container starts it gives the following Exception:

[code]

Here are my Installation ymls

[custom_istio_crds.yml.txt](https://github.com/istio/proxy/files/2338276/custom_istio_crds.yml.txt)
[Istio_on_Local.yml.txt](https://github.com/istio/proxy/files/2338277/Is

[2018-09-05 08:33] yskopets opened #1958 "Istio RBAC rules are not working for `Origin Authentication` when `originIsOptional: true`"
#### Description

I'm trying to create a configuration with RBAC rules for both `service-2-service` and `user-2-service` traffic at the same time.

Let's say I have service `A`. I want to allow requests in 2 cases:
  1) requests are coming from service `B` (in which case `Origin Authentication` should not be enforced)
  2) requests are coming from humans via ingress gateway (in which case `Origin

[2018-09-05 18:43] yangminzhu commented on #1958
Hi Yaroslav,

Sorry for the issue and thanks for your detail report. It's a known issue,
see https://github.com/istio/proxy/issues/1892.

We initially thought the `originIsOptional` flag is causing confusion and
could be replaced with the per-path JWT authentication
<https://docs.google.com/document/d/193HcSBSQOAs0zFBbemOd9vis3s5mmsrtLJBc99XfS7o/edit>.
But your case seems a reasonable use of `orig

[2018-09-05 20:10] yskopets commented on #1958
Hi Yangmin!

Thanks for the feedback!

I’d like to run by you another usage scenario.

In our existing Kubernetes setup (without Istio):
- we enforce `User-2-Service` security policies at `Ingress` level
- and use `Prometheus Operator` to scrape metrics from all applications
- since Prometheus scrapes metrics directly from `Pods`, it is not affected by our `User-2-Service` security solution

For c

[2018-09-08 15:23] ymesika opened #1963 "Proposing myself as a collaborator"
Darwin builds for the proxy are currently hosted on some personal bucket and stuck in `0.7.1`: https://github.com/istio/istio/blob/master/bin/init.sh#L101

I don't mind building for MacOS with each release of proxy and adding the build for the released tag but I need to be a collaborator to be able to edit releases and add the binary.

Therefore I'm proposing myself as a collaborator only for this

[2018-09-10 15:21] qiwzhang commented on #1963
@ymesika    For release, most likely it is in istio/istio repo.   Could you move the issue there?

[2018-09-10 16:43] ymesika commented on #1963
@qiwzhang istio/istio is not the right place to host a proxy release. The binaries needs to be placed somewhere so the script there will be able to download it.

Alternatively, just add the following file to the `1.0.2` release of **this** repo if you have the permission to do so.

[istio-proxy-1.0.2-macos.tar.gz](https://github.com/istio/proxy/files/2367556/istio-proxy-1.0.2-macos.tar.gz)

[2018-09-10 17:18] qiwzhang commented on #1963
I see.  I don't have permission either.  @hklai may have

[2018-09-10 17:28] hklai commented on #1963
@ymesika do you mean adding to https://github.com/istio/proxy/releases/tag/1.0.2?

I suppose we should automate that in the release if that is important. Could you elaborate the use cases and how you build the mac binary?

[2018-09-10 18:01] ymesika commented on #1963
@hklai That's the place.

To automate it you will need a Mac to run the build on. Do you have such as part of the release process? Anyway, I checkout the desired tag of the repo and run the make build to create the envoy binary. I'm pretty sure I had to install some pre-requisites until I had the bazel build working but it was long time ago.

This is useful for people like myself who wish to run t

[2018-09-10 19:31] hklai commented on #1963
@ymesika we currently don't run any mac build. In fact, we don't even build proxy in the release progress. Instead, wea rely on the regular proxy build from the post submit jobs. We have a plan to do better and perhaps we should incorporate mac build in it too.

In the mean time, I have updated https://github.com/istio/proxy/releases/tag/1.0.2 with the binary. PTAL

[2018-09-10 19:40] ymesika commented on #1963
Great. Thanks @hklai !

[2018-09-10 22:51] kidiyoor commented on #1929
not able to build this repo in Centos7 with following error.
[code]
[code]

Successfully able to build envoyproxy/envoy and istio/envoy from same machine.

[2018-09-10 22:52] kidiyoor opened #1965 "istio/proxy build fails in Centos7"
not able to build this repo in Centos7 with following error.

building tag 1.0.2
[code]
[code]

Successfully able to build envoyproxy/envoy and istio/envoy from same machine.

[2018-09-11 01:37] PiotrSikora commented on #1963
The `istio-proxy-1.0.2-macos.tar.gz` is wrong, it has `envoy` at the root of the package, whereas Linux packages have it under `usr/local/bin/envoy`, which breaks `make init` in `istio/istio`.

cc @nmittler @rkpagadala

[2018-09-11 02:26] dunjut commented on #1963
cc @hklai

The `istio-proxy-1.0.2-macos.tar.gz` needs to be fixed of file path.

[2018-09-11 03:11] hklai commented on #1963
@ymesika could you fix it? I can then upload the file again.

[2018-09-11 03:58] PiotrSikora commented on #1963
Yeah, it seems that the previously uploaded `tar.gz` was created manually and not using Bazel... it was also `DEBUG` and not a `RELEASE` build.

I uploaded `tar.gz` produced using:
[code]
it should be available at the same URL as the previous file.

[code]

[2018-09-11 03:58] #1963 closed

[2018-09-11 05:55] ymesika commented on #1963
@PiotrSikora Thanks for correcting the tar.

I'm glad we finally have an updated envoy and also what's needed to create it in future releases.

[2018-09-12 13:18] mefarazath opened #1968 "End user JWT authentication is not working as expected with a OAuth2 Server running within the k8s cluster"
**Describe the bug**

I am trying out the [JWT end-user authentication sample](https://istio.io/help/ops/security/end-user-auth/) with WSO2 Identity Server as the JWT Issuer. Below is the authentication policy I used

[code]

As you see in the above policy I had to use a public url (https://gist.githubusercontent.com/mefarazath/0757201b14de6f2a3c01b62d39648367/raw/1a37b704825f64f0763dfc02dfabc1af4

[2018-09-12 16:58] qiwzhang commented on #1968
What is the jwksUri you used when you use your deployed JWKS endpoint?    Pilot is the one fetching the JWKS and send it to Proxy.  From the proxy log,  empty inline_string indicates Pilot failed to fetch it.

This is a network problem.  Could you login to your Pilot container to see if you can use "curl" to fetch the JWKS from your JWKS endpoint?

[2018-09-12 18:21] mefarazath commented on #1968
Turns out that the jwks URI I configured was an HTTPS endpoint secured with a self-signed cert. Switched to the HTTP endpoint of the jwks uri and everything works fine!

@diemtvu has given a nice explaination in https://github.com/istio/istio/issues/7290#issuecomment-420723968

Thanks a lot folks!

[2018-09-12 18:21] #1968 closed

[2018-09-14 17:47] qiwzhang commented on #1965
@kidiyoor could you try with latest proxy?  Thanks.

[2018-09-14 17:48] #1905 closed

[2018-09-14 17:49] #1902 closed

[2018-09-14 17:54] qiwzhang commented on #1955
Setting up certs in the docker is handled in istio/istio.   If you move this issue to that repo,  you may get more attention.   Thanks

[2018-09-14 17:56] qiwzhang commented on #1929
It is a dup to https://github.com/istio/proxy/issues/1965. Close this one

[2018-09-14 17:56] #1929 closed

[2018-09-14 17:58] qiwzhang commented on #1898
Sorry,  that is the issue? How do you suggest to solve it?

[2018-09-14 18:00] #1799 closed

[2018-09-14 18:01] #1798 closed

[2018-09-14 18:01] #1792 closed

[2018-09-17 15:41] danehans commented on #1898
sync proxy with major releases of envoy. Otherwise, provide full docs support.