[2018-09-17 15:52] qiwzhang commented on #1898
Istio always uses the latest Envoy bug fixes and features.  It is unlikely it only uses Envoy major releases.
What does the "full docs support" mean?

[2018-09-17 15:52] #1965 closed

[2018-09-17 21:43] danehans commented on #1898
OK. How do you suggest addressing the use case I describe in my original issue?

[2018-09-26 09:46] mefarazath opened #1983 "Injecting a JWT obtained from an external endpoint during sidecar communication"
I have two services deployed in an istio mesh and secured each with JWT authentication.

Suppose if the two services need to talk to each other, Is there any extension point in the flow which I could use to inject a valid JWT into the request going from on service to other. I can obtain the JWT by calling an external service or endpoint.

[2018-10-01 06:32] mefarazath opened #1985 "Configuring an HTTP external authz service for EnvoyFilter resource"
I am trying to enforce authorization for inbound traffic to the istio proxy. I used the "envoy.ext_authz" EnvoyFilter resource and implemented a GRPC server to do the authorization. Here is my working config

[code]

While going through the [envoy docs](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2alpha/ext_authz.proto#envoy-api-msg-config-filter-http-ext-authz

[2018-10-02 16:47] qiwzhang commented on #1985
Istio Pilot generates Envoy config.  Could you move this issue to Istio repo?  Thanks.

[2018-10-02 18:09] mefarazath commented on #1985
Moved to https://github.com/istio/istio/issues/9097

[2018-10-02 18:09] #1985 closed

[2018-10-15 03:37] dove-young opened #1990 "log messages are not identical"
Log messages for internal requests are pretty good

[code]

But log messages for user defined gateway rules, say `httpbin` example, it comes in this way

[code]

`"HEAD /status/200HTTP/1.1"` would be `"HEAD /status/200 HTTP/1.1"`

[2018-10-15 16:01] qiwzhang commented on #1990
@douglas-reid could you help?

[2018-10-15 16:14] douglas-reid commented on #1990
Is this possibly a difference in Envoy output for `HEAD` requests?

[2018-10-15 16:38] douglas-reid commented on #1990
I wasn't able replicate this issue with the proxy in an initial attempt, fwiw:

[code]

[2018-10-15 19:26] yangminzhu opened #1992 "Migrate dynamic metadata to SharedFilterState"
[FilterState](https://github.com/envoyproxy/envoy/issues/4528) is added to as a generic attribute bag shared by all filters.

We will need to move to use it if:
- Dynamic metadata gets deprecated
- AuthN TCP filter is implemented

[2018-10-15 20:09] rshriram commented on #1992
We need to move to it in general, as its a more flexible and scalable model. It allows third party filters to add metadata that RBAC filter can use.. The current model is pulling from well known filters, limiting the usability of Istio RBAC to istio filters only.

[2018-10-15 20:42] diemtvu commented on #1992
If some data is used by both, say RBAC and mixer filter, do we have to output to both places?

[2018-10-15 23:48] rshriram commented on #1992
No.. Just output to a single key (envoy.connection.attributes).. Have both filters use this named state.

[2018-10-17 13:35] rshriram commented on #1992
Actually hold off on this please. Looking at the bevy of data sharing options in Enovy, the dynamic metadata seems like a better fit. We simply need other filters to write to RBAC filter's dynamic metadata instead of RBAC pulling from everywhere. The struct conversion is a pain but we can make do with this for the moment.

[2018-10-18 05:51] dove-young commented on #1990
Sorry for not making it clearly.  The log messages are come from `istio-ingressgateway` pod.

I can reproduce it in my environment. By issue curl request to either Bookinfo demo or httpbin demo

[code]

[2018-10-18 14:45] douglas-reid commented on #1990
@dove-young yes. that is an envoy access log being generated by the proxy that is acting as your `ingressgateway`. can you share details on the envoy version you have deployed and maybe the envoy config you have?  they should both be accessible via the admin port (`15000`) from localhost.

[2018-10-19 06:42] diemtvu commented on #1366
@qiwzhang , Can you help take care of this. I think we need to return the error message. I looked around and it seems normal to do so. The error message could be smt like:

Origin unauthenticated: ALG_NOT_IMPLEMENTED

(or any better text reasoning from JWT / mTLS status)

[2018-10-23 20:59] #1955 closed

[2018-10-24 07:52] lnshi opened #2000 "istio-proxy is only able to passthrough around 62 grpc request per second"
As title told, we use [istio-proxy](docker.io/istio/proxy_init:1.0.1) as sidecar for one of our grpc server, then we attack the server at a rate 1000 grpc request per-second, on our grpc server side we only observed around 62 request per-second coming in(our grpc server CPU usage and memory usage is still very low, 10% and 200MiB like that, they are in different container, so will not share any re

[2018-10-24 16:12] qiwzhang commented on #2000
What happen to other requests that did not reach backend?   What response were they failed with?

Well,  we did not test grpc.  But we constantly test with http.  We can get much better performance than 62 qps.   As far as I can tell,   grpc is using http2, all Envoy code is based on http2 so http and grpc should have the same data path, should have the same performance.

@mandarjog.   do you have

[2018-10-24 16:21] qiwzhang commented on #2000
In our perf test, we basically have a dummy Mixer without much policy, so Check calls can be cached at proxy side with very high cache hit ratio.

 In your test,  what kind of Mixer policies do you have?   What is the Check cache hit ratio?

@mandarjog do you know how to chec cache hit ratiio?

I know there is such statics:

total_check_calls
total_remote_check_calls

you can get these numbers of

[2018-10-25 00:35] lizan commented on #2000
@Inshi Can you provide more details about your request pattern? (# of connections, payload size, test client etc).

What is the CPU usage of the istio-proxy container?

[2018-10-25 07:15] lnshi commented on #2000
After i tried below scenario, i got more confused, basically i took out the istio-proxy sidecar from my grpc server, and run one envoy as front proxy standalone, then attack the envoy proxy directly, i can reach around 466 qps(it should be 1000,  the envoy container resources are not fully utilized, peak CPU 0.704 of 2, memory 37.8Mi of 2Gi):

![screen shot 2018-10-25 at 14 55 43](https://user-ima

[2018-10-25 07:37] lizan commented on #2000
Can you paste you stats here? (i.e. `curl http://127.0.0.1:9901/stats`).

What is the client are you using, and how many concurrent requests does it issue? It is likely some network factor is affecting since CPU is not fully utilized.

[2018-10-25 07:45] lnshi commented on #2000
@lizan

[code]

[2018-10-26 02:59] lnshi commented on #2000
As lizan pointed out above, after i added the [timeouts](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http_connection_management.html#timeouts) and [circuit breaker](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/circuit_breaking.html) configurations, i managed to reach the exactly same qps as my attacker reported.

Just share my envoy configuration file in case

[2018-10-26 02:59] #2000 closed

[2018-11-08 21:53] diemtvu commented on #1366
@lei-tang For some reason, I can not assign the issue to you. Anyway,  can you take care of this bug. I think it's ok to return the authentication failure reason. We can have the common authN failure format like:
[code]

[2018-11-08 22:06] lei-tang commented on #1366
@diemtvu Yes, I have assigned it to myself.

[2018-11-08 22:06] lei-tang commented on #1366
/assign @lei-tang

[2018-11-08 22:06] istio-testing commented on #1366
@lei-tang: GitHub didn't allow me to assign the following users: lei-tang.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/proxy/issues/1366#issue

[2018-11-09 09:39] zhaorendong opened #2033 "End user JWT authentication is not working as expected with a OAuth2 Server running within the k8s cluster"
I am try use End user JWT authentication  with a OAuth2 Server, I created policy as follows. But I tried to test visits, the http_code is always 200.
apiVersion: "authentication.istio.io/v1alpha1"
kind: "Policy"
metadata:
  name: "jwt-example"
spec:
  targets:
  - name: httpbin
  origins:
  - jwt:
      issuer: "testing@secure.istio.io"
      jwksUri: "http://localhost:1111/Ku8Master/test"
  princ

[2018-11-09 16:42] qiwzhang commented on #2033
Hi @zhaorendong

Could you dump your envoy config?  by

curl http://127.0.0.1:admin_port/config_dump

Also could you post your expired JWT token here too

[2018-11-10 03:15] zhaorendong commented on #2033
A part of envoy config as follows.There is another problem, if I post expired JWT token,does the envoy not be intercepted? In other words, I must post effective JWT token,  the http_code is 401?

         "http_filters": [
            {
             "name": "jwt-auth",
             "config": {
              "allow_missing_or_failed": true,
              "rules": [
               {

[2018-11-10 19:01] qiwzhang commented on #2033
What I mean was: you post your expired token here for debugging.  we can use jwt.io to inspect it.  Not to use it in your test.

@lei-tang @diemtvu .  It could not problem in authentication filter.  Could you take a look?

[2018-11-10 19:58] lei-tang commented on #2033
@zhaorendong Can you share the detailed steps to reproduce the issue you encountered?

[2018-11-11 12:51] zhaorendong commented on #2033
Hi @lei-tang
First, I created one namespaces foo,with two services, httpbin and sleep, both running with an Envoy sidecar proxy. I send an HTTP request with curl from the sleep pod to the httpbin in the namespace foo .
All requests succeed with HTTP code 200. This is all right. Then  I try to create End-user authentication According to this "https://istio.io/docs/tasks/security/authn-policy/#end-u

[2018-11-11 15:05] lei-tang commented on #2033
@zhaorendong Can you try the tutorial in https://istio.io/docs/tasks/security/authn-policy/? Are you able to successfully run the JWT authentication in https://istio.io/docs/tasks/security/authn-policy/#end-user-authentication?

[2018-11-20 04:15] lei-tang commented on #1366
The PR #2039 is created to add more information to the authn rejection message. An authn policy may contain multiple origin authentication policies and/or multiple peer authentication policies. The rejection message does not have mTLS/JWT failure code since the authentication fails when none of the mTLS/JWT policies are satisfied (not due to a single mTLS/JWT policy failure).

[2018-11-26 17:12] #1983 closed

[2018-11-26 17:15] qiwzhang commented on #1840
If you are using Istio/Mixer, you can try this idea.  https://github.com/istio/proxy/issues/1983

[2018-11-26 17:15] #1840 closed

[2018-11-26 20:20] colt-jay opened #2043 "Istio-Proxy does not log JSON anymore"

[2018-11-26 20:36] qiwzhang commented on #2043
The trend in Envoy is to remove JSON in favor of protobuf message.  Now all filter config are in protobuf message format.

My suggestion is to use :admin_port/config_dump.  It is still using JSON.

[2018-11-26 21:10] colt-jay commented on #2043
How do I go about using :admin_port/config_dump.

Also to provide some context, I'm using this on Kuberenetes and specifically the helm chart for istio

[2018-11-26 22:34] qiwzhang commented on #2043
You can find document for envoy admin [interface](https://www.envoyproxy.io/docs/envoy/latest/operations/admin)

[2018-11-29 19:51] ddska commented on #1955
@gupash please tell me how did you resolve the issue?

[2018-11-29 20:10] gupash commented on #1955
Hi,
We didn't make much progress in this issue, also our kube cluster admin is
quite strict in installing stuff and hence there were a few other things
too, that we couldn't install in istio for our usecase.

Hemce we had to finally abandon istio and try other open source tools.

On Thu, Nov 29, 2018 at 11:51 AM Dmitry Lisovsky <notifications@github.com>
wrote:

--
Regards,
Ashish Gupta
gupta.ashi

[2018-11-30 08:50] hzxuzhonghu opened #2049 "Comatibility question"
**Background:**

Currently we deploy istio 1.0 in our product,  and we want to upgrade envoy to achieve this function https://github.com/envoyproxy/envoy/pull/4430.

But we don't want to upgrade istio now.
What we want to do is :

1. cherry-pick back https://github.com/istio/istio/pull/9112 to our istio 1.0.

1. upgrade envoy to the latest stable version.

That is Istio 1.0 + latest Envoy

**So I

[2018-11-30 17:12] qiwzhang commented on #2049
You definitely need latest istio/proxy in order to use latest Envoy.  I am afraid that latest proxy may not be compatible with istio 1.0 Pilot.

[2018-12-01 00:16] hzxuzhonghu commented on #2049
Actually,  I need https://github.com/envoyproxy/envoy/pull/4430 this. Not sure its compatibility

[2018-12-01 00:29] qiwzhang commented on #2049
The safe bet is to patch this change into the Envoy that Istio/proxy 1.0 uses.  It is 2d8386532f68899ca1fe6476dc458b0df1260b29, so

1) folk a envoy from 2d8386532f68899ca1fe6476dc458b0df1260b29, and patch it with the desired change
2) got Istio/proxy from 1.0 branch,  and update its Envoy sha to your fork.

the build a istio/proxy .tar.gz,  and build istio/proxy docker image.

This is not an easy

[2018-12-01 00:32] hzxuzhonghu commented on #2049
IC,  thanks.

[2018-12-03 16:14] janmasarik opened #2051 "End user <-> Service question"
Hey,

I have a quick question after reading through [docs](https://istio.io/help/ops/security/end-user-auth/) / [proposals](https://docs.google.com/document/d/1rU0OgZ0vGNXVlm_WjA-dnfQdS3BsyqmqXnu254pFnZg/edit#heading=h.a55i8313mldm) for End user authentication via Istio.

However, I wasn't able to find out where should I get valid JWT token in user facing OAuth2 app. There is a mention about usage

[2018-12-03 17:09] qiwzhang commented on #2051
@lizan @diemtvu

[2018-12-06 19:18] kyessenov commented on #1983
Guide available here https://github.com/istio/istio/wiki/Route-directive-adapter-development-guide

[2018-12-07 20:04] objectiser opened #2054 "Envoy master not generating zipkin trace data"
FYI: https://github.com/envoyproxy/envoy/issues/5241

Tracing data is not currently being generated from SHA https://github.com/envoyproxy/envoy/commit/43fc77901ee8a1608239daaa51b531f922628083.

So don't update the Envoy SHA until this issue has been resolved.

[2018-12-10 17:52] lizan commented on #2051
Just follow OpenID Connect flow to get token from the authorization server, istio is only responsible for validating them. For Okta follow the doc: https://developer.okta.com/authentication-guide/implementing-authentication/

[2018-12-13 05:04] lei-tang opened #2062 "Authenticate an exchanged token"
A JWT token from a client may be exchanged to another token upon reaching the perimeter of a service mesh. Need to authenticate the exchanged token and extract the authenticated payload to be consumed by the authorization filter.

[2018-12-13 19:14] kyessenov opened #2064 "Deprecate attributes_for_mixer_proxy and legacy node id derivation"
It appears no matter what the value of `attribute_for_mixer_proxy` is set to, the value comes from the node metadata (even if it's empty).

We should remove the logic for this field from proxy to avoid confusion, and mark the field as deprecated.

Later on, we should also remove the derivation logic from the legacy node ID (blah~blah).

[2018-12-18 09:07] janmasarik commented on #2051
Thanks for the answer, but this approach would have few drawbacks:
- hard to implement with 3rd party applications without built-in authentication
- language specific, developers still have to worry about authentication

In my experience, both are quite big drawbacks and both could get resolved easily by some Istio built-in auth proxy. Validation of the JWT solely, doesn't really offer that much o

[2018-12-20 15:12] HPrinz commented on #163
This link is broken. The envoy grpc-json transcoder filter can be found here: https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/grpc_json_transcoder_filter?

[2018-12-24 03:37] zhaorendong commented on #2033
I've found out reason. Because of the sidecar is not automatic injection, so the policy didn't work.

[2018-12-24 03:37] #2033 closed

[2018-12-24 06:40] zhaorendong opened #2072 "Invalid inline jwks for issuer: testing@secure.istio.io, jwks: {"keys":[]}"
I created the policy like following:

apiVersion: "authentication.istio.io/v1alpha1"
kind: "Policy"
metadata:
  name: "jwt-example2"
spec:
  targets:
  - name: httpbin
  origins:
  - jwt:
      issuer: "testing@secure.istio.io"
      jwksUri: "http://192.168.18.3:8083/oauth/key"
  principalBinding: USE_ORIGIN

The policy worked well, but when the jwk invalid and my oauth server updated a new jwk,

[2019-01-02 17:09] qiwzhang commented on #2072
Could you get config_dump from the Envoy admin port to see what config Pilot send to Envoy?  JWK is fetched by the Pilot.

[2019-01-12 01:49] mandarjog opened #2079 "SIGSEGV with gcr.io/istio-release/proxyv2:release-1.1-20181222-09-15"
[code]

debug backtrace
[code]

backtrace
[code]

[2019-01-12 01:51] mandarjog commented on #2079
[ingress-core.zip](https://github.com/istio/proxy/files/2751599/ingress-core.zip)

[2019-01-12 01:51] mandarjog commented on #2079
Jimmy can you triage this?

[2019-01-13 14:06] mandarjog commented on #2079
@qiwzhang ?
It seems that Envoy::Http::Mixer::Config is NULL ...

[2019-01-13 19:13] JimmyCYJ commented on #2079
Why client_config.pb.h does not exist? Seems that check_cluster() tries to access config_pb_ which does not exist.

[2019-01-14 17:45] qiwzhang commented on #2079
@mandarjog could you help to get the envoy binary for this build in order for me to open the core file?

[2019-01-14 18:01] qiwzhang commented on #2079
By reading the code

[code]

It seems that ControlFactory is gone so that tls_  and config_ are all freed.   But somehow the lambda function set to the tls_ is still called from a new worker thread.

Need to look at Envoy ThreadLocal::Slot code if see if it has any bugs in such race condition.

[2019-01-14 18:16] mandarjog commented on #2079
[ingress-core-debug-release-1.1-20181222-09-15.zip](https://github.com/istio/proxy/files/2756511/ingress-core-debug-release-1.1-20181222-09-15.zip)

[2019-01-14 18:18] mandarjog commented on #2079
@munrodg Also including this as P0 for 1.1

[2019-01-16 18:57] lizan commented on #2079
@qiwzhang can you elaborate what is "bad" Listener? I think it is some race condition that Listener is gone before posted thread local lambda is executed?

[2019-01-16 19:01] JimmyCYJ commented on #2079
@lizan The log posted by @munrodg shows that Envoy rejects a listener config and then hits Segmentation fault. This might cause ControlFactory in HTTP Mixer client to be destroyed, but the lambda posted by ControlFactory is executed later. I agree this is a race condition and we should not pass pointer to ControlFactory into the lambda's capture list.

[2019-01-17 19:35] JimmyCYJ commented on #2079
@mandarjog The proxy SHA which fixes this issue is updated in istio/istio.

[2019-01-17 19:51] #2079 closed

[2019-01-23 11:36] janmasarik commented on #2051
Okay, so I think I found a solution to this for GCP.

It seems that [IAP](https://cloud.google.com/iap/) is basically everything we need in connection with Istio's JWT ES256 validation, right?

[2019-01-24 18:51] lei-tang commented on #2072
The failing case using the URL https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com as the jwksUri is due that the key format in this URL is not supported by Istio Envoy proxy. Please refer to https://tools.ietf.org/html/rfc7517 for the format of the json web key.

- The jwks in the working config ("https://raw.githubusercontent.com/istio/istio/release-1.0/secur

[2019-01-24 19:03] lei-tang commented on #2072
This issue is closed as expected behavior: the format of the jwks acceptable for Istio proxy is defined by the standard https://tools.ietf.org/html/rfc7517; the key in the failing config ("https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gserviceaccount.com") is not of the jwks format in https://tools.ietf.org/html/rfc7517.

[2019-01-24 19:03] #2072 closed

[2019-01-24 20:09] jcurlier commented on #2072
Thanks @lei-tang

[2019-01-24 20:38] jcurlier commented on #2072
I found the valid file for Firebase for the certificate:
[code]

[2019-01-24 20:40] jcurlier commented on #2072
The URL has an expiration of Fri, 25 Jan 2019 02:38:45 GMT - do you know if it will refresh the certificate?

[2019-01-28 21:30] lizan opened #2096 "strip redundant metadata from reporting bag"
mixer filter build report data and collect all dynamic data from stream info which has following redundant ones:
- `rbac` permissive code / policy ID
- `istio.mixer:status` for logging

https://github.com/istio/proxy/pull/2093/files#r251591314 @kyessenov

[2019-02-05 20:21] pnambiarsf opened #2104 "Expose envoy metrics service config via envoy pilot agent"
We currently run mainline envoy as sidecars with a limited in-house implementation of the control plane in production.We are in the process of migrating to Istio. Metrics are published from envoy to the metrics service that in turn publishes to our company’s telemetry backend. We will need to support this flow during the migration at the very least along with telemetry via mixer.

Therefore we wou

[2019-02-16 00:04] kyessenov commented on #1836
At this point, we should probably preserve "connection.* means downstream" semantics for backwards compatibility. So the work is to add upstream connection attributes. This is also a good chance to address https://github.com/istio/istio/issues/11600.

[2019-02-18 03:34] zhaorendong opened #2119 "How to make the JWK refresh envoy as soon as it is updated"
How to make the JWK refresh envoy as soon as it is updated. Is there anything you can configure? In other words， can the envoy get the new JWk at once when I create a new policy？

[2019-02-19 18:41] yangminzhu commented on #2119
Istio proxy doesn't fetch the public key, it gets it from Pilot. See more here: https://github.com/istio/istio/issues/10547.

I will close this one as it's not related to the istio/proxy repo. Thanks.

[2019-02-19 18:41] #2119 closed

[2019-02-20 22:41] douglas-reid opened #2122 "Ensure that telemetry is flushed in event of proxy shutdown"
This may already happen as a result of envoy's graceful shutdown. However, we should validate that batched reports that have not been pushed are flushed to istio-telemetry in the case of a shutdown.

kNative use case of short-lived pods is one example of use case where this sort of guarantee was requested.

/cc @kyessenov @mandarjog

[2019-02-21 00:19] kyessenov opened #2124 "flaky/failing test: mixer_fault_test"
Clean build with bazel 0.22:
[code]

/assign @duderino

[2019-02-21 23:00] kyessenov commented on #2124
Please triage. I'm not sure what's happening in the test for it to segfault...

[2019-02-22 17:39] douglas-reid opened #2127 "Excessive logging about PERMISSIVE mode"
Installing Istio without mTLS results in logs being filled with warnings (1 line per request). This is excessive, especially when someone has explicitly opted out of mTLS.

These logs need to be rate limited or sampled, or otherwise replaced.

[code]

[2019-02-22 17:40] douglas-reid commented on #2127
/cc @duderino @mandarjog @geeknoid

I believe this is a 1.1 milestone issue, but I'm not able to set that in this repo.

[2019-02-22 17:45] duderino commented on #2127
https://github.com/istio/proxy/pull/2125 fixed this.  will be in rc1

[2019-02-22 18:09] mandarjog commented on #2127
dup of https://github.com/istio/istio/issues/11925

[2019-02-22 18:09] #2127 closed

[2019-02-23 00:00] #1958 closed

[2019-02-23 10:32] yskopets commented on #1958
Hi!

Yes, I confirm that the issue is fixed as of `Istio v1.0.5`

[2019-02-23 19:32] duderino commented on #2124
@kyessenov I've never seen this before.  Can you tell me more about the build env so I can try to reproduce?

[2019-02-25 06:32] kyessenov commented on #2124
[code]

[2019-02-26 11:01] zachidan opened #2132 "istio-proxy fails to startup on Kubernetes if a Service object is not defined"
It looks that the _istio-proxy_ (sidecar) requires a Service object, otherwise the proxy fails to startup.

If I create a POD object **without** a Service object, the istio-proxy fails to startup (see logs below)

Is it by design ? If yes, it should be documented.

Setup:
- Kubernetes cluster v1.12.5+IKS
- istio-1.1.0-snapshot.5

Logs:
[code]

[2019-02-27 03:07] vikasguptaanaplan opened #2134 "istio-proxy segfaulting in kubernetes (using istio 1.0.6)"
[code]

[2019-03-01 06:04] duderino commented on #2124
One of my dev envs is really similar to that and I haven't seen an issue.  What version of clang are you using (or gcc)?

[code]

[2019-03-02 01:52] vladlosev commented on #2134
I see a similar crashes in 1.1.0-rc.1, these come with a stack dump:
[code]

[2019-03-04 14:03] deitrix commented on #651
@qiwzhang This PR doesn't solve the described issue, it only accounts for including/excluding paths from the Policy. This issue requires excluding a particular HTTP method, for all requests, regardless of the path.

As per the spec, CORS pre-flight requests shouldn't include user credentials:
http://www.w3.org/TR/cors/#cross-origin-request-with-preflight-0

It's a common use-case that certain meth

[2019-03-04 16:47] qiwzhang commented on #651
@deitrix you request to bypass auth for OTPIONS makes sense.

@lei-tang could you help?

[2019-03-04 20:43] lei-tang commented on #651
@qiwzhang Sure.

[2019-03-05 23:15] #651 closed

[2019-03-06 18:32] dmitri-d commented on #2124
We are seeing this failure too and are investigating.

[2019-03-06 20:22] bdecoste commented on #2124
I *think* this is related to the changed to MixerClientImpl::RemoteCheck in this commit:

https://github.com/istio/proxy/commit/c521e9a0674d0317e97c18128457e77867ab7be3#diff-515bc54a0cbb4b12fb4a7c465758b011

[2019-03-06 20:29] duderino commented on #2124
@bdecoste that commit couldn't have broken a pre-existing mixer fault test because it introduced the mixer fault test for the first time.  See https://github.com/istio/proxy/commit/c521e9a0674d0317e97c18128457e77867ab7be3#diff-5cb2b09f81d5cc6b505e3e0a6962ffed

I haven't seen this failure yet in any of the automated tests, so don't let it block you.  I can fix after 1.1 goes out too.

[2019-03-06 20:33] bdecoste commented on #2124
@duderino I've been able to trace the bad_function_call/SIGABRT to that call. I haven't been able to figure anything out beyond that. Since we're building & testing with a different toolset this is probably still a concern for us.

[2019-03-06 20:37] duderino commented on #2124
Ah, that's interesting.   Now I'm very curious too.

[2019-03-06 20:39] bdecoste commented on #2124
We see this failure 100% of the time even with a single connection and single request. We haven't been able to determine yet if this is a problem with the core or just something in the test itself.

[2019-03-06 21:00] kyessenov commented on #2124
Still seeing, also 100% of the time.
[code]

This is the standard ubuntu clang-7 package.

[2019-03-06 21:42] bdecoste commented on #2124
I suspect that one of the std::function calls is empty coming from here: https://github.com/istio/proxy/blob/release-1.1/src/istio/mixerclient/client_impl.cc#L187-L189

[2019-03-18 17:58] douglas-reid opened #2154 "FR: Forward istio attributes in HTTP response header"
Just like we flow forward info like `source.*` attributes, we should flow back `destination.*` attributes and related.

`Report()`ing on requests at the client often depends on passing `destination.uid` attributes and having Mixer (the `kubernetesenv` adapter) populate details about the server workload, etc.

It would be useful if that information flowed between proxies for `Report`s instead. The

[2019-03-18 18:14] kyessenov commented on #2154
Seems quite reasonable. In absence of env adapters, each proxy needs to send all the source.* attributes, and receive back all destination.* attribute. There are two issues that need more thought:

1. non-HTTP protocol are difficult to augment extra forwarding information.

2. Should policy _ever_ depend on env derivation? It currently does for things like labels. On client-side any info about des

[2019-03-18 21:21] mandarjog commented on #2154
1. This will definitely solve the case for http which is the most common case.
2. Server side policy can depend on env derivation. When using mtls the cert could contain additional claims like source uid. This coupled with env, now we don’t need to forward anything. If the additional claims contain deployment metadata, then we don’t need env.
@dimetvu is adding such meta data possible now?

We may

[2019-03-18 21:37] kyessenov commented on #2154
Regarding 2: Is this another case where we could benefit from better Galley-driven coordination? We could detect if a policy uses `source.labels`, for example, and then make every proxy forward that metadata within mTLS envelope.

[2019-03-19 15:50] douglas-reid commented on #2154
I'm not sure that a metadata service would necessarily be more efficient. That could be 2+ RPCs for ever request. That also means more moving parts, failure modes, etc. that have to be managed.

[2019-03-19 19:29] kyessenov commented on #2154
Metadata can be fetched out of band. We'd need another xDS service to re-use envoy config machinery, but could rely on xDS synchronization primitives to keep local metadata cache up to date.

[2019-03-28 21:41] pitlv2109 opened #2159 "Istio Proxy logs are spammed with warnings about deprecation from Envoy"
Currently, Istio Proxy logs are filled with warnings about deprecation like:

These warnings take a large portion of the logs (e.g. 80-90% when debugging RBAC).

**Expected behavior:**
Much less deprecation warings.

[2019-04-03 07:47] procyclinsur opened #2160 "OPTION JWT authentication bypass not working"
**Issue**
---
I have cross-site traffic going from app.service.net going to api.service.net.  The application is required to authenticate this traffic with istio via JWT.  However during the initial interaction OPTIONS is being forced to authenticate with istio.  Since OPTIONS commands do not include `Authentication` headers it fails with `401 unauthorized`.

As I understand it, the below issues/P

[2019-04-08 03:27] procyclinsur commented on #2160
@lei-tang I wanted to check with you as you originally created the fix for this issue.  It seems like the fix may not be working any longer??

[2019-04-08 17:21] lei-tang commented on #2160
Per the implementation at https://github.com/istio/proxy/blob/master/src/envoy/http/jwt_auth/jwt_authenticator.cc#L71, for an OPTIONS request to be bypassed, the request must 1)be of OPTIONS method, 2)the origin must be non-empty, 3)AccessControlRequestMethod must be non-empty. Can you turn on the debug log and see if the requests meet the above conditions? If the requests do not meet these condit

[2019-04-09 01:51] procyclinsur commented on #2160
@lei-tang Thank you for the response, I have turned debugging on and receive the following in my istio-ingressgateway logs.

[code]
This is very strange, as the headers specifically sent from the browser look like this..

![image](https://user-images.githubusercontent.com/34673206/55767596-82685700-5ab4-11e9-81f2-b27834bff45f.png)

do you have any idea what might be causing istios logs to show thi

[2019-04-09 02:17] lei-tang commented on #2160
Perhaps the logs in the post { "bytes_sent": "29" ....}  are not Istio Envoy proxy logs. The [link ](https://istio.io/help/ops/security/debugging-authorization/#ensure-proxies-enforce-policies-correctly) has an example of turning on the debug logging in Istio Envoy proxy.

[2019-04-09 03:27] procyclinsur commented on #2160
@lei-tang I tried turning on various debug logs, many of them gave no apparent clues, however when enabling debug on the `http` and `filter` logs the following appears.

For HTTP debug logs, it seems that the request is coming in as expected.

[code]

The `filter` debug log also appears to show no apparent dependencies.

[code]

I am continuing to look for clues in the debug log.  Please let me kn

[2019-04-10 00:34] lei-tang commented on #2160
The following lines in the logs indicate that the request was going through JWT authentication.
- [2019-04-09 03:05:23.888][35][debug][filter] [src/envoy/http/jwt_auth/jwt_authenticator.cc:62] Jwt authentication starts
- [2019-04-09 03:05:23.889][35][debug][filter] [src/envoy/http/authn/origin_authenticator.cc:83] Origin authenticator failed

https://github.com/istio/proxy/blob/master/src/envoy/ht

[2019-04-10 14:37] procyclinsur commented on #2160
@lei-tang I was running through the procedures to rebuild istio with the required logging, and I was very surprised to find that your changes for JWT authentication do not exist in either the 1.1.1 or 1.1.2 tag or release!! I am 100% certain that this is why my OPTIONS method is not being bypassed..

As a release was pushed out just 8 days ago I am shocked to see it didn't include many of the outs

[2019-04-10 17:22] lei-tang commented on #2160
I created a PR https://github.com/istio/proxy/pull/2165 to cherry-pick the two PRs related to "Add the support of bypassing JWT authn for CORS requests" from master branch to release 1.1 branch. After the cherry-picked PR is merged, it should be included in the next Istio release. As to the time line for new releases, please reach out to @duderino.

[2019-04-11 00:27] procyclinsur commented on #2160
@lei-tang Thank you for the fast response! I am following #2165, and will adjust my installation as necessary until merged.

@duderino When might I be able to expect this to be in a tagged release after merged?  Is there a timeframe for releases?

[2019-04-11 20:53] silentdai opened #2169 "v1.0: circleCI on macos evn is failing"
My PR #2168 is failing because of this.

My investigation shows macos is using brew to install bazel 0.23 which is not consistent with other linux platform.

Could any one having a Mac verify it? Thanks!

[2019-04-11 22:23] silentdai commented on #2169
@utka Could you grab this?

[2019-04-12 16:51] utka commented on #2169
No, ask costin.

[2019-04-15 13:54] kevchu3 opened #2174 "Segmentation fault and budget exhausted"
**Describe the bug**
I left a handful of application pods with istio-proxy sidecars running over the weekend and when I checked this morning, they had all restarted at different points in the weekend.  One thing that I noticed that may be related is that the app node that hosted these pods was at 85% disk space used on /var/lib/docker while another app node that hosted another set of pods with ist

[2019-04-16 08:49] Meai opened #2175 "Compile error on GCC >8.1 "clearing an object of non-trivial type""
https://github.com/istio/proxy/blob/master/src/envoy/utils/stats.cc#L39

`memset(&old_stats_, 0, sizeof(old_stats_));`

this doesn't compile on GCC 8.1

[code]

[2019-04-16 20:49] yangminzhu opened #2177 "Update istio authn filter to align with changes in Envoy"
https://github.com/envoyproxy/envoy/pull/6144 Did some large refactor to the SSL struct in Envoy which will break the Isio authentication filter.

- the `Ssl::Connection` is renamed to `Ssl::ConnectionInfo`
- the `uriSanPeerCertificate()` is changed to return `std::vector<std::string>` from `std::string`

/cc @snowp @lizan A quick question, there is a `TODO(snowp): Remove this in favor of StreamIn

[2019-04-16 23:29] lizan commented on #2177
So instead of accessing `callbacks_->connection()->ssl()` like here (via FilterContext in istio authn filter though):
https://github.com/istio/proxy/blob/1.1.3/src/envoy/http/authn/authenticator_base.cc#L59

Use `callbacks_->streamInfo()->downstreamSslConnection()` to get the peer information. Rename and return type change should be straightforward.

[2019-04-17 14:31] kevchu3 commented on #2174
Closing this issue as I've reopened it in the istio/istio repository instead:

https://github.com/istio/istio/issues/13398

[2019-04-17 14:31] #2174 closed

[2019-04-18 00:06] yangminzhu commented on #2177
@lizan  Thanks for the comment, it turns out there are some other break changes, sent out a PR to resolve them all.

[2019-04-19 19:34] #2177 closed

[2019-04-24 08:44] haiyangu opened #2183 "Can't access rabbitmq management GUI with istio ingress gateway"
I'm deploying a RabbitMQ chart on kubenetes with istio enabled.
Now I'd like to access rabbitmq management GUI with istio ingress gateway.
The gateway and virtualservice configuration are as following:
[code]
However fail to access from browser with following log info.
The access URL is http://rabbitmq.com:31380
[code]

Seems the istio envoy ingress gateway can not match host "rabbitmq.com:31380".

[2019-04-25 14:45] huang195 opened #2185 "Issue with default batch_report size"
We were looking at Istio long-tail latency issue in 1.0.6, and eventually came to the conclusion that a major contributor to the problem is the batch reporting mechanism for telemetry data. By default, batch report happens every 1000 requests or 1 second, whichever comes first. In Istio 1.1, the default value was changed to every 100 requests. This gave a big improvement to the long-tail latency i

[2019-04-28 06:32] lurenjia528 opened #2188 "build proxy"
git clone "https://github.com/istio/proxy.git"
git checkout 1.1.4
bazel build //...

INFO: Elapsed time: 6136.435s, Critical Path: 1727.53s
INFO: 2483 processes: 2483 linux-sandbox.
INFO: Build completed successfully, 3397 total actions

envoy  version: 73fa9b1f29f91029cc2485a685994a0d1dbcde21/1.11.0-dev/Modified/DEBUG/BoringSSL

can this version be used?

[2019-04-30 09:57] cmacdonnacha commented on #2160
Hey guys, just tried this in Istio 1.1.4 and I'm still seeing this issue where JWT authentication is being checked on an OPTIONS request.

[2019-04-30 14:06] procyclinsur commented on #2160
@cmacdonnacha

Yes, currently it seems it will be.. hopefully coming in v1.2 based on my conversations with the project owners.  However I have gotten no definitive answers on when that might be coming down the pipe...  That being said, as the 1.2 branch has not been cut from master yet, it seems to be a waiting game.

[2019-05-07 14:21] Jonathan34 commented on #2160
So i am using gke which is using istio 1.0.6 and this appears to be working fine for me.
I have an auth policy set per namespace to validate jwt tokens. that policy is active for all services (so i define targets) except for the front end (which is used to authenticate the users and retrieve the jwt token)

This is the service definition (api-myapp.domain.com) that the ui (https://myapp-ui.domain.

[2019-05-08 07:16] sanadhis opened #2205 "Cannot getting started with Envoy: Unable to parse JSON as proto"
Hi,

I tried to follow the outdated readme here:
https://github.com/istio/proxy/blob/master/src/envoy/http/mixer/README.md
Somehow I have managed to build mixer, to start backend echo server, and to build envoy proxy.

However I could not start the envoy:
`./src/envoy/http/mixer/start_envoy`

And I received such error:
`Unable to parse JSON as proto (INVALID_ARGUMENT:(cluster_manager) clusters: Ca

[2019-05-08 15:21] huang195 commented on #2169
It looks like this is still a problem, and to make it even worse, brew is now installing bazel 0.25 and is going even further away from 0.22 that we use for linux. I'm debugging this issue here: https://github.com/istio/proxy/pull/2203. But if there's anyone more experience w/ bazel and circleci, some help would be appreciated. This is currently blocking all the PRs as CI is consistently failing.

[2019-05-14 08:08] procyclinsur commented on #2160
From the Istio Slack!

Q: Do we have a target of when to release 1.2 yet?
A: freeze in may 21st release in june 22

[2019-05-16 16:26] silentdai opened #2218 "master: sync release 1.1 branch"
- [ ] Update istio/api for 1.1rc5 (#2153)
a5d5a46

- [ ] Fixes environment-dependent failures in MixerFaultTest (#2144)
9d52640

- [ ] Update API and import envoyproxy/envoy#6263 (#2157)  …
55c8096

- [ ] update envoy to latest (#2158)  …
5a9945b

- [ ] release 1.1: Update envoy to enable path normalization (#2166)  …
bf8b9cd

- [ ] Sync istio/api for 1.1.3 (#2170)
a169a0c

- [ ] Updating API sha

[2019-05-17 22:18] silentdai commented on #2218
Thank @crazyxy for taking this!

[2019-05-20 17:15] krdln opened #2224 "Possible dangling pointer in Grpc::AsyncClientFactory's lambda"
I was trying to understand memory and resource management in mixer filter and I found something that looks like a possible dangling pointer.

In [GrpcTransport::GetFunc](https://github.com/istio/proxy/blob/09efba115b4b0a170efe214b0b7055f89fbf7f79/src/envoy/utils/grpc_transport.cc#L90-L104) we create a lambda that captures `Grpc::AsyncClientFactory` by reference. The async factory is afaiu [the one

[2019-05-20 23:24] #2218 closed

[2019-05-21 05:05] pitlv2109 commented on #2175
I had the same issue when compiling on Debian buster using gcc. I fixed it by using clang instead. Try installing clang and set
[code]
then rebuild.

[2019-05-21 06:50] Meai1 commented on #2175
@pitlv2109 what version of clang?

[2019-05-24 18:44] srispl opened #2234 "Envoy sidecar throwing deprecated warnings"
Envoy sidecar logs are rolling with lot of warnings and the same log is repeating for 100s of times which is increasing log file size + complicate readability.

================= Consolidated log message ===================

[warning][misc] [external/envoy/source/common/protobuf/utility.cc:174] Using deprecated option 'envoy.api.v2.Cluster.hosts' from file cds.proto. This configuration will be rem

[2019-05-28 12:59] srispl opened #2240 "Envoy sidecar throwing deprecated warnings"
Envoy sidecar logs are rolling with lot of warnings and the same log is repeating for 100s of times which is increasing log file size + complicate readability.

================= Consolidated log message ===================

[warning][misc] [external/envoy/source/common/protobuf/utility.cc:174] Using deprecated option 'envoy.api.v2.Cluster.hosts' from file cds.proto. This configuration will be rem

[2019-05-29 14:41] howardjohn commented on #2240
Dupe of https://github.com/istio/proxy/issues/2234

[2019-05-29 14:41] #2240 closed

[2019-05-29 14:42] howardjohn commented on #2234
In istio 1.2 we added a flag to pilot agent, proxyComponentLogLevel. This allows you to configure log levels by component. We default this to misc:error which hides the deprecated messages.

[2019-06-03 17:40] kyessenov opened #2256 "Run upstream tests in post-submit"
We need to monitor upstream tests (from envoy and envoy-wasm) for any problems in our build. This is possible since we may change the base workspace and dependencies do not match. Envoy is fairly sensitive to particular versions of its libraries (e.g. absl).

I think we should add a post-submit here and the testgrid for this purpose, since there is no need to run this on every pre-submit (upstream

[2019-06-12 20:50] esnible commented on #2234
Closing as a duplicate of https://github.com/istio/proxy/issues/2159

[2019-06-12 20:50] #2234 closed

[2019-06-12 20:50] esnible commented on #2159
See https://github.com/istio/proxy/issues/2234#issuecomment-496966804

[2019-06-13 00:49] howardjohn commented on #2159
This is fixed in 1.2, see https://github.com/istio/proxy/issues/2234#issuecomment-496966804

As far as actually migrating off the deprecated features, I believe there is work being done in these areas. if not we should open issues for those, but the actual log issue has been solved

[2019-06-13 00:49] #2159 closed

[2019-06-13 15:18] esnible opened #2272 "Build error "+ operator on a depset is forbidden""
If I attempt `make` or `bazel build //...` I get the following error

[code]

I am running bazel version `0.26.1-homebrew`.

[2019-06-14 08:48] zkf9971 opened #2276 "Is it possible to enable "tls: mode: PASSTHROUGH" for the istio-proxy sidecar?"
We have a pod run a container, and this container runs over https and locates behind a nginx ingress which ssl passthrough is enabled, the TLS connection is terminated in this container, it means that the end-to-end TLS is supported between the client and the container, we can access its service endpoint through the https protocol from the client with curl https://<service endpoint>:443.

But the

[2019-06-14 18:47] duderino commented on #2160
This will be in both 1.1.9 (est release date 6/17/19) and 1.2.0 (est release date 6/18/19)

[2019-06-18 04:40] procyclinsur commented on #2160
@duderino Thank you!! I will test this out and then close this today or tomorrow (JST)

[2019-06-25 01:30] procyclinsur commented on #2160
tested release 1.2.. closing

[2019-06-25 01:30] #2160 closed

[2019-06-25 01:35] lei-tang commented on #2160
@procyclinsur Thank you for confirming that the solution works on release 1.2!

[2019-06-25 15:19] nmittler opened #2288 "Automate publishing of macOS binaries"
To do this, we'll need to add cross compilation support for envoy and istio-proxy.

Needed to resolve: https://github.com/istio/istio/issues/13677

[2019-06-25 15:19] nmittler commented on #2288
FYI @PiotrSikora

[2019-06-25 19:32] PiotrSikora commented on #2288
...or use macOS-based CI (Prow, CircleCI, etc.), that should be much easier than cross-compilation.

[2019-06-26 15:14] ramaraochavali opened #2290 "cherry pick specific commit of Envoy to 1.2 release"
We would like to see the possibility of having this PR (envoyproxy/envoy#7019)  available in 1.2 Proxy. Are proxy changes to 1.2 release acceptable? If yes, what is the way we can cherry pick that PR ?

[2019-06-26 15:14] ramaraochavali commented on #2290
@duderino I created this issue to discuss and get your thoughts on if it is a possibility.

[2019-06-28 23:08] yangminzhu commented on #1992
Closing this one as we don't need to migrate in the near future, could reopen if needed.

[2019-06-28 23:08] #1992 closed

[2019-07-02 00:43] yangminzhu opened #2299 "JWT filter has memory leak in public key verification"
See comments in https://github.com/istio/proxy/pull/2298/files#r299253113

/cc @qiwzhang

[2019-07-02 00:50] fpesce commented on #2299
boringssl has smart ptr with destructors for ssl structures.

[2019-07-02 00:50] #2299 closed

[2019-07-06 10:01] zqzzq opened #2300 "is it possible to build istio-proxy in mips64 platform"
my host is mips64 platform with linux:
[code]
and the bazel has already supported mips64:
[code]
but when I build istio-proxy I encountered this error:
[code]
Does this error mean that I need to change the source code to add a toolchain for mips64?

[2019-07-08 17:08] silentdai opened #2302 "Use raw string literal in the test"
See https://en.cppreference.com/w/cpp/language/string_literal
```prefix(optional) R "delimiter( raw_characters )delimiter"```

One of the example to be update is here https://github.com/istio/proxy/blob/716f81bc6e24a4e8502c631c25df2aa3c7686beb/src/envoy/http/jwt_auth/jwt_authenticator_test.cc#L256

[code]

[2019-07-10 02:34] cereus725 opened #2303 "build proxy rpm failed"
**Bug description**
tried to build sidecar rpm for RedHat VM mesh expansion, but failed with below error:

[code]

**Steps to reproduce the bug**
[code]

[2019-07-10 02:35] cereus725 commented on #2303
Detail logs：
[code]

[2019-07-10 02:41] irisdingbj commented on #2303
How to build a rpm package for our istio-proxy? Currently we only have deb package support.

[2019-07-10 02:45] morvencao commented on #2303
Looks like an envoy build issue, @clyang82 do you have any insight for this?

[2019-07-10 07:04] clyang82 commented on #2303
You can have a try with the steps provided in this issue - https://github.com/envoyproxy/envoy/issues/7082

[2019-07-10 07:54] clyang82 commented on #2303
I guess you may use gcc6+ for the build. You have to use gcc7+.

GCC 7+ or Clang/LLVM 7+ (for C++14 support).

[2019-07-11 00:52] cereus725 commented on #2303
Yes, thank you @clyang82 . We will use gcc7+ for the build.

[2019-07-11 00:55] cereus725 commented on #2303
Close it, because we have created same issue in istio repo.
https://github.com/istio/istio/issues/15423

[2019-07-11 00:55] #2303 closed

[2019-07-22 23:09] yangminzhu opened #2318 "proxy-postsubmit failed to build proxy"
It seems the postsubmit failed since https://github.com/istio/proxy/pull/2310 with the following message:
[code]

@utka Could you help take a look? This is blocking Istio from updating the proxy sha which is needed for https://github.com/istio/istio/issues/15631 for 1.3, thank you!